In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('denue_comercioalpormenor_parte1.csv', encoding = "ISO-8859-1", low_memory=False)

In [ ]:
data

In [4]:
data.head()

,id,nom_estab,raz_social,codigo_act,nombre_act,per_ocu,tipo_vial,nom_vial,tipo_v_e_1,nom_v_e_1,...,localidad,ageb,manzana,telefono,correoelec,www,tipoUniEco,latitud,longitud,fecha_alta
0,45218,ABARROTE ALONDRA,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,CALLE,SANTA MÓNICA,AVENIDA,SANTA CECILIA,...,Aguascalientes,3149,21,4492615468,NaN,NaN,Fijo,21.905252,-102.247373,2014-12
1,44426,ABARROTE ELO,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,CALLE,PICACHO ORIENTE,CALLE,SIERRA DE TEPEHUANES,...,Aguascalientes,2348,9,NaN,NaN,NaN,Fijo,21.909587,-102.258099,2014-12
2,45593,ABARROTE MILCA,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,CALLE,NINGUNO,CALLE,SIERRA DE SAN BERNARDINO,...,Aguascalientes,2352,39,NaN,NaN,NaN,Fijo,21.914093,-102.253052,2014-12
3,46315,ABARROTE SAN JUAN,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,CALLE,JOSÉ BUSTAMANTE,AVENIDA,VALLE DE LOS ROMEROS,...,Aguascalientes,3505,1,4491399759,NaN,NaN,Fijo,21.936464,-102.261187,2014-12
4,34063,"ABARROTERA FRANCO SOLO CALIDAD, S.A. DE C.V.",NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,CALLE,NINGUNO,CALLE,NINGUNO,...,Aguascalientes,1462,13,NaN,NaN,NaN,Fijo,21.832828,-102.290087,2014-12

In [ ]:
#columnas_nulas = data.isnull().sum()
#columnas_nulas

In [ ]:
#columnas_descartar = list(columnas_nulas[columnas_nulas > 125000].index)

In [ ]:
#data_sin_colnulas = data.drop(columnas_descartar, axis=1)

In [5]:
data_cambio_nombre = data.rename(columns={'nom_estab':'nombre_establecimiento',
                                         'raz_social':'razon_social',
                                         'codigo_act':'codigo_act_economica',
                                         'nombre_act':'nombre_act_economica',
                                         'per_ocu':'numero_empleados',
                                         'cve_ent':'clave_entidad',
                                         'cve_mun':'clave_municipio',
                                         'cve_loc':'clave_localidad',
                                         'cod_postal':'codigo_postal'})
#data_cambio_nombre

In [6]:
data2 = data_cambio_nombre[['nombre_establecimiento', 'razon_social', 'codigo_act_economica', 'nombre_act_economica', 
                            'numero_empleados', 'clave_entidad', 'entidad', 'clave_municipio', 'municipio', 
                            'clave_localidad', 'localidad', 'ageb', 'codigo_postal', 'latitud', 'longitud']]
#data2

In [7]:
dataset = pd.DataFrame(data2)
dataset

,nombre_establecimiento,razon_social,codigo_act_economica,nombre_act_economica,numero_empleados,clave_entidad,entidad,clave_municipio,municipio,clave_localidad,localidad,ageb,codigo_postal,latitud,longitud
0,ABARROTE ALONDRA,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,1,AGUASCALIENTES,1,Aguascalientes,1,Aguascalientes,3149,20299.0,21.905252,-102.247373
1,ABARROTE ELO,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,1,AGUASCALIENTES,1,Aguascalientes,1,Aguascalientes,2348,20175.0,21.909587,-102.258099
2,ABARROTE MILCA,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,1,AGUASCALIENTES,1,Aguascalientes,1,Aguascalientes,2352,20175.0,21.914093,-102.253052
3,ABARROTE SAN JUAN,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,1,AGUASCALIENTES,1,Aguascalientes,1,Aguascalientes,3505,20126.0,21.936464,-102.261187
4,"ABARROTERA FRANCO SOLO CALIDAD, S.A. DE C.V.",NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,1,AGUASCALIENTES,1,Aguascalientes,1,Aguascalientes,1462,20280.0,21.832828,-102.290087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628805,VINOS Y LICORES,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,32,ZACATECAS,17,Guadalupe,1,Guadalupe,1487,98615.0,22.768706,-102.499856
628806,VINOS Y LICORES PEPES,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,32,ZACATECAS,39,Río Grande,1,Río Grande,058A,98400.0,23.830825,-103.032679
628807,XPRESS EL MINERO,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",11 a 30 personas,32,ZACATECAS,42,Sombrerete,1,Sombrerete,1193,99100.0,23.639396,-103.628581
628808,ZAPATERÍA,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,32,ZACATECAS,57,Trancoso,1,Trancoso,0041,98640.0,22.734630,-102.368620
628809,ZAPATERÍA Y ABARROTES SIN NOMBRE,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",0 a 5 personas,32,ZACATECAS,21,Jiménez del Teul,1,Jiménez del Teul,0299,99280.0,23.253281,-103.800567

In [8]:
dataset['nombre_establecimiento'] = dataset['nombre_establecimiento'].str.title()
dataset['entidad'] = dataset['entidad'].str.title()
#dataset

In [9]:
dataset.dtypes

nombre_establecimiento     object
razon_social               object
codigo_act_economica        int64
nombre_act_economica       object
numero_empleados           object
clave_entidad               int64
entidad                    object
clave_municipio             int64
municipio                  object
clave_localidad             int64
localidad                  object
ageb                       object
codigo_postal             float64
latitud                   float64
longitud                  float64
dtype: object

In [ ]:
#dataset[['codigo_act_economica','clave_entidad', 'clave_municipio', 'clave_localidad', 'codigo_postal']] = dataset[['codigo_act_economica','clave_entidad', 'clave_municipio', 'clave_localidad', 'codigo_postal']].astype('object')

In [ ]:
#dataset.dtypes

In [ ]:
#dataset['clave_entidad'] = dataset['clave_entidad'].rjust(2,'0')

In [10]:
dataset['clave_entidad'] = dataset['clave_entidad'].astype(str).str.zfill(2)
dataset['clave_municipio'] = dataset['clave_municipio'].astype(str).str.zfill(3)
dataset['clave_localidad'] = dataset['clave_localidad'].astype(str).str.zfill(4)
#dataset

In [11]:
dataset['clave_municipio'] = dataset['clave_entidad'] + dataset['clave_municipio']
dataset['clave_localidad'] = dataset['clave_entidad'] + dataset['clave_municipio'] + dataset['clave_localidad']
#dataset

In [12]:
dataset.numero_empleados.unique()

array(['0 a 5 personas', '6 a 10 personas', '11 a 30 personas',
       '51 a 100 personas', '31 a 50 personas', '101 a 250 personas',
       '251 y más personas'], dtype=object)

In [13]:
dataset['numero_empleados'] = dataset['numero_empleados'].astype(str).str.replace('0 a 5 personas','3').str.replace('11 a 30 personas','20').str.replace('31 a 50 personas','40').str.replace('51 a 100 personas','75').str.replace('101 a 250 personas','175').str.replace('251 y más personas','251')
dataset

,nombre_establecimiento,razon_social,codigo_act_economica,nombre_act_economica,numero_empleados,clave_entidad,entidad,clave_municipio,municipio,clave_localidad,localidad,ageb,codigo_postal,latitud,longitud
0,Abarrote Alondra,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",3,01,Aguascalientes,01001,Aguascalientes,01010010001,Aguascalientes,3149,20299.0,21.905252,-102.247373
1,Abarrote Elo,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",3,01,Aguascalientes,01001,Aguascalientes,01010010001,Aguascalientes,2348,20175.0,21.909587,-102.258099
2,Abarrote Milca,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",3,01,Aguascalientes,01001,Aguascalientes,01010010001,Aguascalientes,2352,20175.0,21.914093,-102.253052
3,Abarrote San Juan,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",3,01,Aguascalientes,01001,Aguascalientes,01010010001,Aguascalientes,3505,20126.0,21.936464,-102.261187
4,"Abarrotera Franco Solo Calidad, S.A. De C.V.",NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",3,01,Aguascalientes,01001,Aguascalientes,01010010001,Aguascalientes,1462,20280.0,21.832828,-102.290087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628805,Vinos Y Licores,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",3,32,Zacatecas,32017,Guadalupe,32320170001,Guadalupe,1487,98615.0,22.768706,-102.499856
628806,Vinos Y Licores Pepes,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",3,32,Zacatecas,32039,Río Grande,32320390001,Río Grande,058A,98400.0,23.830825,-103.032679
628807,Xpress El Minero,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",20,32,Zacatecas,32042,Sombrerete,32320420001,Sombrerete,1193,99100.0,23.639396,-103.628581
628808,Zapatería,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",3,32,Zacatecas,32057,Trancoso,32320570001,Trancoso,0041,98640.0,22.734630,-102.368620
628809,Zapatería Y Abarrotes Sin Nombre,NaN,461110,"Comercio al por menor en tiendas de abarrotes,...",3,32,Zacatecas,32021,Jiménez del Teul,32320210001,Jiménez del Teul,0299,99280.0,23.253281,-103.800567

In [14]:
dataset.dtypes

nombre_establecimiento     object
razon_social               object
codigo_act_economica        int64
nombre_act_economica       object
numero_empleados           object
clave_entidad              object
entidad                    object
clave_municipio            object
municipio                  object
clave_localidad            object
localidad                  object
ageb                       object
codigo_postal             float64
latitud                   float64
longitud                  float64
dtype: object

In [15]:
dataset[['codigo_act_economica', 'codigo_postal', 'latitud', 'longitud']] = dataset[['codigo_act_economica', 'codigo_postal', 'latitud', 'longitud']].astype('object')

In [16]:
dataset.dtypes

nombre_establecimiento    object
razon_social              object
codigo_act_economica      object
nombre_act_economica      object
numero_empleados          object
clave_entidad             object
entidad                   object
clave_municipio           object
municipio                 object
clave_localidad           object
localidad                 object
ageb                      object
codigo_postal             object
latitud                   object
longitud                  object
dtype: object