Proyecto de Data Importing and cleaning.

La base que escogí fue la de libros de Goodreads...porque nerd de toda la vida.

Los comentarios son para que en el futuro sepa qué hice. :D

In [1]:
#1 Cargar los paquetes
import pandas as pd
import os

os.getcwd()

'C:\\Users\\Ramiro Antonio\\Documents\\ironhack_labs\\pandas-project\\your-code'

In [2]:
#2 Cargar la base de datos y poner columnas
cols = ['bookID', 'title', 'authors', 'average_rating0', 'isbn', 'isbn13', 'language_code',
        'num_pages', 'ratings_count', 'text_reviews_count']      #SI NO LE PONES EL NOMBRE DE COLUMNAS NO JALA


direccion = "C:/Users/Ramiro Antonio/Documents/ironhack_labs/pandas-project/your-code"
libros = pd.read_csv("books.csv")

In [ ]:
libros

In [3]:
libros.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,Unnamed: 10
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,439785960,9780439785969,eng,652,1944099,26249,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,439358078,9780439358071,eng,870,1996446,27613,NaN
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,439554934,9780439554930,eng,320,5629932,70390,NaN
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,439554896,9780439554893,eng,352,6267,272,NaN
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,9780439655484,eng,435,2149872,33964,NaN

In [4]:
#3 Describir base de datos
libros.describe()    #sólo te describe las variables que son numéricas...sin embargo, hay algunas que no las toma en cuenta
                    # por tener algunos strings y ser objeto

             bookID  ratings_count  text_reviews_count  Unnamed: 10
count  13719.000000   1.371900e+04        13719.000000     5.000000
mean   22160.579270   1.775903e+04          533.606385     6.200000
std    13699.603351   1.129371e+05         2528.600316     6.418723
min        1.000000   0.000000e+00            0.000000     0.000000
25%    10621.000000   8.300000e+01            7.000000     4.000000
50%    21322.000000   6.300000e+02           40.000000     4.000000
75%    33322.000000   4.737000e+03          222.000000     6.000000
max    47709.000000   5.629932e+06        93619.000000    17.000000

In [5]:
#4 Primero voy a tirar la columna "Unnamed:10" que no sé por qué está ahí. Ni siquiera está en el csv original
libros = libros.drop(["Unnamed: 10"], axis = 1)

#Tampoco necesitamos la variabla de isbn13 (con isbn basta)
libros = libros.drop(["isbn13"], axis = 1)

In [6]:
#5 Voy a verificar qué tipo de variables son cada columna. Lo anterior para tener un mejor describe
libros.dtypes

bookID                 int64
title                 object
authors               object
average_rating        object
isbn                  object
language_code         object
num_pages             object
ratings_count          int64
text_reviews_count     int64
dtype: object

In [ ]:
#De aquí aprendimos que las variables "average_rating", "num_pages" son tratadas como objetos. 
#Sin embargo, quiero que "num_pages" sea un int.

#Esto quiere decir que hay registros en la columna que tienen "us-Eng" en lugar de un número. 
#Toca eliminar esos datos porque son espurios.

In [7]:
#Vamos a eliminar los datos que tengan "en-US" de la columna num_pages porque son incorrectos
libros.loc[(libros['num_pages']=='en-US')] =0    #con esto reemplamos a cero los datos de num_pages que tenían "en-US"
#libros.num_pages = libros.num_pages.astype(int) #ahora nos dice que hay regitros con "en". Los tenemos que remover

libros.loc[(libros['num_pages']=='en')] =0  #con esto el describe de num_pages debería salir
libros.loc[(libros['num_pages']=='eng')]= 0

libros.describe()

#Como no sale, lo forzas a que sea interger
#libros.num_pages = libros.num_pages.astype(int)

             bookID  ratings_count  text_reviews_count
count  13719.000000   1.371900e+04        13719.000000
mean   22151.782856   1.775892e+04          533.437641
std    13704.958759   1.129371e+05         2528.566273
min        0.000000   0.000000e+00            0.000000
25%    10613.500000   8.200000e+01            7.000000
50%    21318.000000   6.300000e+02           40.000000
75%    33304.000000   4.737000e+03          222.000000
max    47709.000000   5.629932e+06        93619.000000

In [8]:
#Esto está interesante, pero podemos tirar también aplicando condiciones. Aqui tiramos todos los que tengan 0 páginas
libros = libros.drop(libros[libros['num_pages']==0].index)   #listo. Tambien se hubiera podido 
                                                     #libros.drop(libros[libros['num_pages']==int].index) 

libros.num_pages = libros.num_pages.astype(int)
#Recuerda guardar en la misma dataframe para que puedas recuperar cambios   
libros.describe()

             bookID     num_pages  ratings_count  text_reviews_count
count  13714.000000  13714.000000   1.371400e+04        13714.000000
mean   22159.859195    342.402727   1.776540e+04          533.632128
std    13700.926816    252.650165   1.129572e+05         2529.006691
min        1.000000      0.000000   0.000000e+00            0.000000
25%    10619.250000    196.000000   8.300000e+01            7.000000
50%    21321.500000    301.000000   6.305000e+02           40.000000
75%    33311.750000    421.000000   4.742250e+03          222.000000
max    47709.000000   6576.000000   5.629932e+06        93619.000000

In [9]:
#Para que sea libro tiene que tener más de 10 páginas, borramos las que tengan menos de 10
libros = libros.drop(libros[libros['num_pages'] < 10].index)
libros.describe()

             bookID     num_pages  ratings_count  text_reviews_count
count  13485.000000  13485.000000   1.348500e+04        13485.000000
mean   22165.534297    348.167742   1.805833e+04          542.208528
std    13715.694144    250.849599   1.138896e+05         2549.506435
min        1.000000     10.000000   0.000000e+00            0.000000
25%    10613.000000    202.000000   8.800000e+01            7.000000
50%    21321.000000    304.000000   6.650000e+02           42.000000
75%    33367.000000    425.000000   4.863000e+03          229.000000
max    47709.000000   6576.000000   5.629932e+06        93619.000000

In [ ]:
#Ahora pasamos a la variable average_rating
#libros.describe("average_rating") 

#Describe dice que tiene valores str. Entonces hay que elminarlos.

In [10]:
#Trabajamos la variable "average_ratings"

libros = libros.drop(libros[libros['average_rating']==str].index) #tira todas filas con valor de str de average_rating
libros.average_rating = libros.average_rating.astype(float) #transforma de object a float
libros.describe() 
#libros

,bookID,average_rating,num_pages,ratings_count,text_reviews_count
count,13485.000000,13485.000000,13485.000000,1.348500e+04,13485.000000
mean,22165.534297,3.930400,348.167742,1.805833e+04,542.208528
std,13715.694144,0.355636,250.849599,1.138896e+05,2549.506435
min,1.000000,0.000000,10.000000,0.000000e+00,0.000000
25%,10613.000000,3.770000,202.000000,8.800000e+01,7.000000
50%,21321.000000,3.960000,304.000000,6.650000e+02,42.000000
75%,33367.000000,4.130000,425.000000,4.863000e+03,229.000000
max,47709.000000,5.000000,6576.000000,5.629932e+06,93619.000000

In [11]:
#Variable inglés. No nos importa la variación del inglés, por lo que vamos a homogenizarlo a inglés
#Vemos cuántas variables de inglés hay

set(libros['language_code'])

{'ale',
 'ara',
 'cat',
 'dan',
 'en-CA',
 'en-GB',
 'en-US',
 'eng',
 'enm',
 'fre',
 'ger',
 'gla',
 'glg',
 'grc',
 'heb',
 'ita',
 'jpn',
 'lat',
 'msa',
 'mul',
 'nl',
 'nor',
 'por',
 'rus',
 'spa',
 'srp',
 'swe',
 'tur',
 'wel',
 'zho'}

In [12]:
#Hay tres variaciones de inglés. Vamos a hacerla una sola
libros['language_code'] = libros['language_code'].str.replace('-','')
set(libros['language_code'])
libros['language_code'] = libros['language_code'].str.replace('CA','')
set(libros['language_code'])
libros['language_code'] = libros['language_code'].str.replace('GB','')
libros['language_code'] = libros['language_code'].str.replace('US','')
set(libros['language_code'])


#Ok, como me equivoqué en libros['language_code'] = libros['language_code'].str.replace('en','eng'), vamos a regresar todos a en

{'ale',
 'ara',
 'cat',
 'dan',
 'en',
 'eng',
 'enm',
 'fre',
 'ger',
 'gla',
 'glg',
 'grc',
 'heb',
 'ita',
 'jpn',
 'lat',
 'msa',
 'mul',
 'nl',
 'nor',
 'por',
 'rus',
 'spa',
 'srp',
 'swe',
 'tur',
 'wel',
 'zho'}

In [13]:
libros['language_code'] = libros['language_code'].str.replace('eng','en')
set(libros['language_code'])

{'ale',
 'ara',
 'cat',
 'dan',
 'en',
 'enm',
 'fre',
 'ger',
 'gla',
 'glg',
 'grc',
 'heb',
 'ita',
 'jpn',
 'lat',
 'msa',
 'mul',
 'nl',
 'nor',
 'por',
 'rus',
 'spa',
 'srp',
 'swe',
 'tur',
 'wel',
 'zho'}

In [14]:
#La siguiente variable a limpiar es la de text_reviews. Queremos libros que han sido reseñados al menos 5 veces

libros = libros.drop(libros[libros["text_reviews_count"]<5].index)
libros.describe()

,bookID,average_rating,num_pages,ratings_count,text_reviews_count
count,10869.000000,10869.000000,10869.000000,1.086900e+04,10869.000000
mean,21698.995768,3.945656,355.835035,2.239749e+04,672.355322
std,13649.785909,0.270064,250.970098,1.264750e+05,2824.402689
min,1.000000,2.400000,10.000000,9.000000e+00,5.000000
25%,10220.000000,3.780000,210.000000,2.960000e+02,22.000000
50%,19819.000000,3.960000,309.000000,1.414000e+03,79.000000
75%,32625.000000,4.130000,432.000000,7.735000e+03,337.000000
max,47709.000000,4.820000,6576.000000,5.629932e+06,93619.000000

In [15]:
#Verificamos los valores de las páginas 
set(libros['num_pages'])  #Todos son enteros

{2057,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 24,
 25,
 26,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 39,
 40,
 2088,
 42,
 43,
 44,
 46,
 48,
 49,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 2208,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 2512,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 2662,
 616,
 617,
 618,
 619,
 620,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 2690,
 642,
 643,
 644,
 646,
 647,
 648,
 649,
 650,
 645,
 652,
 653,
 654,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 2704,
 666,
 667,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 679,
 680,
 681,
 683,
 684,
 685,
 686,
 687,
 688,
 690,
 691,
 692,
 693,
 694,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 707,
 4211,
 709,
 710,
 711,
 712,
 713,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 728,
 729,
 731,
 732,
 733,
 734,
 735,
 736,
 738,
 739,
 740,
 741,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 760,
 761,
 762,
 763,
 766,
 767,
 768,
 769,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 782,
 783,
 784,
 786,
 789,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 803,
 807,
 808,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 2198,
 820,
 821,
 822,
 823,
 163,
 825,
 827,
 828,
 830,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 843,
 845,
 847,
 848,
 849,
 850,
 851,
 852,
 855,
 856,
 859,
 860,
 861,
 862,
 864,
 865,
 867,
 868,
 869,
 870,
 872,
 879,
 880,
 2930,
 883,
 884,
 886,
 887,
 2934,
 889,
 890,
 891,
 892,
 893,
 895,
 896,
 898,
 900,
 902,
 904,
 905,
 906,
 907,
 909,
 912,
 913,
 914,
 916,
 2965,
 925,
 927,
 928,
 931,
 933,
 934,
 936,
 939,
 940,
 941,
 943,
 944,
 2480,
 956,
 957,
 958,
 960,
 964,
 966,
 967,
 969,
 972,
 973,
 3020,
 976,
 978,
 980,
 983,
 985,
 988,
 990,
 991,
 992,
 999,
 1000,
 1003,
 1004,
 1006,
 1007,
 1008,
 1011,
 1012,
 1013,
 1016,
 1017,
 1020,
 1021,
 1023,
 1024,
 3072,
 1034,
 1035,
 1036,
 1037,
 1038,
 1040,
 1041,
 1042,
 1045,
 1046,
 1050,
 1051,
 1054,
 1056,
 1059,
 1060,
 1061,
 1072,
 1074,
 1075,
 1076,
 1082,
 1083,
 1084,
 1085,
 1086,
 1088,
 1090,
 1092,
 1096,
 1099,
 1101,
 1103,
 1104,
 1107,
 1110,
 1120,
 1122,
 1132,
 1136,
 1137,
 1139,
 1144,
 1148,
 1152,
 1160,
 1162,
 1168,
 1173,
 1176,
 1178,
 1180,
 1181,
 1182,
 1184,
 1186,
 1191,
 1192,
 1199,
 1200,
 1207,
 1216,
 1222,
 1223,
 1227,
 1231,
 1232,
 1236,
 1238,
 1240,
 1248,
 1254,
 1256,
 1258,
 1260,
 1264,
 1270,
 1272,
 1273,
 1276,
 1278,
 1280,
 1284,
 3342,
 1296,
 4736,
 1312,
 1313,
 1327,
 1328,
 1333,
 1344,
 1346,
 1347,
 1369,
 1376,
 1379,
 1388,
 1392,
 1397,
 1407,
 1408,
 1420,
 1424,
 1425,
 1431,
 1436,
 1438,
 1443,
 1456,
 1462,
 1463,
 1470,
 ...}

In [16]:
import numpy as np

In [17]:
#Ratings. Queremos libros que tengan un ratings_count suficientemente evelvado

#Seleccionar aqui los que estén como entre el 25% de ratigs para arriba. percentile 25%
range_ratings = max(libros["ratings_count"]) - min(libros["ratings_count"])
print(range_ratings)


rango_intercuartil_menor = np.mean(libros["ratings_count"]) - np.std(libros["ratings_count"])
print(rango_intercuartil_menor)

rango_intercuartil_mayor = np.mean(libros["ratings_count"]) + np.std(libros["ratings_count"])
print(rango_intercuartil_mayor)

5629923
-104071.70513945018
148866.683886345

In [18]:
#Para quedarnos solamente con los libros que tengan una dispersión estándar abajo y arriba. 
#La media menos dispersión estándar da negativo.
#Como no quiero los libros que todo el mundo lee y sobrevalora, voy a quedarme con los que tengan hasta
#una dispersión por arriba de la media y que tengan al menos 100 rate_countings
libros = libros.drop(libros[libros["ratings_count"]<100.00].index)
libros = libros.drop(libros[libros["ratings_count"] > 148867.00].index)
libros.describe()

,bookID,average_rating,num_pages,ratings_count,text_reviews_count
count,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000
mean,21840.875789,3.948964,357.656316,9660.648000,391.519895
std,13549.578495,0.268033,253.475410,20566.182779,842.285661
min,4.000000,2.400000,10.000000,100.000000,5.000000
25%,10579.750000,3.790000,214.000000,442.750000,31.000000
50%,20072.500000,3.960000,312.000000,1750.000000,94.000000
75%,32586.000000,4.130000,431.000000,7902.250000,342.000000
max,47709.000000,4.820000,6576.000000,148339.000000,11109.000000

In [19]:
#Autores de libros

set(libros["authors"])  #Con autor quiero poner " et al." después del Primer autor

#Cambiar más de un autor a autor et al.
libros['authors'] = libros['authors'].str.replace(r'[-].*', ' et al.')
set(libros["authors"])

{'Stephen M. Pollan et al.',
 'Elmer Kennedy et al.',
 'Anne Rice',
 'Michael B. Oren',
 'Wesley Martin et al.',
 'Paulo Coelho',
 'Malcolm Lowry',
 'A.N. Roquelaure et al.',
 'Thomas Jefferson',
 'John A. Keel',
 'Betty  Smith',
 'Nelson DeMille',
 'Solomon Jones',
 'Harold G. Moore et al.',
 'Thomas Hobbes et al.',
 'Annie Pietri et al.',
 'Tobias Wolff',
 'Alex Kotlowitz',
 'Haruko Taya Cook et al.',
 'Brad Meltzer et al.',
 'Saul Leiter et al.',
 'Legs McNeil et al.',
 'Erle Stanley Gardner',
 'Ben Avery et al.',
 'bell hooks et al.',
 'Stephen Nachmanovitch',
 'Paul Crilley',
 'Christopher Isherwood',
 'Mary Pope Osborne et al.',
 'Khaled Hosseini',
 'Nancy White Carlstrom et al.',
 'Norman Schwarzkopf et al.',
 'Peter Sloterdijk et al.',
 'David Donovan',
 'Kate Mosse',
 'Russ Kick',
 'Mervyn Peake et al.',
 'Jean Van Leeuwen et al.',
 'Mark Leyner et al.',
 'Hemant Mehta et al.',
 'Bob Newhart',
 'Marilynne Robinson',
 'T.H. White et al.',
 'Beverly Daniel Tatum',
 'Leonora Carrington et al.',
 'Les Standiford',
 'Kim Newman',
 "Scott O'Dell",
 "Jun'ichirō Tanizaki et al.",
 'Erica Jong et al.',
 'Lee Child et al.',
 'Shel Silverstein',
 'Juliette Benzoni et al.',
 'Helen Ericson',
 'Nella Larsen',
 'Fyodor Dostoyevsky et al.',
 'David R. Hawkins',
 'Georges Perec et al.',
 'James Baldwin',
 'Dennis Brindell Fradin et al.',
 'Marta Acosta',
 'Paul Theroux',
 'Dodie Smith',
 'Milan Trenc',
 'Mark Epstein et al.',
 'Shannon Holmes',
 'Charles Darwin',
 'Leonardo da Vinci et al.',
 'Dan Harrington et al.',
 'Raph Koster et al.',
 'John Barth',
 'Linda Howard',
 'Brian Azzarello et al.',
 'Octavio Paz et al.',
 'David Allen Sibley',
 "Louis L'Amour",
 'Trudi Canavan',
 'V.S. Naipaul',
 'Haruki Murakami',
 'Max Allan Collins et al.',
 'Maurice Sendak',
 'Terry Jones et al.',
 'Lou Marinoff',
 'Melissa Panarello et al.',
 'Joe Kelly et al.',
 'Ruby K. Payne',
 'Thomas Lewis et al.',
 'Pearl Cleage',
 'Robert D. Kaplan',
 'Sharon Salzberg et al.',
 'Robert A. Johnson',
 'Lidia Matticchio Bastianich et al.',
 'Richard A. Lupoff et al.',
 'Martin Luther King Jr. et al.',
 'Paul De Man et al.',
 'Richard Rhodes',
 'Amanda Hemingway',
 'Thomas Bernhard et al.',
 'Robert  Mayer et al.',
 'Eleanor Dwight',
 'Yumi Hotta et al.',
 'Lotte H. Eisner',
 'Mary Higgins Clark et al.',
 'Emma Donoghue',
 'Temple Grandin et al.',
 'Mark Crispin Miller',
 'Susan Carroll',
 'Rosie Daley et al.',
 'Kresley Cole',
 'Devra Davis et al.',
 'Kaho Miyasaka',
 'James Mangold et al.',
 'George Crile',
 'Julie Leto',
 'David        Alexander',
 'George Bernard Shaw et al.',
 'Audrey Niffenegger',
 'Jeremy Leven',
 'William Golding et al.',
 'Yvon Chouinard',
 'Richard K. Morgan',
 'Boris Pasternak et al.',
 'Antonio Gramsci et al.',
 'Sam Harris',
 'Wole Soyinka et al.',
 'Steve Moore et al.',
 'Architecture For Humanity et al.',
 'Elizabeth Chadwick',
 'Rachel Cohn et al.',
 'Debbie Macomber',
 'Jim Fergus',
 'Meljean Brook',
 'K.A. Applegate et al.',
 'David Mitchell',
 'Marisha Pessl',
 'Stormie Omartian',
 'James Hillman',
 'Robert  Hamburger',
 'Edward P. Jones',
 'Russell Shorto',
 'Barbara Ehrenreich et al.',
 'Katherine Paterson',
 'Mary Walton',
 'Gavin Menzies',
 'Robert A. Heinlein et al.',
 'Steve Perry et al.',
 'Ruth Stiles Gannett',
 'J.M. Barrie et al.',
 'William Faulkner',
 'Theodore L. Brown et al.',
 'Alistair MacLeod',
 'Laura Dave',
 'Beth Hensperger et al.',
 'Frank Beddor',
 'Sei Shōnagon et al.',
 'Jeff Long',
 'Antonia Fraser',
 'Antonio Gramsci',
 'Duane P. Schultz et al.',
 'Lewis Carroll',
 'Lee Child',
 'Jillian Hunter',
 "America's Test Kitchen",
 'Nicholas Evans',
 'Bruce H. Wilkinson et al.',
 'Renee Baron et al.',
 'Harold Coyle',
 'Jiddu Krishnamurti et al.',
 'Doyle Brunson et al.',
 'Diane Mott Davidson',
 'Robert Kirkman et al.',
 'Richard A. Knaak et al.',
 'E.R. Eddison et al.',
 'Michelle Tea',
 'John Wilcockson et al.',
 'Paul Kengor',
 'Peter Kuper et al.',
 'Ben Counter',
 'Brian D. McLaren',
 'Daidōji Yūzan et al.',
 'Mayu Shinjō',
 'CLAMP et al.',
 'John Steinbeck',
 'Kiyohiko Azuma et al.',
 'Julia Golding',
 'Karyn Monk',
 'Amy Hempel',
 'Peter F. Hamilton et al.',
 'Stephanie Barron',
 'Jonathan Lethem',
 'Fannie Flagg et al.',
 'Richard   Preston et al.',
 'Cornelia Funke',
 'Andre Dubus III et al.',
 'Rodman Philbrick',
 'Paul Bowles',
 'Katherine Ramsland et al.',
 'Giuliana DePandi',
 'Peter Tremayne',
 'W. Haden Blackman',
 'Paul Farmer',
 'Hugh    Miller',
 'Narendra Jadhav',
 'Walt Whitman et al.',
 'Ken Kesey',
 'Louis Begley',
 'C.S. Lewis et al.',
 'Giorgio De Santillana et al.',
 'Rudyard Kipling et al.',
 'Emil M. Cioran et al.',
 'Iain M. Banks et al.',
 'Georges Perec',
 'Barbara Haworth et al.',
 'Caroline B. Cooney',
 'Sid Fleischman et al.',
 'Amy Cotler et al.',
 'Christopher Cokinos',
 'Junji Ito et al.',
 'Benjamin James Sadock et al.',
 'Garth Nix et al.',
 'Gene Wilder',
 'Jill Conner Browne',
 'Lauren Bacall',
 'Anonymous et al.',
 'Elaine Sciolino',
 'George Adamson',
 'Wayne G. Hammond et al.',
 'Mary Balogh',
 'Cara Black',
 'Konrad Lorenz et al.',
 'Cornelius Agrippa et al.',
 'Gordon Dahlquist',
 'Janet Geringer Woititz et al.',
 'William W. Johnstone',
 'Richard   Preston',
 'Julia Alvarez',
 'John Dickson Carr et al.',
 'Julia Indichova et al.',
 'Leil Lowndes',
 'Pindar et al.',
 'Manuel Rivas et al.',
 'Stewart Brand',
 'George MacDonald Fraser',
 'Eiji Nonaka et al.',
 'Allison Pearson',
 'Michael Parenti',
 'Mario Vargas Llosa',
 'Oscar Hijuelos',
 'Emma Forrest',
 'Michael J. Gelb',
 'Giovanna Borradori et al.',
 'Graham Chapman et al.',
 'Elizabeth Hardwick et al.',
 'Eckhart Tolle',
 'Bill Phillips',
 'Erich Fromm',
 'Alexandra Robbins',
 'Michael Ende et al.',
 'Jonathan Barnes',
 'Colleen McCullough',
 'Richard  Adams',
 'William Gaddis et al.',
 'Elizabeth George Speare et al.',
 'Edward W. Said et al.',
 'Christopher Hitchens',
 'Donna Goldberg et al.',
 'Richard Matheson et al.',
 'Dashiell Hammett et al.',
 'Georgette Heyer',
 'Neil Gaiman',
 'Nancy Tillman',
 'Francine Segan et al.',
 'Richard A. Knaak',
 'Warren Ellis',
 'Stephen R. Donaldson',
 'Julia Jarman et al.',
 'O. Henry',
 'Elan Golomb',
 'Evan Thomas',
 'J.G. Passarella',
 'Charles Dickens et al.',
 'Celeste De Blasis',
 'Ted Morgan et al.',
 'Chaim Potok',
 'Elizabeth Noble',
 'William H. Keith Jr.',
 'Dave Robinson et al.',
 'Timothy B. Tyson',
 'Keith Donohue',
 'Harper Lee',
 "Eugene O'Neill et al.",
 'Erich Maria Remarque et al.',
 'Laura Esquivel et al.',
 'Les Beletsky et al.',
 'John Scalzi',
 'Tracy Kidder',
 'Marguerite Duras',
 'Joyce Reardon et al.',
 'Alan Paton',
 'Douglas Adams et al.',
 'Franz Kafka',
 'Rudyard Kipling',
 'Ann Abramson et al.',
 'Quincy Jones',
 'Andy Griffiths et al.',
 'Celeste Bradley',
 'Helen L. Taylor',
 'Kate DiCamillo et al.',
 'Frank Herbert',
 'Marie McSwigan et al.',
 'Elinor M. Brent et al.',
 'Reed Martin et al.',
 'Harriet Beecher Stowe et al.',
 'Harold Bloom et al.',
 'Maxine Hong Kingston',
 'Richard Brautigan et al.',
 'Steven Watts',
 'Nella Larsen et al.',
 'Shirin Ebadi',
 'George Saunders et al.',
 'Alan Moore et al.',
 'Anne Easter Smith',
 'Jonathan Carroll et al.',
 'John M. Barry',
 'Andrea Levy',
 'Marc Platt',
 'Annie Proulx',
 'Sonallah Ibrahim et al.',
 'Cordwainer Smith',
 'Susan Forward et al.',
 'Eric Schlosser et al.',
 'Lincoln Child',
 'Timothy Zahn',
 'Bart D. Ehrman',
 'Stanley Wiater et al.',
 'The Paris Review et al.',
 'Bebe Moore Campbell',
 'Juliet Marillier',
 'Stendhal et al.',
 'Ruth Stiles Gannett et al.',
 'Mary B. Morrison',
 'Gloria Naylor',
 'Jeffrey E. Young et al.',
 'Dan Brown',
 'John Grisham et al.',
 'Joanne Harris',
 'Piers Anthony et al.',
 'Jean Stein et al.',
 'Friedrich Nietzsche',
 'William Easterly',
 'Deborah Bray Haddock',
 'François Rabelais et al.',
 'Russell Banks',
 'Miles J. Stanford',
 'Pauline Réage et al.',
 'Louann Brizendine',
 'Michelle Tea et al.',
 'Ruth Heller',
 'Greg Iles',
 'William Manchester',
 'Lawrence Sanders',
 'Stephen M.R. Covey',
 'Frances Gies et al.',
 'Kōji Suzuki et al.',
 'Robert McCloskey et al.',
 'Susan Power',
 'Joseph Conrad',
 'Jay Parini',
 'Christopher Moore',
 'Carrie Vaughn',
 'Edwidge Danticat',
 'Fulton J. Sheen',
 'Anya Seton et al.',
 'Leonard Sweet et al.',
 'Henrik Ibsen et al.',
 'James J. Gibson',
 'Max Lucado',
 'Stephen King',
 'Alexandre Dumas',
 'Donald Barthelme',
 'Marshall Sahlins',
 'Fred Saberhagen',
 'Josiah Bunting et al.',
 'Robert Templer',
 'Arthur Koestler',
 'Ben Schoen et al.',
 'Sylvia Browne',
 'Douglas Clegg',
 'Ai Morinaga',
 'Dai Sijie',
 'Fritjof Capra',
 'Robert  Evans',
 'Nora Ephron',
 'Ursula Hegi',
 'Christine Feehan',
 'Bruce Catton et al.',
 'Neil Strauss',
 'E.J. Wagner',
 'Thomas E. Woods Jr.',
 'Maggie Black et al.',
 'Edward T. Welch',
 'Anita Desai',
 'Detlev J.K. Peukert et al.',
 'Erik Larson',
 'Joanne Harris et al.',
 'Max Frisch',
 'Michael J. Bradley',
 'Louisa May Alcott et al.',
 'Jacob Baal et al.',
 'Paul Auster et al.',
 'Sam Shepard et al.',
 'Lauren Henderson et al.',
 'Leo Tolstoy',
 "Mary O'Neill et al.",
 'Victor Villaseñor',
 'Dan Nadel',
 'Bob Madgic et al.',
 'Julia Briggs',
 'Eamon Duffy',
 'Judith Tanka et al.',
 'Gavin Baddeley et al.',
 'James C. Scott',
 'Jeanette Winterson',
 'Jane Haddam',
 'Johann Wolfgang von Goethe et al.',
 'Li Bai et al.',
 'Javier Cercas et al.',
 'Michael Hanlon',
 'Mistress Lorelei',
 'Lyn Macdonald',
 'David A. Adler et al.',
 'Noah Gordon',
 'Francine Pascal',
 'Tony Parsons',
 'David Noonan',
 'Alistair Horne',
 'J.E. Austen Leigh et al.',
 'John McPhee et al.',
 'Dante Alighieri et al.',
 'Kaye Gibbons',
 'Stephen King et al.',
 'Alexander McCall Smith et al.',
 'Maggie Shayne',
 'Elise Broach',
 'Michael Chabon et al.',
 'King Arthur Flour',
 'Maureen Johnson',
 'Nancy MacDonell Smith et al.',
 'Lynne Ann DeSpelder et al.',
 'Stephen Briggs et al.',
 'E. Nesbit',
 'James D. Bradley et al.',
 'Natalie Goldberg',
 'James Joyce',
 'Gaius Julius Caesar et al.',
 'Lev Manovich',
 'Sam Shepard',
 'Margaret Weis',
 'Donald Kagan',
 'Foster W. Cline et al.',
 'Jim Trelease',
 'Marjane Satrapi et al.',
 'Jean M. Auel',
 'Tony Horwitz',
 'Sven Regener et al.',
 'Jackie French Koller et al.',
 'Anne McCaffrey',
 'Thomas Andrews et al.',
 'Alvin Schwartz et al.',
 'David Colbert',
 'Ursula Nordstrom et al.',
 'Raymond T. McNally',
 'John Escott et al.',
 'Orlando Figes',
 'Robert Penn Warren et al.',
 'Pete McCarthy',
 'E.L. Konigsburg',
 'James N. Frey',
 'Ben M. Baglio et al.',
 'John Irving et al.',
 'Hiroyuki Morioka',
 'Noel Streatfeild et al.',
 'Lolita Files',
 'Walter Dean Myers',
 'Karen Hesse et al.',
 'George Orwell',
 'Arthur Bennett',
 'Susan  Jeffers',
 'Richard Hanley',
 'Harpo Marx et al.',
 'Michel Foucault et al.',
 'Jodi Cobb et al.',
 'Lisa Trumbauer et al.',
 'Gary Paulsen',
 'Russell Roberts et al.',
 'Wallace Stegner et al.',
 'Charles Frazier',
 'Mark Bowden',
 'Bruce Coville et al.',
 'Colson Whitehead',
 'Robert B. Parker et al.',
 'George Bernard Shaw',
 'Rusty Young',
 'Aldon D. Morris',
 'Rebecca West et al.',
 'Arthur J. Roth',
 'George R.R. Martin et al.',
 'Terry Lee Rioux',
 'Kathryn  Hughes',
 'Kent R. Weeks',
 'Rob Sheffield',
 'J.R. Ward',
 'Janice N. Harrington et al.',
 'Plato et al.',
 'Nicola Davies et al.',
 'Patricia Cornwell',
 'Michael Cunningham',
 'J.R.R. Tolkien',
 'Geoffrey Miller',
 'Jean Stone',
 'Homer',
 'Gail A. Eisnitz',
 'J. Anthony Lukas',
 'Hafez',
 'Diane  Kennedy et al.',
 'Robert Shapard et al.',
 'Jostein Gaarder et al.',
 'Bart King et al.',
 'Marcus J. Borg',
 'Jeanne DuPrau',
 'Margaret Sidney',
 'Peter Robinson',
 'Robert Frost',
 'Giles Milton',
 'Chris Prentiss',
 'Patrick Süskind',
 'Sharon Kay Penman',
 'William Goldman',
 'Tom Kelley et al.',
 'Vikram Chandra',
 'Günter Grass',
 'Cynthia Lennon',
 'William   Anderson et al.',
 'Rajiv Chandrasekaran',
 'John Updike',
 'Norman Maclean et al.',
 'Brian Sibley et al.',
 'Daniel Quinn',
 'Roger Lowenstein',
 'James Salter',
 'Bill Watterson',
 'Wade Davis',
 'Wilkie Collins',
 'Margaret Shepherd et al.',
 'Devon W. Carbado et al.',
 'Sam Weller',
 'Linda Hall',
 'Aurelie Sheehan',
 'Chris Chester',
 'Stephen Wright',
 'Astrid Lindgren',
 'Hilaire Belloc et al.',
 'Josh McDowell',
 'William Makepeace Thackeray et al.',
 'John M. Hull et al.',
 'Cheryl St. John',
 'John Eldredge et al.',
 'Herodotus et al.',
 'Martine Agassi et al.',
 'Richard P. Feynman et al.',
 'Steve Augarde',
 'Will Ferguson',
 'Alice Sebold',
 'Paul Graham et al.',
 'David Foster Wallace',
 'Vladimir Nabokov',
 'Roald Dahl et al.',
 'Christopher Janaway',
 'Peter Singer',
 'George MacDonald et al.',
 'Pat Barker',
 'Federico García Lorca',
 'Luce Irigaray et al.',
 'Sylvia Cassedy',
 'Dave Thomas et al.',
 'Sheryl Feldman et al.',
 'Stanley Bing',
 'Roy Mottahedeh',
 'Susan Kandel',
 'Mort Rosenblum',
 'Linda Lael Miller',
 'Lindsey Davis',
 'Nisargadatta Maharaj et al.',
 'Reynolds Price et al.',
 'Yasuhiro Kano',
 'David Gregory',
 'Eric Chaisson et al.',
 'Timothy Ferris',
 'Seamus Deane',
 'Sylvia Plath et al.',
 'Richard Bachman et al.',
 'Al Franken',
 'John Henry Newman',
 'Stuart Russell et al.',
 'Martha Grimes',
 'James A. Michener',
 'Truman Capote',
 'Mark Twain et al.',
 'Charles Lamb et al.',
 'Terry Pratchett et al.',
 'Narise Konohara et al.',
 'Matthew Pearl',
 'Tennessee Williams et al.',
 'Troy Denning',
 'Donna Dale Carnegie',
 'Edward Gorey',
 'Laurie Halse Anderson',
 'Greg Cox et al.',
 'Stephen Jay Gould',
 'Isabel Allende',
 'Robert Scoble et al.',
 'Sarah Miller',
 'Grant Morrison et al.',
 'John Charles Chasteen',
 'Greg Bear',
 "Dinesh D'Souza",
 'Sue Miller',
 'C.S. Friedman',
 'Graham Greene et al.',
 'Jahan Ramazani et al.',
 'Megan McDonald et al.',
 'James Fenimore Cooper',
 'Mario Puzo et al.',
 'Neil Gaiman et al.',
 'Barry  Lopez',
 'Jack London et al.',
 'Natsuki Takaya et al.',
 'Nick  Webb',
 'Louis et al.',
 'Leonard Michaels et al.',
 'Bill Cosby et al.',
 'M.C. Beaton',
 'David      West',
 'Michael   Lewis',
 'Glen David Gold',
 'Italo Calvino et al.',
 'Elie Wiesel et al.',
 'R. Scott Bakker',
 'Cornel West',
 'Janet Flanner et al.',
 'Marcus Aurelius et al.',
 'Thomas Pynchon',
 'Michael  Howard et al.',
 'Robert Polito et al.',
 'Richard Dawkins et al.',
 'John Piper',
 'Irving Stone',
 'Irvine Welsh et al.',
 'Richard Peck',
 'Stephanie Rowe',
 'Irène Némirovsky et al.',
 'Paul Alexander',
 'René Descartes et al.',
 'Eric Flint et al.',
 'Yvonne Tasker',
 'Ilona Andrews',
 'Philippa Gregory',
 'Brian D. McLaren et al.',
 'Anthony Robbins et al.',
 'Norman Mailer',
 'Lynne Truss',
 'Cecil Adams',
 'Margaret George',
 'Steven Johnson',
 'Laura Caldwell',
 'James Pinocchio et al.',
 'Jack Weatherford',
 'Robert Jordan',
 'Sheri Reynolds',
 'Kathryn Lasky',
 'Billy Mills et al.',
 'Michael Craft',
 'Mark Bittman',
 'Bill Hybels et al.',
 'Danielle Steel',
 'Dave Pelzer',
 'Jan Needle et al.',
 'Jerome Clark et al.',
 'Lisa Whelchel et al.',
 'Kenneth Grahame et al.',
 'Bram Stoker',
 'Raymond Khoury',
 'Mercedes Lackey et al.',
 'Pablo Neruda et al.',
 'David L. Holmes',
 'James Ellroy et al.',
 'Richard Ellmann',
 'Thomas E. Skidmore et al.',
 'Lindsey Fraser et al.',
 'David Morrell',
 'Ai Yazawa',
 'Mary Roach',
 'Dean Koontz',
 'Bruce Catton',
 'Umberto Eco',
 'Bruce Cumings',
 'Joseph J. Ellis',
 'Katherine Neville',
 'Teresa Edgerton',
 'Ian Thomson',
 'Sandra Benítez',
 'Chris Bohjalian',
 'Thomas Harlan',
 'Deborah Eisenberg',
 'Annie Dillard',
 'Charles Burns',
 'Sarah Mlynowski',
 'Diana Souhami',
 'Jonathan Safran Foer',
 'Paul Strathern',
 'Jamie Lee Curtis et al.',
 'John D. Leonard et al.',
 'John F. MacArthur Jr.',
 'Marion Crawford et al.',
 'Wilkie Collins et al.',
 'James Wallace et al.',
 'Lauren Stringer',
 'Stephen Leeb et al.',
 'Lauren Slater et al.',
 'Sigrid Undset et al.',
 'A.B. Yehoshua et al.',
 'Eugène Ionesco',
 'Alain de Botton',
 'Louis de Bernières',
 'Ann Margaret Lewis et al.',
 'Jack McKinney',
 'Slavoj Žižek et al.',
 'Karl Marx et al.',
 'Desmond Morris',
 'Andrea Camilleri et al.',
 'Michael A. Stackpole et al.',
 'Rick Moody',
 'Syd Hoff',
 'Jane B. Mason et al.',
 'David Hewson',
 'Jerry Spinelli',
 'Marilyn French',
 'Rohinton Mistry',
 'Luis López Nieves',
 'Allen Carr',
 'Masaki Yamada et al.',
 'Timothy  Taylor',
 'Napoleon Hill',
 'Erika Lopez',
 'Jon Krakauer',
 'Pedro Calderón de la Barca',
 'Shiva Naipaul',
 'Jane Feather',
 'Dan Millman et al.',
 'Mark Mazower',
 'Marvin Kaye et al.',
 'Eric Homberger et al.',
 'Cecily von Ziegesar',
 'Christopher Bram',
 'Jacquelyn Mitchard',
 'Emily Barr',
 'Graham Greene',
 'George Eliot et al.',
 'Lois Lowry',
 'Henry Miller',
 'Lawrence M. Krauss et al.',
 'Rick Bass',
 'M. John Harrison',
 'R. Gary Patterson et al.',
 'John Keegan',
 'Garrison Keillor',
 'Andy Hertzfeld et al.',
 'Lama Surya Das',
 'Paul Hendrickson',
 'Benjamin Kunkel',
 'Anthony Burgess',
 'Stephenie Meyer',
 'Mary Wollstonecraft Shelley et al.',
 'Geoff Emerick et al.',
 'Patrick Robinson et al.',
 'Allen Ginsberg et al.',
 'Mark Smylie',
 'Wisława Szymborska et al.',
 'Neal Stephenson et al.',
 'Ben Elton',
 'Robert Mason',
 'Matthew Scully',
 'Marilyn Johnson',
 'Philip Levine',
 'Joseph Papp et al.',
 'Lisa Wheeler et al.',
 'Stephen Kinzer',
 'Sue Monk Kidd',
 'Marcia Angell',
 'Eric Bischoff et al.',
 'Faye Perozich et al.',
 'Greg Behrendt et al.',
 'Orson Scott Card et al.',
 'Abigail Thomas',
 'Jane Porter',
 'P.T. Deutermann',
 'John Kennedy Toole et al.',
 'Connie Mason',
 'Jeffery Deaver',
 'Catherine Thimmesh et al.',
 'Scott B. Smith',
 'Manuel Rivas',
 'Johnny Cash',
 'Chuck Palahniuk et al.',
 'Steven D. Levitt et al.',
 'Robert Brody',
 'Loraine Hutchins et al.',
 'Harper Lee et al.',
 'April Jones Prince et al.',
 'Melody Carlson',
 'Peter Gilliver et al.',
 'Daniel Pool',
 'Roger Lancelyn Green et al.',
 'Lane Smith',
 'Reginald Hill',
 'Jon Stone et al.',
 'Tracy Chevalier',
 'Dermot Moran',
 'Gertrude Chandler Warner',
 'George Gamow et al.',
 'John Ehle',
 'Daisy Meadows et al.',
 'Willa Cather',
 'T. Coraghessan Boyle et al.',
 'Kenzaburō Ōe et al.',
 'Roger Zelazny',
 'Ron Rash',
 'Annie Kubler',
 'V. Vale et al.',
 'Chris Ryall et al.',
 'Martin Millar et al.',
 'Jane Leslie Conly',
 'David Gemmell et al.',
 'Elizabeth Gilbert',
 'Penelope Fitzgerald',
 'Satyajit Das',
 'David K. Shipler',
 'Margaret Peterson Haddix',
 'Tom Brokaw',
 'Andrés Duany et al.',
 'Suzanne Farrell et al.',
 'Robin Landa',
 'Michael J. Nelson et al.',
 'Jeffrey Alford et al.',
 'Lois Lenski',
 'James D. Hornfischer',
 'Thomas Cahill',
 'David Wellington',
 'Simon Singh',
 'Gloria Goldreich',
 'Jan Struther et al.',
 'Jim Northrup',
 'Kate McMullan et al.',
 'Lora Leigh et al.',
 'Jim Murphy',
 'Donald T. Phillips',
 'Maeve Binchy',
 'Joan Jonker',
 'Malcolm Godwin',
 'Zlata Filipović et al.',
 'Edith Wharton',
 'Mulk Raj Anand et al.',
 'Nikki Giovanni',
 'Robert Bringhurst',
 'Marion Woodman et al.',
 'J.J. Isler et al.',
 'Kathleen Eagle',
 'Norman L. Geisler',
 'Louise Bates Ames et al.',
 'Denise Dersin',
 'Carson McCullers et al.',
 'David Almond',
 'Ian W. Toll',
 'Brenda Novak',
 'Dan Simmons et al.',
 'Betty Neels',
 'Friedrich A. Hayek',
 'Misao Inagaki et al.',
 'Jane Smiley',
 'Susan Hill',
 'Amos Oz et al.',
 'David Levithan',
 'Irving John',
 'Ian Fleming',
 'Elizabeth Hoyt',
 'Carol Lloyd',
 'Todd Gitlin',
 'Charles Willeford',
 'G. Richard Shell',
 'Colin Duriez',
 'Rob Williams et al.',
 'Lori Avocato et al.',
 'Jeff Rovin et al.',
 'George Saunders',
 'Snorri Sturluson et al.',
 'Stephen Crane',
 'Harry G. Frankfurt',
 'Richard Llewellyn',
 'Sebastian Faulks',
 'Kim Harrison',
 'Alistair McCallum et al.',
 'Debbie Raleigh et al.',
 'Karin Slaughter',
 'Lynn Kurland',
 'E.M. Forster',
 'Helen Vendler',
 'Winston S. Churchill et al.',
 'James Joyce et al.',
 'John Patrick Diggins et al.',
 'José Saramago',
 'Bob Dylan',
 'Robert McCloskey',
 'Janna Levin',

In [20]:
#contar valores de una columna
tabla = pd.DataFrame(libros.title.value_counts()).reset_index()
tabla.columns = ['nombre', 'cantidad']
tabla['unico'] = np.where(tabla.cantidad == 1, True, False)

In [21]:
#Para dropear una fila que tiene el titulo mal
libros['title'][libros.bookID ==38338]
libros = libros.drop(libros[libros["bookID"] == 38338].index)

In [22]:
#Ahora isbn number
set(libros['isbn'])

{'753819317',
 '785260943',
 '1593080158',
 '044669567X',
 '231073372',
 '1562926160',
 '743253426',
 '1573228710',
 '60002050',
 '940322714',
 '875428320',
 '743236149',
 '140093141',
 '500281335',
 '470038322',
 '575073675',
 '452007178',
 '451527925',
 '375708340',
 '60774126',
 '452284554',
 '009928264X',
 '743260945',
 '7115229',
 '1419953966',
 '292701322',
 '965415937',
 '192823310',
 '312277105',
 '1880656418',
 '849759682X',
 '1423600762',
 '99690608',
 '031227999X',
 '399154094',
 '691024170',
 '1582294011',
 '99273845',
 '201408252',
 '552998001',
 '312423136',
 '743491777',
 '618510826',
 '440400341',
 '375837892',
 '316014508',
 '64405710',
 '1585420824',
 '465024963',
 '552998834',
 '226805360',
 '744578264',
 '60977663',
 '157322751X',
 '60530480',
 '441104029',
 '802133290',
 '812524268',
 '192833766',
 '8420637017',
 '691017778',
 '691020167',
 '330490265',
 '679722017',
 '446695602',
 '226677184',
 '465099009',
 '140690483X',
 '679760229',
 '521439612',
 '679721037',
 '375758119',
 '006077407X',
 '312321201',
 '747562113',
 '394700023',
 '1883011183',
 '60727632',
 '671867423',
 '586040102',
 '446695696',
 '670557110',
 '380810956',
 '425215288',
 '787968331',
 '8489367019',
 '038073186X',
 '374506841',
 '486419258',
 '761956921',
 '192839993',
 '451180410',
 '1416903437',
 '886771382',
 '1402516274',
 '7102224',
 '446618675',
 '031026345X',
 '1575420775',
 '349115052',
 '822316412',
 '192802372',
 '321478061',
 '2070388093',
 '306808919',
 '689852231',
 '015173156X',
 '224073087',
 '380820889',
 '7178638',
 '451523202',
 '156421178',
 '034547824X',
 '684836270',
 '836218523',
 '031610969X',
 '345483871',
 '393093123',
 '140620273',
 '99284294',
 '1598165763',
 '373767617',
 '872207315',
 '816638624',
 '972393617',
 '316066141',
 '61130354',
 '60593636',
 '074328500X',
 '380804522',
 '385508476',
 '142437344',
 '141187883',
 '385733208',
 '756402212',
 '553815024',
 '451217411',
 '743498097',
 '60593202',
 '1400031567',
 '393954269',
 '187882323X',
 '393978192',
 '895260786',
 '1413902588',
 '783554559',
 '618134247',
 '60987529',
 '375413901',
 '1557092648',
 '60888695',
 '1400034418',
 '152025650',
 '373285248',
 '60556501',
 '575073608',
 '014101508X',
 '586071393',
 '486455599',
 '590442090',
 '074755904X',
 '1421510669',
 '039330695X',
 '1567921574',
 '1842322761',
 '1562010352',
 '752876821',
 '618433252',
 '60730676',
 '553582003',
 '99422689',
 '1400034256',
 '141014709',
 '1590171624',
 '805210539',
 '142400378',
 '1841491837',
 '1595581340',
 '439672325',
 '706421973',
 '747566755',
 '60541873',
 '812969995',
 '143039997',
 '552995827',
 '60086637',
 '64407446',
 '140424393',
 '1416918086',
 '788720392',
 '684826356',
 '743284798',
 '375401601',
 '3822818208',
 '079227363X',
 '1560971169',
 '195098315',
 '743270371',
 '1884365302',
 '670038032',
 '307345971',
 '765312808',
 '142404136',
 '312948964',
 '159816015X',
 '679734996',
 '006019491X',
 '078622469X',
 '156013983',
 '1575667223',
 '1556909179',
 '553058592',
 '375701168',
 '451529367',
 '141186356',
 '439933412',
 '582418135',
 '140189645',
 '037380248X',
 '786177837',
 '1593080034',
 '689868839',
 '385515502',
 '618710531',
 '1577314034',
 '087113960X',
 '385732538',
 '940322781',
 '552999954',
 '6531202',
 '1596913231',
 '747266972',
 '505521792',
 '8501072877',
 '044023784X',
 '446526126',
 '340654163',
 '1862056242',
 '822309327',
 '285647474',
 '415267471',
 '7151527',
 '1596912510',
 '451173317',
 '158642050X',
 '140173048',
 '038551641X',
 '034547581X',
 '156709902',
 '747574650',
 '312994818',
 '1931082723',
 '061815955X',
 '64402452',
 '316954993',
 '067003777X',
 '762427329',
 '373832710',
 '3518376780',
 '140316884',
 '1595821066',
 '844662925',
 '704102471',
 '1400043468',
 '679744479',
 '2317850',
 '039332107X',
 '8497594304',
 '898709792',
 '60977108',
 '521831431',
 '014243714X',
 '1416509348',
 '1557046832',
 '1841953679',
 '1405034149',
 '425146227',
 '743498712',
 '055357325X',
 '1569709084',
 '1556591608',
 '1569708851',
 '802132138',
 '64473554',
 '812553292',
 '689869908',
 '60832819',
 '1117066037',
 '345422554',
 '449904962',
 '805077979',
 '671708260',
 '385424701',
 '486420493',
 '141182865',
 '1400098238',
 '451530152',
 '765341174',
 '755304888',
 '312426038',
 '756402727',
 '60882638',
 '64407721',
 '743477561',
 '375706860',
 '2070513289',
 '1582432902',
 '375726519',
 '156913216',
 '1857023307',
 '671869205',
 '515128821',
 '679767479',
 '521406773',
 '312874561',
 '609610570',
 '1878825089',
 '61144908',
 '812550285',
 '451209435',
 '684843781',
 '078512148X',
 '786929502',
 '679756760',
 '765309963',
 '590135899',
 '756403804',
 '1596911042',
 '330247042',
 '756623588',
 '158567575X',
 '385337930',
 '727860992',
 '553587072',
 '439551927',
 '743202414',
 '747553564',
 '413772195',
 '71401946',
 '1593082681',
 '345391691',
 '393327655',
 '307350444',
 '1841954748',
 '684804484',
 '1586638467',
 '006105366X',
 '440228166',
 '076454280X',
 '684163268',
 '486406547',
 '806132299',
 '99461870',
 '1402714580',
 '074563379X',
 '1853261408',
 '446579629',
 '1931082898',
 '373766629',
 '786838949',
 '393315118',
 '1852864982',
 '553567683',
 '684842238',
 '159307171X',
 '752816993',
 '345397606',
 '765313197',
 '1841490237',
 '552999350',
 '340796146',
 '415285844',
 '185715133X',
 '446679089',
 '439746868',
 '225315086X',
 '1595325557',
 '60765402',
 '393926796',
 '1419324705',
 '830825703',
 '9164200035',
 '8185944601',
 '515128600',
 '141312629',
 '393058263',
 '670886955',
 '393324826',
 '884951944',
 '345471822',
 '1416912274',
 '349108390',
 '039915373X',
 '812970403',
 '452283868',
 '143039148',
 '140275010',
 '089658321X',
 '425195481',
 '068809368X',
 '156030411',
 '1841492663',
 '156011654',
 '887309429',
 '393327027',
 '1565845617',
 '385264763',
 '60930217',
 '2844140580',
 '141690817X',
 '156970905X',
 '8445075322',
 '330369954',
 '99451956',
 '60256753',
 '571226337',
 '140290117',
 '821776053',
 '786887079',
 '1551666723',
 '618153977',
 '140003292X',
 '99771810',
 '385337639',
 '345910907',
 '385495323',
 '312330863',
 '1844080277',
 '739423851',
 '60593199',
 '141180633',
 '375724370',
 '743222334',
 '439884764',
 '743225082',
 '60518510',
 '60094419',
 '739322060',
 '375701362',
 '373285388',
 '307989135',
 '446675385',
 '679764178',
 '486282228',
 '425187055',
 '1421505479',
 '842384111',
 '1416500405',
 '871401525',
 '811200124',
 '515125601',
 '140230270',
 '61020672',
 '380010321',
 '446691437',
 '451160525',
 '316154970',
 '425134067',
 '006058081X',
 '553214322',
 '226307948',
 '60557567',
 '571204201',
 '141000589',
 '375714766',
 '1844675734',
 '198610696',
 '1904598064',
 '385264739',
 '824512596',
 '312890389',
 '1560258500',
 '394706315',
 '1591169208',
 '140097317',
 '553804367',
 '767916034',
 '1573225142',
 '312304463',
 '816638632',
 '571125298',
 '1559210346',
 '486445089',
 '446692646',
 '156032295',
 '965429903',
 '1931082200',
 '435123432',
 '99730510',
 '938045555',
 '1400078679',
 '140244824',
 '393324354',
 '156947396X',
 '312342349',
 '671417010',
 '446696137',
 '803731531',
 '375752196',
 '037575797X',
 '439356008',
 '60957263',
 '671631985',
 '553213482',
 '60593245',
 '553265954',
 '1860498876',
 '689817851',
 '1593075421',
 '345457749',
 '1578569052',
 '393323528',
 '146000501',
 '553561588',
 '1579126278',
 '1596009209',
 '140131671',
 '393061221',
 '743449045',
 '1564781313',
 '192835025',
 '60875070',
 '606298231',
 '226301192',
 '375708367',
 '1416905278',
 '880291230',
 '743484967',
 '859537285',
 '815411839',
 '883682796',
 '99911701',
 '345439732',
 '786282258',
 '60184124',
 '307278360',
 '1845760654',
 '425196844',
 '345479394',
 '670913529',
 '074341196X',
 '452280672',
 '786941642',
 '803724624',
 '446605581',
 '694524751',
 '6550479',
 '805420436',
 '679642420',
 '64401510',
 '99448467',
 '425205819',
 '1583225366',
 '006009527X',
 '375752676',
 '743260163',
 '340831367',
 '535300308X',
 '1929068034',
 '312422733',
 '307337332',
 '380707632',
 '691013802',
 '60988657',
 '340837942',
 '786222727',
 '142406511',
 '472065211',
 '081297252X',
 '345418689',
 '345362535',
 '044021680X',
 '330419153',
 '312361785',
 '082176053X',
 '689878575',
 '140187073',
 '441014895',
 '393311031',
 '8440694407',
 '664241581',
 '140285210',
 '679729259',
 '618260587',
 '842387447',
 '143039865',
 '446603082',
 '345451139',
 '137903952',
 '014118454X',
 '1577660099',
 '1740599241',
 '031294098X',
 '486431673',
 '1587263831',
 '140447946',
 '340682116',
 '1421500906',
 '449218473',
 '99474123',
 '312426453',
 '747572933',
 '345464788',
 '441062210',
 '810117339',
 '140441735',
 '691120528',
 '60858796',
 '940450739',
 '1593080581',
 '425174808',
 '141441119',
 '679416501',
 '1416523715',
 '812694333',
 '143039601',
 '709148984',
 '765310457',
 '038072572X',
 '393927202',
 '618574956',
 '804114609',
 '61136956',
 '743437497',
 '847826465',
 '140440062',
 '141180943',
 '60090383',
 '156572044',
 '425143325',
 '393062244',
 '385734077',
 '072324779X',
 '451210840',
 '140449043',
 '1590172280',
 '8420465062',
 '872203948',
 '571215165',
 '451528522',
 '1416903275',
 '743480716',
 '385336101',
 '143028219',
 '140186123',
 '375813756',
 '375756604',
 '226876802',
 '1401209335',
 '765311801',
 '246124377',
 '451527453',
 '1593080972',
 '385491050',
 '082724231X',
 '1400095417',
 '055215315X',
 '753819929',
 '044650002X',
 '590956167',
 '374527229',
 '60525126',
 '1406934852',
 '6280609',
 '743231538',
 '1400075122',
 '446692514',
 '312263104',
 '375422994',
 '674013735',
 '395606497',
 '340837950',
 '441014100',
 '64434974',
 '000649692X',
 '307350509',
 '486424545',
 '521558727',
 '679729917',
 '140274987',
 '345317572',
 '140280499',
 '886774004',
 '441294278',
 '553589490',
 '521639875',
 '679420258',
 '7120699',
 '373250746',
 '140621083',
 '553804804',
 '1591162025',
 '345445783',
 '802449263',
 '60572973',
 '1880685353',
 '1423323254',
 '394746163',
 '525036350',
 '1592402739',
 '60001453',
 '055338368X',
 '1930464061',
 '394735307',
 '385340397',
 '805078983',
 '156189216',
 '195087445',
 '515136174',
 '743484878',
 '812590104',
 '64405958',
 '963810944',
 '805210695',
 '618446710',
 '375760393',
 '872861902',
 '380815923',
 '1594481938',
 '425197492',
 '385488351',
 '1566918081',
 '679747192',
 '1401359345',
 '805208739',
 '735619670',
 '143036246',
 '393960188',
 '1598169467',
 '307264882',
 '375725237',
 '1842430343',
 '61020591',
 '99429160',
 '307265838',
 '451205367',
 '316907928',
 '441005837',
 '1862073295',
 '575073748',
 '143034545',
 '679601325',
 '60920084',
 '1417920769',
 '446520594',
 '1400031656',
 '812534859',
 '940450836',
 '446674575',
 '60958022',
 '380711966',
 '399239987',
 '1563899884',
 '019514581X',
 '1582881588',
 '1597800449',
 '708823602',
 '674990633',
 '385009615',
 '316156280',
 '037572706X',
 '143039822',
 '446594342',
 '380716828',
 '1852423285',
 '60519134',
 '3856305580',
 '385339658',
 '60787031',
 '515110752',
 '977312798',
 '553563696',
 '1887368795',
 '439793955',
 '553763253',
 '817992162X',
 '192805983',
 '1565847857',
 '195145666',
 '451410548',
 '393978516',
 '1851682341',
 '192838741',
 '965739228',
 '1401302467',
 '743250974',
 '679755624',
 '1857231511',
 '006057299X',
 '312243359',
 '446614831',
 '1420925229',
 '451190149',
 '195421167',
 '143039857',
 '767909267',
 '1582406936',
 '786891076',
 '684865378',
 '399242139',
 '60736259',
 '441251269',
 '312424442',
 '1932394699',
 '000649689X',
 '316926604',
 '143039911',
 '1565481240',
 '1593083238',
 '765340747',
 '1903436613',
 '385471106',
 '743431014',
 '486212327',
 '451163931',
 '312890362',
 '380699176',
 '743246985',
 '60590149',
 '425190455',
 '226443221',
 '141651631X',
 '330301748',
 '689036914',
 '1598160109',
 '60894083',
 '679762701',
 '674954017',
 '143036408',
 '385474016',
 '1600100295',
 '1401212638',
 '553213555',
 '074326469X',
 '553580833',
 '1860467210',
 '345427548',
 '1421510413',
 '446607436',
 '080185668X',
 '3548603203',
 '262240513',
 '452286034',
 '425204030',
 '1903436486',
 '226817415',
 '1400080665',
 '486287599',
 '192840312',
 '20199856',
 '679740589',
 '142003166',
 '1577780728',
 '471409766',
 '393963047',
 '552154288',
 '140441522',
 '037576092X',
 '143039571',
 '1579126235',
 '262532557',
 '679752862',
 '226467716',
 '670869295',
 '439194040',
 '1579124577',
 '60936193',
 '074323359X',
 '2253142425',
 '143037293',
 '1421507218',
 '743428595',
 '553586610',
 '689847432',
 '312936915',
 '1594489424',
 '140449094',
 '1591821576',
 '471780936',
 '812575237',
 '679801111',
 '385333765',
 '553585975',
 '007141858X',
 '1579126286',
 '140009528X',
 '812969006',
 '446671827',
 '345476328',
 '312300336',
 '515100536',
 '385490623',
 '689716044',
 '451527844',
 '056348649X',
 '805209069',
 '679754865',
 '684801523',
 '307290468',
 '1421506149',
 '1581345275',
 '316545031',
 '393960587',
 '60589280',
 '385609485',
 '812416112',
 '439849586',
 '1590525930',
 '671732501',
 '618013245',
 '1421270536',
 '1569719640',
 '140031766',
 '965913228',
 '312864744',
 '439651360',
 '60916494',
 '440504708',
 '142500372',
 '141011114',
 '451208633',
 '60916818',
 '312354606',
 '71433716',
 '067121148X',
 '349116024',
 '1559362103',
 '1582430152',
 '345457374',
 '446691798',
 '312862172',
 '743482778',
 '60277408',
 '8432216429',
 '140003065X',
 '451160312',
 '140434259',
 '385086164',
 '679762698',
 '345461940',
 '425202887',
 '1580495869',
 '9703705774',
 '193344018X',
 '019832149X',
 '778322947',
 '872201937',
 '60584033',
 '1591829534',
 '399153624',
 '1400079616',
 '670261556',
 '8466318771',
 '471648795',
 '345456327',
 '1569719365',
 '019280149X',
 '143036831',
 '395883970',
 '1932361278',
 '081257558X',
 '141183225',
 '471678783',
 '553383531',
 '743496140',
 '140271570',
 '201835959',
 '261102141',
 '743457870',
 '978721004',
 '60930136',
 '486426750',
 '140299149',
 '440428653',
 '1564780619',
 '439176875',
 '674678567',
 '451529170',
 '99490684',
 '374530491',
 '393322572',
 '385517238',
 '067942895X',
 '385601697',
 '425169715',
 '553381539',
 '449149919',
 '330491199',
 '684848597',
 '712664564',
 '380017555',
 '156002167',
 '316919896',
 '60001534',
 '679726209',
 '449005577',
 '044050306X',
 '722536542',
 '805069372',
 '6499627',
 ...}

In [23]:
#Hay algunos que tienen isbn X al final, vamos a quitarlo
libros['isbn'] = libros['isbn'].str.replace(r'[X].*', '')
set(libros['isbn'])

{'753819317',
 '785260943',
 '1593080158',
 '231073372',
 '1562926160',
 '743253426',
 '1573228710',
 '60002050',
 '940322714',
 '875428320',
 '743236149',
 '140093141',
 '500281335',
 '470038322',
 '575073675',
 '452007178',
 '060980877',
 '375708340',
 '451527925',
 '60774126',
 '452284554',
 '743260945',
 '7115229',
 '1419953966',
 '292701322',
 '965415937',
 '192823310',
 '312277105',
 '1880656418',
 '1423600762',
 '99690608',
 '399154094',
 '019423035',
 '691024170',
 '1582294011',
 '99273845',
 '201408252',
 '552998001',
 '312423136',
 '743491777',
 '618510826',
 '440400341',
 '375837892',
 '014025157',
 '316014508',
 '64405710',
 '1585420824',
 '465024963',
 '552998834',
 '226805360',
 '744578264',
 '074754655',
 '60977663',
 '60530480',
 '441104029',
 '802133290',
 '044661193',
 '185798837',
 '812524268',
 '192833766',
 '8420637017',
 '691017778',
 '691020167',
 '330490265',
 '679722017',
 '446695602',
 '226677184',
 '465099009',
 '679760229',
 '521439612',
 '679721037',
 '375758119',
 '312321201',
 '747562113',
 '394700023',
 '1883011183',
 '60727632',
 '014100018',
 '671867423',
 '586040102',
 '446695696',
 '670557110',
 '380810956',
 '425215288',
 '787968331',
 '8489367019',
 '374506841',
 '486419258',
 '761956921',
 '192839993',
 '451180410',
 '1416903437',
 '886771382',
 '1402516274',
 '7102224',
 '446618675',
 '1575420775',
 '349115052',
 '822316412',
 '192802372',
 '321478061',
 '2070388093',
 '306808919',
 '689852231',
 '224073087',
 '380820889',
 '7178638',
 '451523202',
 '156421178',
 '684836270',
 '014018533',
 '836218523',
 '345483871',
 '393093123',
 '048624895',
 '140620273',
 '99284294',
 '1598165763',
 '373767617',
 '872207315',
 '816638624',
 '972393617',
 '316066141',
 '61130354',
 '60593636',
 '380804522',
 '385508476',
 '142437344',
 '141187883',
 '385733208',
 '756402212',
 '553815024',
 '451217411',
 '743498097',
 '60593202',
 '006091307',
 '1400031567',
 '393954269',
 '393978192',
 '895260786',
 '1413902588',
 '068981836',
 '091827382',
 '038549744',
 '783554559',
 '618134247',
 '60987529',
 '375413901',
 '1557092648',
 '60888695',
 '1400034418',
 '055381706',
 '067003472',
 '152025650',
 '373285248',
 '60556501',
 '575073608',
 '586071393',
 '486455599',
 '067972723',
 '590442090',
 '1421510669',
 '1567921574',
 '1842322761',
 '1562010352',
 '752876821',
 '618433252',
 '074757362',
 '60730676',
 '553582003',
 '99422689',
 '1400034256',
 '141014709',
 '1590171624',
 '044661162',
 '805210539',
 '142400378',
 '1841491837',
 '1595581340',
 '039332429',
 '439672325',
 '706421973',
 '747566755',
 '60541873',
 '812969995',
 '143039997',
 '552995827',
 '60086637',
 '64407446',
 '038533351',
 '140424393',
 '1416918086',
 '788720392',
 '684826356',
 '743284798',
 '375401601',
 '3822818208',
 '1560971169',
 '195098315',
 '743270371',
 '052138673',
 '1884365302',
 '044669570',
 '670038032',
 '307345971',
 '765312808',
 '142404136',
 '312948964',
 '679734996',
 '156013983',
 '375701168',
 '1575667223',
 '1556909179',
 '553058592',
 '155166531',
 '451529367',
 '141186356',
 '439933412',
 '582418135',
 '140189645',
 '786177837',
 '1593080034',
 '689868839',
 '385515502',
 '618710531',
 '067162413',
 '1577314034',
 '385732538',
 '940322781',
 '552999954',
 '6531202',
 '037377172',
 '1596913231',
 '747266972',
 '505521792',
 '8501072877',
 '446526126',
 '340654163',
 '1862056242',
 '822309327',
 '052167493',
 '285647474',
 '415267471',
 '7151527',
 '1596912510',
 '451173317',
 '140173048',
 '156709902',
 '747574650',
 '312994818',
 '1931082723',
 '64402452',
 '316954993',
 '006093266',
 '762427329',
 '373832710',
 '3518376780',
 '140316884',
 '1595821066',
 '844662925',
 '704102471',
 '1400043468',
 '679744479',
 '2317850',
 '8497594304',
 '898709792',
 '006077407',
 '039306106',
 '60977108',
 '521831431',
 '1416509348',
 '1557046832',
 '1841953679',
 '1405034149',
 '425146227',
 '743498712',
 '1569709084',
 '1556591608',
 '1569708851',
 '184046027',
 '802132138',
 '64473554',
 '812553292',
 '689869908',
 '042518160',
 '60832819',
 '141140100',
 '1117066037',
 '345422554',
 '449904962',
 '805077979',
 '671708260',
 '385424701',
 '486420493',
 '141182865',
 '080185668',
 '1400098238',
 '451530152',
 '765341174',
 '755304888',
 '312426038',
 '756402727',
 '60882638',
 '64407721',
 '743477561',
 '375706860',
 '159420120',
 '2070513289',
 '1582432902',
 '375726519',
 '156913216',
 '1857023307',
 '671869205',
 '515128821',
 '679767479',
 '521406773',
 '312874561',
 '609610570',
 '1878825089',
 '61144908',
 '812550285',
 '451209435',
 '684843781',
 '786929502',
 '679756760',
 '765309963',
 '590135899',
 '756403804',
 '1596911042',
 '014243776',
 '330247042',
 '756623588',
 '385337930',
 '727860992',
 '553587072',
 '140003342',
 '439551927',
 '743202414',
 '747553564',
 '413772195',
 '71401946',
 '1593082681',
 '345391691',
 '078521836',
 '393327655',
 '307350444',
 '1841954748',
 '684804484',
 '1586638467',
 '440228166',
 '684163268',
 '486406547',
 '806132299',
 '99461870',
 '1402714580',
 '1853261408',
 '446579629',
 '1931082898',
 '034547242',
 '373766629',
 '786838949',
 '393315118',
 '1852864982',
 '553567683',
 '684842238',
 '752816993',
 '345397606',
 '765313197',
 '1841490237',
 '552999350',
 '340796146',
 '081257558',
 '415285844',
 '446679089',
 '439746868',
 '1595325557',
 '60765402',
 '393926796',
 '1419324705',
 '830825703',
 '9164200035',
 '8185944601',
 '515128600',
 '141312629',
 '393058263',
 '670886955',
 '393324826',
 '884951944',
 '345471822',
 '1416912274',
 '349108390',
 '812970403',
 '034548357',
 '452283868',
 '031242373',
 '141932506',
 '143039148',
 '140275010',
 '425195481',
 '156030411',
 '1841492663',
 '887309429',
 '156011654',
 '067176991',
 '393327027',
 '1565845617',
 '385264763',
 '60930217',
 '2844140580',
 '8445075322',
 '330369954',
 '99451956',
 '60256753',
 '571226337',
 '042519745',
 '140290117',
 '821776053',
 '786887079',
 '1551666723',
 '618153977',
 '99771810',
 '345910907',
 '385337639',
 '385495323',
 '312330863',
 '1844080277',
 '739423851',
 '60593199',
 '141180633',
 '034537147',
 '375724370',
 '743222334',
 '439884764',
 '743225082',
 '60518510',
 '60094419',
 '739322060',
 '375701362',
 '373285388',
 '307989135',
 '446675385',
 '679764178',
 '486282228',
 '425187055',
 '1421505479',
 '842384111',
 '1416500405',
 '871401525',
 '811200124',
 '515125601',
 '140230270',
 '61020672',
 '380010321',
 '446691437',
 '451160525',
 '316154970',
 '425134067',
 '553214322',
 '226307948',
 '60557567',
 '571204201',
 '141000589',
 '375714766',
 '1844675734',
 '198610696',
 '068802372',
 '1904598064',
 '385264739',
 '824512596',
 '312890389',
 '1560258500',
 '394706315',
 '1591169208',
 '140097317',
 '553804367',
 '767916034',
 '1573225142',
 '014200202',
 '312304463',
 '816638632',
 '081296618',
 '571125298',
 '1559210346',
 '486445089',
 '446692646',
 '080411918',
 '156032295',
 '965429903',
 '1931082200',
 '435123432',
 '99730510',
 '938045555',
 '1400078679',
 '140244824',
 '393324354',
 '312342349',
 '009949857',
 '671417010',
 '039470245',
 '446696137',
 '803731531',
 '375752196',
 '535300308',
 '439356008',
 '60957263',
 '671631985',
 '553213482',
 '60593245',
 '553265954',
 '1860498876',
 '689817851',
 '1593075421',
 '345457749',
 '1578569052',
 '393323528',
 '146000501',
 '553561588',
 '1579126278',
 '155709103',
 '1596009209',
 '059514506',
 '140131671',
 '393061221',
 '074323359',
 '743449045',
 '1564781313',
 '192835025',
 '60875070',
 '606298231',
 '226301192',
 '375708367',
 '1416905278',
 '880291230',
 '034536239',
 '037312600',
 '743484967',
 '859537285',
 '067005934',
 '158715739',
 '883682796',
 '815411839',
 '99911701',
 '345439732',
 '786282258',
 '60184124',
 '307278360',
 '1845760654',
 '140004474',
 '015603154',
 '425196844',
 '345479394',
 '670913529',
 '452280672',
 '074459863',
 '786941642',
 '803724624',
 '446605581',
 '694524751',
 '6550479',
 '805420436',
 '679642420',
 '64401510',
 '99448467',
 '142150507',
 '042519938',
 '425205819',
 '1583225366',
 '375752676',
 '743260163',
 '340831367',
 '1929068034',
 '312422733',
 '307337332',
 '380707632',
 '691013802',
 '60988657',
 '340837942',
 '786222727',
 '015611870',
 '142406511',
 '472065211',
 '345418689',
 '345362535',
 '330419153',
 '312361785',
 '078685152',
 '689878575',
 '140187073',
 '441014895',
 '393311031',
 '8440694407',
 '664241581',
 '140285210',
 '140007942',
 '679729259',
 '618260587',
 '842387447',
 '143039865',
 '446603082',
 '052143971',
 '345451139',
 '137903952',
 '1740599241',
 '1577660099',
 '486431673',
 '1587263831',
 '140447946',
 '340682116',
 '1421500906',
 '449218473',
 '99474123',
 '312426453',
 '747572933',
 '345464788',
 '441062210',
 '810117339',
 '140441735',
 '042520961',
 '691120528',
 '60858796',
 '940450739',
 '1593080581',
 '425174808',
 '141441119',
 '679416501',
 '1416523715',
 '812694333',
 '143039601',
 '709148984',
 '765310457',
 '393927202',
 '618574956',
 '804114609',
 '61136956',
 '743437497',
 '847826465',
 '044018293',
 '140440062',
 '141180943',
 '60090383',
 '156572044',
 '155037396',
 '425143325',
 '393062244',
 '385734077',
 '451210840',
 '140449043',
 '1590172280',
 '8420465062',
 '872203948',
 '571215165',
 '451528522',
 '1416903275',
 '743480716',
 '067077605',
 '385336101',
 '143028219',
 '140186123',
 '375813756',
 '375756604',
 '057120175',
 '159307736',
 '226876802',
 '1401209335',
 '765311801',
 '038073186',
 '026274015',
 '246124377',
 '451527453',
 '1593080972',
 '385491050',
 '1400095417',
 '753819929',
 '590956167',
 '374527229',
 '60525126',
 '1406934852',
 '6280609',
 '743231538',
 '1400075122',
 '446692514',
 '312263104',
 '375422994',
 '674013735',
 '395606497',
 '340837950',
 '441014100',
 '64434974',
 '307350509',
 '486424545',
 '521558727',
 '009947137',
 '679729917',
 '068987040',
 '140274987',
 '345317572',
 '140280499',
 '886774004',
 '441294278',
 '553589490',
 '521639875',
 '679420258',
 '7120699',
 '373250746',
 '140621083',
 '553804804',
 '1591162025',
 '345445783',
 '802449263',
 '60572973',
 '1880685353',
 '1423323254',
 '394746163',
 '525036350',
 '1592402739',
 '60001453',
 '1930464061',
 '394735307',
 '385340397',
 '805078983',
 '156189216',
 '195087445',
 '515136174',
 '743484878',
 '812590104',
 '64405958',
 '963810944',
 '805210695',
 '618446710',
 '375760393',
 '872861902',
 '380815923',
 '1594481938',
 '425197492',
 '385488351',
 '055357325',
 '1566918081',
 '679747192',
 '1401359345',
 '805208739',
 '735619670',
 '143036246',
 '393960188',
 '1598169467',
 '307264882',
 '375725237',
 '1842430343',
 '61020591',
 '99429160',
 '307265838',
 '034082977',
 '451205367',
 '316907928',
 '441005837',
 '1862073295',
 '575073748',
 '080215154',
 '143034545',
 '679601325',
 '60920084',
 '1417920769',
 '446520594',
 '033036734',
 '1400031656',
 '812534859',
 '940450836',
 '446674575',
 '60958022',
 '380711966',
 '399239987',
 '1563899884',
 '1582881588',
 '1597800449',
 '708823602',
 '674990633',
 '385009615',
 '316156280',
 '143039822',
 '446594342',
 '031287751',
 '068809368',
 '380716828',
 '1852423285',
 '60519134',
 '3856305580',
 '385339658',
 '60787031',
 '515110752',
 '977312798',
 '553563696',
 '1887368795',
 '439793955',
 '019280149',
 '019516895',
 '553763253',
 '006001234',
 '192805983',
 '1565847857',
 '195145666',
 '451410548',
 '393978516',
 '1851682341',
 '192838741',
 '965739228',
 '1401302467',
 '743250974',
 '679755624',
 '1857231511',
 '312243359',
 '446614831',
 '1420925229',
 '451190149',
 '195421167',
 '143039857',
 '767909267',
 '1582406936',
 '786891076',
 '684865378',
 '399242139',
 '60736259',
 '441251269',
 '312424442',
 '1932394699',
 '316926604',
 '080508052',
 '143039911',
 '043984777',
 '1565481240',
 '031213214',
 '1593083238',
 '765340747',
 '1903436613',
 '385471106',
 '743431014',
 '074595054',
 '486212327',
 '451163931',
 '312890362',
 '380699176',
 '743246985',
 '60590149',
 '425190455',
 '226443221',
 '330301748',
 '689036914',
 '1598160109',
 '156584100',
 '60894083',
 '679762701',
 '674954017',
 '143036408',
 '385474016',
 '141690817',
 '1401212638',
 '1600100295',
 '553213555',
 '553580833',
 '1860467210',
 '345427548',
 '034542204',
 '1421510413',
 '446607436',
 '3548603203',
 '262240513',
 '452286034',
 '425204030',
 '1903436486',
 '226817415',
 '1400080665',
 '486287599',
 '014062063',
 '192840312',
 '20199856',
 '679740589',
 '142003166',
 '1577780728',
 '471409766',
 '393963047',
 '552154288',
 '140441522',
 '143039571',
 '1579126235',
 '262532557',
 '679752862',
 '226467716',
 '670869295',
 '439194040',
 '1579124577',
 '60936193',
 '2253142425',
 '048628459',
 '143037293',
 '1421507218',
 '743428595',
 '553586610',
 '689847432',
 '312936915',
 '1594489424',
 '140449094',
 '1591821576',
 '471780936',
 '812575237',
 '679801111',
 '385333765',
 '057120211',
 '553585975',
 '081297736',
 '1579126286',
 '812969006',
 '446671827',
 '345476328',
 '312300336',
 '515100536',
 '385490623',
 '689716044',
 '451527844',
 '805209069',
 '679754865',
 '684801523',
 '307290468',
 '1421506149',
 '1581345275',
 '316545031',
 '393960587',
 '60589280',
 '385609485',
 '038071082',
 '812416112',
 '439849586',
 '1590525930',
 '671732501',
 '618013245',
 '1421270536',
 '1569719640',
 '140031766',
 '965913228',
 '312864744',
 '439651360',
 '60916494',
 '440504708',
 '142500372',
 '141011114',
 '451208633',
 '60916818',
 '312354606',
 '71433716',
 '349116024',
 '1559362103',
 '1582430152',
 '345457374',
 '446691798',
 '312862172',
 '743482778',
 '60277408',
 '8432216429',
 '451160312',
 '140434259',
 '385086164',
 '679762698',
 '345461940',
 '425202887',
 '1580495869',
 '9703705774',
 '778322947',
 '015652791',
 '188845170',
 '872201937',
 '60584033',
 '1591829534',
 '399153624',
 '1400079616',
 '670261556',
 '8466318771',
 '471648795',
 '345456327',
 '1569719365',
 '143036831',
 '395883970',
 '1932361278',
 '141183225',
 '471678783',
 '553383531',
 '743496140',
 '140271570',
 '201835959',
 '261102141',
 '743457870',
 '978721004',
 '60930136',
 '486426750',
 '140299149',
 '440428653',
 '1564780619',
 '439176875',
 '037575931',
 '674678567',
 '451529170',
 '99490684',
 '374530491',
 '393322572',
 ...}

In [24]:
#Limpieza de autores. Hay algunos autores que tienen carácteres especiales que no se están leyendo bien.
#Generalmente son acentos, pero también ñ. Voy a reemplazarlos

#Para cambiar é
libros['authors'] = libros['authors'].str.replace('ë','é')
#libros.loc[libros["bookID"] == 18383]  #PARA SELECCIONAR TIENE QUE SER CORCHETE

#Para cambiar í
libros['authors'] = libros['authors'].str.replace('Ã-','í')
#libros.loc[libros["bookID"] == 31582]

#Para cambiar á
libros['authors'] = libros['authors'].str.replace('Ã¡','á')
#libros.loc[libros["bookID"] == 764]

#Para cambiar la ó
libros['authors'] = libros['authors'].str.replace('Ã³','ó')
#libros.loc[libros["bookID"] == 762]

#Para cambiar la ñ
libros['authors'] = libros['authors'].str.replace('Ã±','ñ')
#libros.loc[libros["bookID"] == 763]

In [25]:
#Hay que hacer lo mismo para los títulos

#Para cambiar é
libros['title'] = libros['title'].str.replace('ë','é')


#Para cambiar í
libros['title'] = libros['title'].str.replace('Ã-','í')
#libros.loc[libros["bookID"] == 31582]

#Para cambiar á
libros['title'] = libros['title'].str.replace('Ã¡','á')
#libros.loc[libros["bookID"] == 764]

#Para cambiar la ó
libros['title'] = libros['title'].str.replace('Ã³','ó')
#libros.loc[libros["bookID"] == 762]

#Para cambiar la ñ
libros['title'] = libros['title'].str.replace('Ã±','ñ')
libros.loc[libros["bookID"] == 763]

,bookID,title,authors,average_rating,isbn,language_code,num_pages,ratings_count,text_reviews_count
280,763,Cien años de soledad,Gabriel García Márquez,4.06,307350428,spa,496,128,6

In [26]:
#Eliminar doble espacio de las variables
libros['title'] = libros['title'].str.replace('  ',' ')
libros['authors'] = libros['authors'].str.replace('  ',' ')
libros.head()

,bookID,title,authors,average_rating,isbn,language_code,num_pages,ratings_count,text_reviews_count
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,439554896,en,352,6267,272
5,8,Harry Potter Boxed Set Books 1-5 (Harry Potter...,J.K. Rowling et al.,4.78,439682584,en,2690,38872,154
7,10,Harry Potter Collection (Harry Potter #1-6),J.K. Rowling,4.73,439827604,en,3342,27410,820
8,12,The Ultimate Hitchhiker's Guide: Five Complete...,Douglas Adams,4.38,517226952,en,815,3602,258
10,14,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams,4.22,1400052920,en,215,4416,408

In [27]:
#Verificar average_ratings
libros.describe().average_rating

count    9499.000000
mean        3.948987
std         0.268038
min         2.400000
25%         3.790000
50%         3.960000
75%         4.130000
max         4.820000
Name: average_rating, dtype: float64

In [28]:
#Duplicados
#libros.drop_duplicates(['title', 'author', 'isbn'])
#libros[~libros.duplicated(['title',], keep=False) | df['group'].eq('NII')]

#esto va a hacer un subset de duplicados para verificar que funciona antes de quitarlos
libros = libros.drop_duplicates(subset=['title', 'authors', 'isbn'])

In [29]:
#Finalmente, salvmamos nuestra nueva base limpia
libros_csv = libros.to_csv('libros_limpia3.csv', index=False)