In [827]:
import pandas as pd
import numpy as np

In [870]:
data=pd.read_csv('planecrash.csv')

In [824]:
set(data['time'])

{nan,
 '21:20',
 '11:04',
 '20:08',
 '09:49',
 '08:23',
 'c 03:40',
 '04:10',
 '08:30',
 '16:56',
 '11:54',
 '1450',
 '22:54',
 '20:27',
 '02:32',
 '06:22',
 'c 16:35',
 '04:15Z',
 '12;00',
 '10:19',
 '23:26',
 '22:15',
 '0920',
 '01:35',
 '10:44',
 '09:33',
 '12:56',
 '16:52',
 'c 17:40',
 '18:04',
 '19:55',
 '19:36',
 '21:17',
 'c 17:00',
 '19:43',
 '17:38',
 '18:30',
 '13:00Z',
 '23:45',
 '06:50',
 '05:40',
 '13:49',
 'c 12:55',
 '14:32',
 '15:09',
 '15:29',
 '14;10',
 '1101',
 '15:02',
 '09:50',
 '13:59',
 '01:55',
 '18:06',
 '23:36',
 '19:27',
 '23:12',
 '19:31',
 '17:50',
 '0019',
 '11:16',
 '10:30',
 '15:26',
 'c 07:00',
 'c 17:35',
 '07:00Z',
 '22:17',
 '05:00Z',
 '08:10',
 '06:32',
 '22:24',
 '21:50',
 '10:49',
 '20:28',
 '1015',
 '17:58',
 '08:09',
 '13:45',
 '114:20',
 '20:16',
 '13:28',
 '03:59',
 '13:06',
 '23:21',
 '22:32',
 '10:31',
 'c 01:30',
 '04:12',
 '05:00',
 '14:48',
 '16:13',
 '19:46',
 '17:19',
 '12:48',
 '12:52',
 'c 13:50',
 '03:41',
 '13:08',
 '17:15',
 '0415',
 '02:20',
 '08:50',
 '06:13',
 '0935',
 '09:01',
 '20:02',
 'c 15:30',
 'c 09:45',
 '14:38',
 '22:53',
 '21:14',
 '09:11',
 '0845',
 '1315',
 '17:45',
 '02:50',
 '13:43',
 '02:38',
 '01:27',
 '19:54',
 'c 13:05',
 '08:05',
 '10:07',
 '14:30',
 '01:17',
 '08:02',
 '1915',
 '8:02',
 '10:04',
 '00:31',
 '19:11',
 'c 08:43',
 '21:38',
 '02:09Z',
 '20:32',
 '12:11',
 'c 03:50',
 '22:23Z',
 '14:23',
 '1530',
 '18:09',
 '18:37',
 '14:58',
 '10:53',
 '16:19',
 '16:26',
 '17:41',
 '1053',
 '1429',
 '23:35',
 '09:18',
 'c 03:55',
 'c 09:15',
 '19:41',
 '11:40',
 '07:58',
 '0949',
 '00:10',
 '0940',
 '13:14',
 '17:25Z',
 '01:13',
 '07:20',
 '09:15',
 '23:13',
 'c 23:45',
 '0926',
 '1140',
 '04:25',
 '09:44',
 '11:47',
 '04:13',
 '11:11',
 '07:49',
 '03:40',
 '15:21',
 'c 15:20',
 '20:17',
 '20:14',
 '15:38',
 '07:28Z',
 '03:49',
 '04:37',
 '03:30',
 '04:45',
 '23:52',
 '10:09',
 '14:40',
 '03:45',
 'c 02:35',
 '22:36',
 'c 02:30',
 'c 05:00',
 '04:40',
 '17:40',
 '16:57Z',
 'c 11:15',
 'c 12:25',
 '07:47',
 '12:10',
 '21:52',
 '18:50',
 '04:05',
 '17:09',
 '21:18',
 '13:27',
 'c 03:45',
 '18:57',
 '14:42',
 '18:25',
 '19:49',
 'c 12:20',
 '08:25',
 '18:59',
 '03:34',
 '15:40',
 '09:03',
 'c14:15',
 '12:54Z',
 '11:10',
 'c 15:05',
 '19:57',
 '21:55',
 '08:58',
 '09:34',
 '09:00',
 '13:13',
 '0835',
 '19:25',
 '14:41',
 '14:50',
 '05:06',
 '16:10',
 'c 19:15',
 'c 04:13',
 'c 13:30',
 '18:43',
 '18:03',
 '16:28',
 '01:40',
 '15:18',
 '11:50',
 '18:29',
 '02:15',
 '13:32',
 '07:43',
 '08:07',
 'c 11:00',
 '16:04',
 '07:41',
 '05:59',
 'c 19:50',
 '0241',
 '1238',
 '17:22',
 'c 13:45',
 '0253',
 '17:42',
 '17:11',
 'c 23:42',
 '19:13',
 '10:20',
 '12:28',
 '08:27',
 '18:33',
 '23:10',
 '19:17',
 '12:22',
 '00:52',
 '11:14',
 '13:27Z',
 '08:56',
 '04:15',
 '02:17',
 '12:20',
 '01:23',
 '07:57',
 '07:08',
 'c 04:20',
 '1216',
 '15:07',
 '23:33',
 '21:13',
 '23:30',
 '05:14',
 '08:51',
 '21:46',
 '19:35',
 '02:56',
 '23:56',
 '09:55',
 '01:00Z',
 '09:45',
 '14:13',
 '0930',
 '01:42',
 '08:18',
 '08:22',
 '21:36',
 '13:00',
 '11:06',
 '00:58',
 '12:38',
 '12:07',
 '11:03',
 '16:55',
 '12:53',
 '10:40',
 '09:53',
 '16:53',
 '12:46',
 '21:39',
 '11:05',
 '17:03',
 '18:05',
 '03:06',
 '22:22',
 '1620',
 '07:13',
 '0240',
 '13:15',
 '22:09',
 '16:50',
 '01:25',
 '07:10',
 '11:22',
 '00:16',
 '1148',
 '12:49',
 '19:05',
 '22:55Z',
 'c 21:20',
 '05:50',
 '0050',
 'c 16:45',
 '09:47',
 '07:53',
 '06:11',
 '11:37',
 '00:15',
 'c 10:15',
 '02:37',
 '09:10',
 '20:48',
 '19:20',
 '12:00',
 'c 04:30',
 '04:44',
 '01:49',
 '04:19',
 '1343',
 '21:24',
 '09:35',
 '00:45',
 '13:55',
 '22:26',
 'c 18:45',
 '08:52',
 '21:11',
 'c 02:00',
 '16:37',
 '09:14',
 '11:29',
 '16:34',
 'c 23:50',
 '19:38',
 '14:31',
 '16:22',
 'c:17:00',
 '18:15',
 '00:28',
 '04:31',
 '09:06',
 '12:18',
 '1731',
 '16;30',
 '10:13',
 '05:26',
 '21:15',
 '10:06',
 '04:11',
 '09:32',
 '17:28',
 '0500',
 '17:37',
 '11:59',
 '08:53',
 '09:29',
 '01:20',
 '20:42',
 '07:25',
 '08:13',
 '19:21',
 '1214',
 'c 18:10',
 '19:51',
 '18:14',
 '15:35',
 '23:55',
 '05:29',
 '20:30',
 '01:11',
 '15:24',
 '04:30',
 '00:56',
 '19:26',
 '00:47',
 '23:00',
 '19:53',
 '17:33',
 '19:28',
 '20:07',
 '10:21',
 '13:10',
 '21:29',
 '21:07',
 '09:31',
 '18:12',
 '9:30',
 '1:30',
 '05:23',
 '12:13',
 '01:15Z',
 '13:34',
 '19:59',
 '05:45',
 '14:34',
 '04:50',
 '19:52',
 '16:02',
 '17:00',
 '19:50',
 '16:43',
 '16:08',
 '13:39',
 '21:10',
 '10:10',
 '15:04',
 '23:42',
 '02:36',
 '21:40',
 '16:11',
 '21:06',
 'c 22:17',
 '12:01',
 '09:19',
 '16:15',
 '20:57',
 '09:30',
 'c 22:00',
 '16:57',
 '23:46',
 '17:14',
 '12:12',
 '20:58',
 '22"08',
 '06:57',
 'c 19:30',
 '08:04',
 '20:59',
 '11:00',
 '02:46',
 '14:05',
 '18:32',
 '06:37',
 '08:08',
 '21:02',
 '14:52',
 'c 14:30',
 '07:31',
 '12:42',
 '06:30',
 '11:43',
 '12:14',
 '11:27',
 '11:12',
 '07:16',
 '07:07',
 '19:04',
 '19:19',
 '10:26',
 'c 14:00',
 '14:51',
 '10:16Z',
 '15:16',
 '11:13',
 '0249',
 '18.40',
 '06;15',
 '0700',
 '03:27',
 '12:08',
 '22:02',
 'c 23:55',
 '23:16',
 '23:15',
 '13:47',
 '15:31',
 '13:26',
 '10:56Z',
 '14:06',
 '20:49',
 '1100',
 '0752',
 '0300',
 '14:37',
 '15:58',
 '18:52',
 '03:26',
 '16:58',
 '20:31',
 '22:03',
 '23:34',
 '01:30',
 'c 09:30',
 '12:04',
 'c 17:20',
 '21:27',
 '10:15',
 '06:48',
 '19:45',
 '14:17',
 'c 08:42',
 '13:38',
 '11:20Z',
 '21:12',
 '02:40',
 'c 03:00',
 '05:42',
 '19:40',
 '01:16',
 '16:20',
 '1815',
 '17:26',
 '09:12',
 '22:25',
 '1155',
 '01:24',
 'c 17:15',
 '20:22',
 '14:39',
 '00:02',
 '10:46',
 '12:24',
 '1945',
 'c14:30',
 '09:36',
 '11:08',
 'd 18:50',
 '13:24',
 '07:45',
 '06:05',
 '00:18',
 'c 13:15',
 '15:05',
 'c 16:30',
 'c 0:30',
 '02:11',
 '13:12',
 '1451',
 '21:51',
 '01:45',
 '11:39',
 '01:38',
 '19:07',
 '21:03',
 '02:07',
 '05:20Z',
 '12:36',
 '22:07',
 '18:44',
 '16:33',
 '16:01',
 '0742',
 '01:01',
 '01:14',
 '10:22',
 '22:44',
 '23:57',
 '13:40',
 'c 12:10',
 '14:29',
 '06:20',
 '03:53',
 '18:07',
 '19:18',
 '08:16',
 '19:10',
 '12:31',
 '21:37',
 '1150',
 '1:00',
 '00:01',
 '02:30',
 '08:00',
 '08:47',
 '10:43',
 '0005',
 '07:44',
 '05:10',
 '11:18',
 'c 11:45',
 '0719',
 '00:35',
 '08:14',
 '15:17',
 '18:47',
 'c 04:00',
 '0937',
 '07:26',
 '03:33',
 '15:03',
 '11:09',
 '02:35',
 '18:21',
 '22:28',
 '02:23',
 '04:33',
 '1130',
 '1723',
 '21:42Z',
 '10:15Z',
 '15:46',
 '07:00',
 '0800',
 '15:33',
 'c 20:30',
 '08:57',
 '01:15',
 '22:00',
 '00:00',
 '09:38',
 '04:55',
 '03:16',
 '09:51',
 'c 17:30',
 '17:51',
 '19:33',
 '0618',
 '1055',
 '0905',
 '14:55',
 '18:10',
 '16:00',
 '23:53',
 '13:16',
 '08:19',
 '23:37',
 '03:37',
 '20:35',
 '15:32',
 '05:46',
 '15:59',
 '02:14',
 'c 9:15',
 '06:24',
 '11:34',
 'c 21:50',
 '10:02',
 '19:03',
 '07:30',
 '00:32',
 '20:40',
 '02:13',
 '1335',
 '05:19',
 '17:20',
 '1800',
 'c 15:00',
 '13:42',
 'c 01:00',
 '22:19',
 'c 18:20',
 '22:27',
 '09:43',
 '1431',
 '20:52',
 '08:40',
 '22:23',
 '08:34',
 'c 21:25',
 '16:07',
 '04:01',
 '11:15',
 '21:45',
 '19:00',
 '06:39',
 '07:42',
 '18:38',
 '07:23',
 '15:45',
 '17:52',
 '08:31',
 '05:54',
 'c 05:15',
 'c 12:30',
 '06:47',
 '04:08',
 '1700',
 '09:17',
 '05:35',
 '11:46',
 '16:18',
 'c 08:41',
 '09:05',
 'c 09:00',
 '08:35',
 '08:20',
 '09:57',
 '08:44',
 '14:49',
 'c 07:30',
 '11:01',
 'c 06:30',
 '17:02',
 'c 23:12',
 'c 07:45',
 '04:52',
 '17:18',
 '20:45',
 '12:15',
 '1402',
 '04:43',
 '14:56',
 'c 15:45',
 '01:51',
 '18:16',
 'c 04:10',
 '08:55',
 '1600',
 '23:09',
 'c 10;00',
 '11:36',
 '10:33',
 '0815',
 '17:17',
 '1430',
 '03:25Z',
 '18:22Z',
 '15:15',
 '09:54',
 '22:45',
 '17:54',
 '00:13',
 '14:21',
 '00:55',
 '13:17',
 '09:23',
 '22:59',
 '00:20',
 '14:14',
 'c 06:50',
 '09:16',
 '03:12',
 '01:00',
 '05:44',
 '11:48',
 '05:25',
 '22:08',
 '12:02',
 '10:35',
 '22:05',
 '06:09',
 '19:02',
 '00:08',
 '07:50',
 '1120',
 'c 10:30',
 '01:37',
 'c 20:15',
 '22:40',
 '09:13',
 '13:05',
 '17:43',
 '16:36',
 '16:29',
 '02:06',
 '07:37',
 '14:25',
 'c 08:45',
 '03:14',
 'c 12;30',
 '17:01',
 '16:35',
 '00:30',
 '17:12',
 '02:55',
 '18:11',
 'c 14:50',
 '16:12',
 '14:45',
 '12"20',
 '17:07',
 '1908',
 '22:30',
 '01:10',
 '15:00Z',
 '07:55',
 '17:04',
 '17:36',
 '01:29Z',
 '20:53',
 '02:42',
 '03:50Z',
 '23:19',
 '06:25',
 '05:03',
 '20:47',
 '13:21',
 '07:48',
 '18:27',
 '21:01',
 'c 18:00',
 '18:42',
 '16:49',
 '12:25',
 '01:58',
 '21:16',
 '15:23',
 '04:27',
 '2:00',
 '1455',
 '23:17',
 '11:49',
 '14:48Z',
 '19:08',
 '20:55',
 '15:22',
 '06:18',
 '0:900',
 '01:05',
 '01:20Z',
 '21:08',
 '00:54',
 '07:35',
 '18:55',
 '1745',
 '16:09',
 '05:49',
 '17:30',
 '08:03',
 '17:48',
 '20:44',
 '23;00',
 '18:24',
 '18:40',
 '09:40',
 '03:03',
 '06:35',
 '0405',
 '14:47',
 '04:28',
 '13:48',
 '13:19',
 '23:41',
 '19:32',
 'c 22:10',
 '22:34',
 'c 05:40',
 '08:39',
 '14:36',
 '01:50',
 '04:20',
 'c 03:30',
 '07:40',
 '12:30',
 '0624',
 '18:45',
 '19:48',
 '00:03Z',
 '00:12',
 '09:30Z',
 '15:06',
 '21:12Z',
 '13:04',
 '20:05',
 '09:28',
 '08:11',
 '03:50',
 '15:00',
 'c 19:00',
 '13:22',
 '13:35',
 '00:51',
 '12:45',
 '1145',
 '16:30',
 '06:52Z',
 'c 10:45',
 '06:10',
 '22:37',
 '2200',
 'c 07:40',
 'c 16:50',
 '15:33Z',
 '06:00',
 'c 18:30',
 '21:42',
 '0527',
 '18:34',
 '11:38',
 '06:21',
 '16:45',
 '11:58',
 '12:32',
 '10:55',
 '17:29',
 '17:55',
 'c 11:30',
 '22:10',
 '11:30',
 'c 14:15',
 '11:55',
 'c 20:55',
 '14:54',
 '10:48',
 '08:45',
 '19:44',
 '02:09',
 '14:12',
 '15:12',
 'c 23:00',
 '09:02',
 '04:42',
 '10:08',
 '07:34',
 '08:38',
 '05:30Z',
 'c 12:00',
 '07:17',
 '10:05',
 '16:25',
 '02:22',
 '18:53Z',
 '20:12',
 '16:44',
 'c 08:50',
 '20:15',
 '07:54',
 '07:39',
 '07:28',
 '02:08',
 '06:49',
 '22:35',
 '19:22',
 '16:47',
 '22:29',
 '13:53',
 '01:22',
 '11:20',
 '14:53',
 '18:00',
 '12:27',
 '13:50',
 'c 20:00',
 '02:01',
 '16:21',
 '22:13',
 '10:03',
 '16:46',
 '02:52',
 '22:14',
 '19:47',
 '23:59',
 '02:19',
 '04:22',
 '10:41',
 '0020',
 '23:50',
 '04:00',
 '19:23',
 '17:27',
 '12:34',
 '11:23',
 '00:26',
 '06:40',
 '22:48',
 '12:40',
 '19:01',
 '08:49',
 '10:50',
 '13:25',
 '21:47',
 'c 20:20',
 '00:25',
 'c 07:25',
 '00:57',
 '13:56',
 '07:05',
 '04:36',
 '14:00',
 '22:50',
 '04:48',
 '23:25',
 '18:41',
 '09:27',
 '22:58',
 '15:44',
 'c 09:20',
 '12:59',
 '13:46',
 ...}

In [838]:
# Hay valores en time que para que sean considerados hora necesitan separaciòn
data.at[64,'time']

'1140'

In [871]:
for i in range(len(data['time'])):
    if len(data.at[i,'time'])==4:
         da=data.at[i,'time']
         da1=da[:2]+':'+da[2:]
         data.at[i,'time']=da1
 

data.at[64,'time']

'11:40'

In [872]:
# Hay datos con caracteres extras

data.at[4,'time']

'c 18:30'

In [873]:
import re
data['time'] = data.time.str.lower().str.lstrip('c').str.lstrip('d').str.rstrip('z').str.lstrip(':').str.strip()
funcion = lambda x: re.sub(r'[::;\"]', ':', x)
funcion2 = lambda x: re.sub(r'::', ':' , x)
data['time'] = data.time.apply(funcion)
data['time']=data.time.apply(funcion2)

data.at[4,'time']

'18:30'

In [841]:
data.at[759,'time']

'1:30'

In [874]:
data = data.replace('?', np.nan)
null_cols = data.isnull().sum()
drop_cols = list(null_cols[null_cols > 3000].index)
print(drop_cols)
data=data.drop(drop_cols,axis=1)

['flight_no']

In [875]:
data=data.drop('cn_ln',axis=1)

In [876]:
data = data.replace('?', np.nan)
data=data.transpose()
null_cols = data.isnull().sum()
drop_cols = list(null_cols[null_cols > 7].index)
data=data.drop(drop_cols,axis=1)

In [877]:
data=data.transpose()
data.head()

,date,time,location,operator,route,ac_type,registration,aboard,fatalities,ground,summary
0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,NaN,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",NaN,"Juvisy-sur-Orge, France",NaN,Air show,Wright Byplane,SC1,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,NaN,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",NaN,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,NaN,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",18:30,Over the North Sea,Military - German Navy,NaN,Zeppelin L-1 (airship),NaN,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...

In [878]:
data['aboard']=data_2['aboard'].str.replace('\xa0','')
set(data['aboard'])

data['aboard']=data_2['fatalities'].str.replace('\xa0','')
set(data['aboard'])

{'0  (passengers:0 crew:0)',
 '0  (passengers:0 crew:2)',
 '0  (passengers:0 crew:4)',
 '0  (passengers:1 crew:1)',
 '0  (passengers:? crew:?)',
 '1  (passengers:0 crew:0)',
 '1  (passengers:0 crew:1)',
 '1  (passengers:1 crew:0)',
 '1  (passengers:1 crew:1)',
 '1  (passengers:1 crew:?)',
 '1  (passengers:5 crew:1)',
 '1  (passengers:? crew:?)',
 '10  (passengers:0 crew:10)',
 '10  (passengers:1 crew:9)',
 '10  (passengers:10 crew:0)',
 '10  (passengers:2 crew:8)',
 '10  (passengers:3 crew:7)',
 '10  (passengers:4 crew:6)',
 '10  (passengers:5 crew:5)',
 '10  (passengers:6 crew:4)',
 '10  (passengers:7 crew:3)',
 '10  (passengers:8 crew:2)',
 '10  (passengers:9 crew:1)',
 '10  (passengers:? crew:?)',
 '100  (passengers:93 crew:7)',
 '100  (passengers:? crew:?)',
 '101  (passengers:95 crew:6)',
 '102  (passengers:91 crew:11)',
 '102  (passengers:93 crew:9)',
 '102  (passengers:96 crew:6)',
 '102  (passengers:97 crew:5)',
 '103  (passengers:92 crew:11)',
 '103  (passengers:96 crew:7)',
 '103  (passengers:97 crew:6)',
 '104  (passengers:96 crew:8)',
 '104  (passengers:97 crew:7)',
 '104  (passengers:98 crew:6)',
 '104  (passengers:99 crew:5)',
 '106  (passengers:99 crew:7)',
 '107  (passengers:101 crew:6)',
 '107  (passengers:96 crew:11)',
 '107  (passengers:99 crew:8)',
 '108  (passengers:100 crew:8)',
 '108  (passengers:101 crew:7)',
 '108  (passengers:103 crew:5)',
 '108  (passengers:104 crew:4)',
 '108  (passengers:98 crew:10)',
 '109  (passengers:100 crew:9)',
 '109  (passengers:102 crew:7)',
 '11  (passengers:0 crew:11)',
 '11  (passengers:10 crew:1)',
 '11  (passengers:11 crew:0)',
 '11  (passengers:11 crew:2)',
 '11  (passengers:2 crew:9)',
 '11  (passengers:4 crew:7)',
 '11  (passengers:5 crew:6)',
 '11  (passengers:6 crew:5)',
 '11  (passengers:7 crew:4)',
 '11  (passengers:8 crew:3)',
 '11  (passengers:9 crew:2)',
 '11  (passengers:? crew:?)',
 '110  (passengers:103 crew:7)',
 '110  (passengers:104 crew:6)',
 '110  (passengers:105 crew:5)',
 '110  (passengers:106 crew:4)',
 '111  (passengers:100 crew:11)',
 '111  (passengers:101 crew:10)',
 '111  (passengers:104 crew:7)',
 '112  (passengers:102 crew:10)',
 '112  (passengers:103 crew:9)',
 '112  (passengers:104 crew:8)',
 '112  (passengers:105 crew:7)',
 '112  (passengers:106 crew:6)',
 '112  (passengers:107 crew:5)',
 '112  (passengers:111 crew:1)',
 '113  (passengers:105 crew:8)',
 '113  (passengers:107 crew:6)',
 '113  (passengers:99 crew:14)',
 '114  (passengers:105 crew:9)',
 '114  (passengers:106 crew:8)',
 '115  (passengers:104 crew:11)',
 '115  (passengers:108 crew:7)',
 '116  (passengers:108 crew:8)',
 '116  (passengers:110 crew:6)',
 '117  (passengers:106 crew:11)',
 '117  (passengers:108 crew:9)',
 '117  (passengers:111 crew:6)',
 '118  (passengers:111 crew:7)',
 '118  (passengers:112 crew:6)',
 '119  (passengers:111 crew:8)',
 '12  (passengers:0 crew:12)',
 '12  (passengers:10 crew:2)',
 '12  (passengers:10 crew:4)',
 '12  (passengers:11 crew:1)',
 '12  (passengers:12 crew:0)',
 '12  (passengers:2 crew:10)',
 '12  (passengers:4 crew:8)',
 '12  (passengers:5 crew:7)',
 '12  (passengers:6 crew:6)',
 '12  (passengers:7 crew:5)',
 '12  (passengers:8 crew:4)',
 '12  (passengers:9 crew:3)',
 '12  (passengers:? crew:12)',
 '12  (passengers:? crew:3)',
 '12  (passengers:? crew:?)',
 '120  (passengers:110 crew:10)',
 '121  (passengers:108 crew:13)',
 '121  (passengers:115 crew:6)',
 '121  (passengers:121 crew:0)',
 '122  (passengers:108 crew:14)',
 '122  (passengers:110 crew:12)',
 '122  (passengers:114 crew:8)',
 '122  (passengers:115 crew:7)',
 '123  (passengers:111 crew:12)',
 '123  (passengers:116 crew:7)',
 '123  (passengers:117 crew:6)',
 '124  (passengers:113 crew:11)',
 '124  (passengers:115 crew:9)',
 '124  (passengers:119 crew:5)',
 '125  (passengers:120 crew:5)',
 '126  (passengers:115 crew:11)',
 '126  (passengers:117 crew:9)',
 '127  (passengers:117 crew:10)',
 '127  (passengers:121 crew:6)',
 '127  (passengers:123 crew:4)',
 '128  (passengers:116 crew:12)',
 '128  (passengers:117 crew:11)',
 '128  (passengers:120 crew:8)',
 '128  (passengers:121 crew:7)',
 '129  (passengers:122 crew:7)',
 '129  (passengers:? crew:?)',
 '13  (passengers:0 crew:13)',
 '13  (passengers:10 crew:3)',
 '13  (passengers:11 crew:2)',
 '13  (passengers:11 crew:5)',
 '13  (passengers:12 crew:1)',
 '13  (passengers:13 crew:0)',
 '13  (passengers:4 crew:9)',
 '13  (passengers:6 crew:7)',
 '13  (passengers:7 crew:6)',
 '13  (passengers:8 crew:5)',
 '13  (passengers:9 crew:4)',
 '13  (passengers:? crew:13)',
 '13  (passengers:? crew:?)',
 '130  (passengers:122 crew:8)',
 '130  (passengers:126 crew:4)',
 '131  (passengers:124 crew:7)',
 '131  (passengers:125 crew:6)',
 '132  (passengers:124 crew:8)',
 '132  (passengers:125 crew:7)',
 '132  (passengers:127 crew:5)',
 '133  (passengers:119 crew:14)',
 '133  (passengers:126 crew:7)',
 '134  (passengers:126 crew:8)',
 '134  (passengers:129 crew:5)',
 '137  (passengers:128 crew:9)',
 '14  (passengers:0 crew:14)',
 '14  (passengers:10 crew:4)',
 '14  (passengers:11 crew:3)',
 '14  (passengers:12 crew:2)',
 '14  (passengers:13 crew:1)',
 '14  (passengers:14 crew:0)',
 '14  (passengers:2 crew:12)',
 '14  (passengers:6 crew:8)',
 '14  (passengers:7 crew:7)',
 '14  (passengers:9 crew:5)',
 '14  (passengers:? crew:?)',
 '140  (passengers:132 crew:8)',
 '141  (passengers:129 crew:12)',
 '141  (passengers:133 crew:8)',
 '141  (passengers:137 crew:4)',
 '143  (passengers:134 crew:9)',
 '143  (passengers:135 crew:8)',
 '143  (passengers:136 crew:7)',
 '144  (passengers:137 crew:7)',
 '145  (passengers:136 crew:9)',
 '145  (passengers:138 crew:7)',
 '146  (passengers:138 crew:8)',
 '148  (passengers:135 crew:13)',
 '148  (passengers:141 crew:7)',
 '15  (passengers:0 crew:15)',
 '15  (passengers:10 crew:5)',
 '15  (passengers:11 crew:4)',
 '15  (passengers:12 crew:3)',
 '15  (passengers:13 crew:2)',
 '15  (passengers:14 crew:1)',
 '15  (passengers:15 crew:0)',
 '15  (passengers:6 crew:9)',
 '15  (passengers:8 crew:7)',
 '15  (passengers:9 crew:6)',
 '15  (passengers:? crew:?)',
 '150  (passengers:144 crew:6)',
 '152  (passengers:141 crew:11)',
 '152  (passengers:146 crew:6)',
 '153  (passengers:146 crew:7)',
 '154  (passengers:146 crew:8)',
 '154  (passengers:148 crew:6)',
 '155  (passengers:148 crew:7)',
 '155  (passengers:149 crew:6)',
 '155  (passengers:150 crew:5)',
 '156  (passengers:145 crew:11)',
 '156  (passengers:148 crew:8)',
 '157  (passengers:147 crew:10)',
 '158  (passengers:154 crew:4)',
 '159  (passengers:140 crew:19)',
 '159  (passengers:153 crew:6)',
 '16  (passengers:0 crew:16)',
 '16  (passengers:10 crew:6)',
 '16  (passengers:11 crew:5)',
 '16  (passengers:12 crew:4)',
 '16  (passengers:13 crew:3)',
 '16  (passengers:14 crew:1)',
 '16  (passengers:14 crew:2)',
 '16  (passengers:15 crew:1)',
 '16  (passengers:16 crew:0)',
 '16  (passengers:3 crew:13)',
 '16  (passengers:5 crew:11)',
 '16  (passengers:8 crew:8)',
 '16  (passengers:9 crew:7)',
 '16  (passengers:? crew:?)',
 '160  (passengers:146 crew:14)',
 '160  (passengers:152 crew:8)',
 '162  (passengers:155 crew:7)',
 '163  (passengers:155 crew:8)',
 '166  (passengers:156 crew:10)',
 '167  (passengers:155 crew:12)',
 '167  (passengers:159 crew:8)',
 '168  (passengers:153 crew:15)',
 '169  (passengers:159 crew:10)',
 '17  (passengers:0 crew:17)',
 '17  (passengers:10 crew:7)',
 '17  (passengers:11 crew:6)',
 '17  (passengers:12 crew:5)',
 '17  (passengers:13 crew:4)',
 '17  (passengers:14 crew:3)',
 '17  (passengers:15 crew:2)',
 '17  (passengers:16 crew:1)',
 '17  (passengers:17 crew:0)',
 '17  (passengers:7 crew:10)',
 '17  (passengers:9 crew:8)',
 '17  (passengers:? crew:?)',
 '170  (passengers:160 crew:10)',
 '171  (passengers:156 crew:15)',
 '174  (passengers:164 crew:10)',
 '174  (passengers:169 crew:5)',
 '176  (passengers:162 crew:14)',
 '176  (passengers:167 crew:9)',
 '176  (passengers:170 crew:6)',
 '178  (passengers:155 crew:13)',
 '18  (passengers:0 crew:18)',
 '18  (passengers:11 crew:7)',
 '18  (passengers:12 crew:6)',
 '18  (passengers:13 crew:5)',
 '18  (passengers:14 crew:4)',
 '18  (passengers:15 crew:3)',
 '18  (passengers:16 crew:2)',
 '18  (passengers:17 crew:1)',
 '18  (passengers:18 crew:0)',
 '18  (passengers:18 crew:3)',
 '18  (passengers:4 crew:14)',
 '18  (passengers:9 crew:9)',
 '18  (passengers:? crew:?)',
 '180  (passengers:173 crew:7)',
 '181  (passengers:158 crew:23)',
 '183  (passengers:172 crew:11)',
 '183  (passengers:175 crew:8)',
 '187  (passengers:181 crew:6)',
 '188  (passengers:181 crew:7)',
 '189  (passengers:176 crew:13)',
 '189  (passengers:181 crew:8)',
 '19  (passengers:0 crew:19)',
 '19  (passengers:10 crew:9)',
 '19  (passengers:11 crew:8)',
 '19  (passengers:12 crew:7)',
 '19  (passengers:13 crew:6)',
 '19  (passengers:14 crew:5)',
 '19  (passengers:15 crew:4)',
 '19  (passengers:16 crew:3)',
 '19  (passengers:17 crew:2)',
 '19  (passengers:18 crew:1)',
 '19  (passengers:? crew:?)',
 '191  (passengers:182 crew:9)',
 '196  (passengers:182 crew:14)',
 '2  (passengers:0 crew:0)',
 '2  (passengers:0 crew:2)',
 '2  (passengers:1 crew:1)',
 '2  (passengers:2 crew:0)',
 '2  (passengers:2 crew:2)',
 '2  (passengers:7 crew:2)',
 '2  (passengers:? crew:?)',
 '20  (passengers:0 crew:20)',
 '20  (passengers:11 crew:9)',
 '20  (passengers:13 crew:7)',
 '20  (passengers:14 crew:6)',
 '20  (passengers:15 crew:5)',
 '20  (passengers:16 crew:11)',
 '20  (passengers:16 crew:4)',
 '20  (passengers:17 crew:3)',
 '20  (passengers:18 crew:2)',
 '20  (passengers:19 crew:1)',
 '20  (passengers:20 crew:0)',
 '20  (passengers:3 crew:17)',
 '20  (passengers:? crew:?)',
 '200  (passengers:191 crew:9)',
 '21  (passengers:12 crew:9)',
 '21  (passengers:13 crew:8)',
 '21  (passengers:14 crew:7)',
 '21  (passengers:15 crew:6)',
 '21  (passengers:16 crew:5)',
 '21  (passengers:17 crew:4)',
 '21  (passengers:18 crew:3)',
 '21  (passengers:19 crew:2)',
 '21  (passengers:19 crew:5)',
 '21  (passengers:20 crew:1)',
 '21  (passengers:21 crew:0)',
 '21  (passengers:3 crew:18)',
 '21  (passengers:8 crew:13)',
 '21  (passengers:? crew:?)',
 '213  (passengers:190 crew:23)',
 '217  (passengers:202 crew:15)',
 '22  (passengers:0 crew:22)',
 '22  (passengers:12 crew:10)',
 '22  (passengers:13 crew:9)',
 '22  (passengers:16 crew:6)',
 '22  (passengers:17 crew:5)',
 '22  (passengers:18 crew:4)',
 '22  (passengers:19 crew:3)',
 '22  (passengers:20 crew:2)',
 '22  (passengers:21 crew:1)',
 '22  (passengers:22 crew:0)',
 '22  (passengers:? crew:?)',
 '223  (passengers:213 crew:10)',
 '224  (passengers:217 crew:7)',
 '225  (passengers:206 crew:19)',
 '228  (passengers:206 crew:22)',
 '228  (passengers:216 crew:12)',
 '229  (passengers:215 crew:14)',
 '23  (passengers:0 crew:23)',
 '23  (passengers:13 crew:10)',
 '23  (passengers:15 crew:8)',
 '23  (passengers:16 crew:7)',
 '23  (passengers:17 crew:6)',
 '23  (passengers:18 crew:5)',
 '23  (passengers:19 crew:4)',
 '23  (passengers:20 crew:3)',
 '23  (passengers:21 crew:2)',
 '23  (passengers:22 crew:1)',
 '23  (passengers:23 crew:0)',
 '23  (passengers:? crew:?)',
 '230  (passengers:212 crew:18)',
 '234  (passengers:222 crew:12)',
 '239  (passengers:227 crew:12)',
 '24  (passengers:15 crew:9)',
 '24  (passengers:16 crew:8)',
 '24  (passengers:17 crew:7)',
 '24  (passengers:18 crew:6)',
 '24  (passengers:19 crew:5)',
 '24  (passengers:20 crew:4)',
 '24  (passengers:21 crew:3)',
 '24  (passengers:22 crew:2)',
 '24  (passengers:23 crew:1)',
 '24  (passengers:24 crew:0)',
 '24  (passengers:? crew:?)',
 '25  (passengers:0 crew:25)',
 '25  (passengers:17 crew:8)',
 '25  (passengers:18 crew:7)',
 '25  (passengers:19 crew:6)',
 '25  (passengers:20 crew:5)',
 '25  (passengers:21 crew:4)',
 '25  (passengers:22 crew:3)',
 '25  (passengers:23 crew:2)',
 '25  (passengers:25 crew:0)',
 '25  (passengers:? crew:?)',
 '256  (passengers:248 crew:8)',
 '257  (passengers:237 crew:20)',
 '257  (passengers:247 crew:10)',
 '259  (passengers:243 crew:16)',
 '26  (passengers:16 crew:10)',
 '26  (passengers:18 crew:8)',
 '26  (passengers:19 crew:7)',
 '26  (passengers:20 crew:6)',
 '26  (passengers:21 crew:5)',
 '26  (passengers:22 crew:4)',
 '26  (passengers:23 crew:3)',
 '26  (passengers:24 crew:2)',
 '26  (passengers:? crew:?)',
 '260  (passengers:251 crew:9)',
 '261  (passengers:247 crew:14)',
 '264  (passengers:249 crew:15)',
 '269  (passengers:246 crew:23)',
 '27  (passengers:0 crew:27)',
 '27  (passengers:18 crew:9)',
 '27  (passengers:19 crew:8)',
 '27  (passengers:20 crew:7)',
 '27  (passengers:21 crew:6)',
 '27  (passengers:22 crew:5)',
 '27  (passengers:23 crew:4)',
 '27  (passengers:24 crew:3)',
 '27  (passengers:25 crew:2)',
 '27  (passengers:? crew:?)',
 '271  (passengers:258 crew:13)',
 '275  (passengers:257 crew:18)',
 '28  (passengers:21 crew:7)',
 '28  (passengers:22 crew:6)',
 '28  (passengers:23 crew:5)',
 '28  (passengers:24 crew:4)',
 '28  (passengers:25 crew:3)',
 '28  (passengers:26 crew:2)',
 '28  (passengers:27 crew:1)',
 '28  (passengers:28 crew:0)',
 '28  (passengers:? crew:?)',
 '29  (passengers:15 crew:14)',
 '29  (passengers:19 crew:10)',
 '29  (passengers:21 crew:8)',
 '29  (passengers:22 crew:7)',
 '29  (passengers:23 crew:6)',
 '29  (passengers:24 crew:5)',
 '29  (passengers:25 crew:4)',
 '29  (passengers:26 crew:3)',
 '29  (passengers:29 crew:0)',
 '29  (passengers:? crew:?)',
 '290  (passengers:278 crew:12)',
 '298  (passengers:283 crew:15)',
 '3  (passengers:0 crew:0)',
 '3  (passengers:0 crew:3)',
 '3  (passengers:1 crew:2)',
 '3  (passengers:2 crew:1)',
 '3  (passengers:3 crew:0)',
 '3  (passengers:3 crew:2)',
 '3  (passengers:? crew:?)',
 '30  (passengers:20 crew:10)',
 '30  (passengers:21 crew:9)',
 '30  (passengers:23 crew:7)',
 '30  (passengers:24 crew:6)',
 '30  (passengers:25 crew:5)',
 '30  (passengers:26 crew:4)',
 '30  (passengers:27 crew:3)',
 '30  (passengers:28 crew:2)',
 '30  (passengers:29 crew:1)',
 '30  (passengers:30 crew:0)',
 '30  (passengers:33 crew:6)',
 '30  (passengers:? crew:?)',
 '301  (passengers:287 crew:14)',
 '31  (passengers:23 crew:8)',
 '31  (passengers:24 crew:7)',
 '31  (passengers:25 crew:6)',
 '31  (passengers:26 crew:5)',
 '31  (passengers:27 crew:4)',
 '31  (passengers:28 crew:3)',
 '31  (passengers:29 crew:2)',
 '31  (passengers:? crew:?)',
 '32  (passengers:19 crew:13)',
 '32  (passengers:23 crew:9)',
 '32  (passengers:24 crew:8)',
 '32  (passengers:26 crew:6)',
 '32  (passengers:27 crew:5)',
 '32  (passengers:28 crew:4)',
 '32  (passengers:29 crew:3)',
 '32  (passengers:30 crew:2)',
 '32  (passengers:31 crew:1)',
 '32  (passengers:? crew:?)',
 '329  (passengers:307 crew:22)',
 '33  (passengers:23 crew:10)',
 '33  (passengers:26 crew:7)',
 '33  (passengers:27 crew:6)',
 '33  (passengers:28 crew:5)',
 '33  (passengers:29 crew:4)',
 '33  (passengers:30 crew:3)',
 '33  (passengers:31 crew:2)',
 '34  (passengers:23 crew:11)',
 '34  (passengers:24 crew:10)',
 '34  (passengers:26 crew:8)',
 '34  (passengers:27 crew:7)',
 '34  (passengers:28 crew:6)',
 '34  (passengers:29 crew:5)',
 '34  (passengers:30 crew:4)',
 '34  (passengers:31 crew:3)',
 '34  (passengers:32 crew:2)',
 '34  (passengers:? crew:?)',
 '346  (passengers:335 crew:11)',
 '349  (passengers:316 crew:33)',
 '35  (passengers:13 crew:22)',
 '35  (passengers:26 crew:9)',
 '35  (passengers:27 crew:8)',
 '35  (passengers:28 crew:7)',
 '35  (passengers:29 crew:6)',
 '35  (passengers:30 crew:5)',
 '35  (passengers:31 crew:4)',
 '35  (passengers:32 crew:3)',
 '35  (passengers:33 crew:2)',
 '35  (passengers:35 crew:0)',
 '35  (passengers:? crew:?)',
 '36  (passengers:29 crew:7)',
 '36  (passengers:30 crew:6)',
 '36  (passengers:31 crew:5)',
 '36  (passengers:32 crew:4)',
 '36  (passengers:33 crew:3)',
 '36  (passengers:35 crew:1)',
 '36  (passengers:? crew:?)',
 '37  (passengers:30 crew:7)',
 '37  (passengers:31 crew:6)',
 '37  (passengers:32 crew:5)',
 '37  (passengers:33 crew:4)',
 '37  (passengers:34 crew:3)',
 '37  (passengers:35 crew:2)',
 '37  (passengers:36 crew:1)',
 '37  (passengers:37 crew:0)',
 '37  (passengers:? crew:?)',
 '38  (passengers:31 crew:7)',
 '38  (passengers:32 crew:6)',
 '38  (passengers:33 crew:5)',
 '38  (passengers:34 crew:4)',
 '38  (passengers:35 crew:3)',
 '38  (passengers:36 crew:2)',
 '38  (passengers:37 crew:1)',
 '38  (passengers:38 crew:0)',
 '38  (passengers:? crew:?)',
 '39  (passengers:26 crew:13)',
 '39  (passengers:31 crew:8)',
 '39  (passengers:32 crew:7)',
 '39  (passengers:33 crew:6)',
 '39  (passengers:34 crew:5)',
 '39  (passengers:35 crew:4)',
 '39  (passengers:36 crew:3)',
 '39  (passengers:? crew:?)',
 '4  (passengers:0 crew:3)',
 '4  (passengers:0 crew:4)',
 '4  (passengers:1 crew:3)',
 '4  (passengers:2 crew:2)',
 '4  (passengers:3 crew:1)',
 '4  (passengers:3 crew:2)',
 '4  (passengers:3 crew:?)',
 '4  (passengers:4 crew:0)',
 '4  (passengers:? crew:?)',
 '40  (passengers:29 crew:11)',
 '40  (passengers:30 crew:10)',
 '40  (passengers:31 crew:9)',
 '40  (passengers:32 crew:8)',
 '40  (passengers:33 crew:7)',
 '40  (passengers:34 crew:6)',
 '40  (passengers:35 crew:5)',
 '40  (passengers:36 crew:4)',
 '40  (passengers:37 crew:3)',
 '40  (passengers:? crew:?)',
 '41  (passengers:34 crew:7)',
 '41  (passengers:35 crew:6)',
 '41  (passengers:36 crew:5)',
 '41  (passengers:37 crew:4)',
 '41  (passengers:38 crew:3)',
 '42  (passengers:33 crew:9)',
 '42  (passengers:34 crew:8)',
 '42  (passengers:35 crew:7)',
 '42  (passengers:36 crew:6)',
 '42  (passengers:37 crew:5)',
 '42  (passengers:38 crew:4)',
 '42  (passengers:39 crew:3)',
 '42  (passengers:? crew:?)',
 '43  (passengers:34 crew:9)',
 '43  (passengers:35 crew:8)',
 '43  (passengers:37 crew:6)',
 '43  (passengers:38 crew:5)',
 '43  (passengers:39 crew:4)',
 '43  (passengers:40 crew:3)',
 '43  (passengers:41 crew:2)',
 '43  (passengers:42 crew:1)',
 '43  (passengers:43 crew:0)',
 '43  (passengers:? crew:?)',
 '44  (passengers:36 crew:8)',
 '44  (passengers:37 crew:7)',
 '44  (passengers:38 crew:6)',
 '44  (passengers:39 crew:5)',
 '44  (passengers:40 crew:4)',
 '44  (passengers:41 crew:3)',
 '44  (passengers:? crew:?)',
 '45  (passengers:32 crew:13)',
 '45  (passengers:33 crew:12)',
 '45  (passengers:34 crew:11)',
 '45  (passengers:35 crew:10)',
 '45  (passengers:36 crew:9)',
 '45  (passengers:37 crew:8)',
 '45  (passengers:38 crew:7)',
 '45  (passengers:39 crew:6)',
 '45  (passengers:40 crew:5)',
 '45  (passengers:41 crew:4)',
 '45  (passengers:42 crew:3)',
 '45  (passengers:43 crew:2)',
 '45  (passengers:44 crew:1)',
 '45  (passengers:? crew:?)',
 '46  (passengers:0 crew:46)',
 '46  (passengers:38 crew:8)',
 '46  (passengers:40 crew:6)',
 '46  (passengers:41 crew:5)',
 '46  (passengers:42 crew:4)',
 '46  (passengers:43 crew:3)',
 '46  (passengers:? crew:?)',
 '47  (passengers:35 crew:12)',
 '47  (passengers:38 crew:9)',
 '47  (passengers:39 crew:8)',
 '47  (passengers:40 crew:7)',
 '47  (passengers:41 crew:6)',
 '47  (passengers:42 crew:5)',
 '47  (passengers:43 crew:4)',
 '47  (passengers:44 crew:3)',
 '47  (passengers:45 crew:2)',
 '47  (passengers:46 crew:1)',
 '47  (passengers:47 crew:0)',
 '47  (passengers:? crew:?)',
 '48  (passengers:37 crew:11)',
 '48  (passengers:40 crew:8)',
 '48  (passengers:42 crew:6)',
 '48  (passengers:43 crew:5)',
 '48  (passengers:44 crew:4)',
 '48  (passengers:45 crew:3)',
 '48  (passengers:? crew:?)',
 '49  (passengers:40 crew:9)',
 '49  (passengers:41 crew:8)',
 '49  (passengers:42 crew:7)',
 '49  (passengers:43 crew:6)',
 '49  (passengers:44 crew:5)',
 '49  (passengers:45 crew:4)',
 '49  (passengers:46 crew:3)',
 '49  (passengers:47 crew:2)',
 '5  (passengers:0 crew:5)',
 '5  (passengers:1 crew:4)',
 '5  (passengers:2 crew:3)',
 '5  (passengers:3 crew:2)',
 '5  (passengers:4 crew:1)',
 '5  (passengers:5 crew:0)',
 '5  (passengers:? crew:5)',
 '5  (passengers:? crew:?)',
 '50  (passengers:37 crew:13)',
 '50  (passengers:38 crew:12)',
 '50  (passengers:41 crew:9)',
 '50  (passengers:43 crew:7)',
 '50  (passengers:44 crew:6)',
 '50  (passengers:45 crew:5)',

In [879]:
re.split("(\s+)",data.at[2,'aboard'])[:1]

['5']

In [880]:
data['Total_Passengers']=0
data['Total_Fatalities']=0

In [881]:
def split(x):
    return pd.Series(re.split("(\s+)",x)[:1])

data['Total_Passengers'] = data['aboard'].apply(split)
data['Total_Fatalities'] = data['aboard'].apply(split)

In [ ]:
data.head()

In [882]:
def split_2(x):
    return pd.Series(re.split(':',x)[2:])


data['Total_Crew'] = data['aboard'].apply(split_2)
data['Total_Fatalities_Crew'] = data['fatalities'].apply(split_2)

data['Total_Crew']=data['Total_Crew'].str.replace(')','')
data['Total_Fatalities_Crew']=data['Total_Fatalities_Crew'].str.replace(')','')


data.head()

,date,time,location,operator,route,ac_type,registration,aboard,fatalities,ground,summary,Total_Passengers,Total_Fatalities,Total_Crew,Total_Fatalities_Crew
0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,NaN,1 (passengers:1 crew:0),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly...",1,1,0,0
1,"September 07, 1909",NaN,"Juvisy-sur-Orge, France",NaN,Air show,Wright Byplane,SC1,1 (passengers:0 crew:0),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...,1,1,0,0
2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,NaN,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...,5,5,5,5
3,"August 06, 1913",NaN,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,NaN,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...,1,1,1,1
4,"September 09, 1913",18:30,Over the North Sea,Military - German Navy,NaN,Zeppelin L-1 (airship),NaN,14 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...,14,14,?,?

In [883]:
data['date'] = pd.to_datetime(data['date'])
lista=['aboard','fatalities']
data=data.drop(lista,axis=1)

In [ ]:
#data['registration']= data['registration'].fillna(0)

In [884]:
data = data.replace('?', np.nan)

data['route']=data['route'].str.replace('?','')

In [885]:
data.dropna(subset=['Total_Crew','Total_Fatalities_Crew'],inplace=True)

data['Total_Crew']=data['Total_Crew'].astype(int)
data['Total_Passengers']=data['Total_Passengers'].astype(int)
data['Total_Fatalities']=data['Total_Fatalities'].astype(int)
data['Total_Fatalities_Crew']=data['Total_Fatalities_Crew'].astype(int)


#data['Total_Passengers_Not_Crew']=0
data['Total_Passengers_Not_Crew']=data['Total_Passengers']-data['Total_Crew']
data['Total_Fatalities_Not_Crew']=data['Total_Fatalities']-data['Total_Fatalities_Crew']

In [893]:
data.dtypes

date                         datetime64[ns]
time                                 object
location                             object
operator                             object
Type                                 object
ac_type                              object
registration                         object
ground                               object
summary                              object
Total_Passengers                      int32
Total_Fatalities                      int32
Total_Crew                            int32
Total_Fatalities_Crew                 int32
Total_Passengers_Not_Crew             int32
Total_Fatalities_Not_Crew             int32
Route                                object
dtype: object

In [887]:
data['route'].value_counts()

Training                         92
Sightseeing                      42
Test flight                      19
Test                              7
Sao Paulo - Rio de Janeiro        7
Paris - London                    5
Rio de Janeiro - Sao Paulo        4
Huambo - Luanda                   4
Bogota - Barranquilla             4
Saigon - Paris                    4
Barranquilla - Bogota             4
Paris - Croydon                   3
Guayaquil - Quito                 3
Istanbul - Ankara                 3
Strasbourg - Paris                3
Quito - Cuenca                    3
Villavicencio - Mitu              3
Skydiving                         3
Guayaquil - Cuenca                3
Berlin - Munich                   3
Burbank - Oakland                 3
Davao - Manila                    3
London - Paris                    3
Cleveland - Chicago               3
Krasnoyarsk - Irkutsk             3
Sao Paulo - Porto Alegre          3
Rome - Cairo                      3
Lagos - Abuja                     3
Amsterdam - Paris                 3
Positioning                       3
                                 ..
Fornebu - Hommelvik               1
Saint Louis, MO - Detroit, MI     1
Tsingtao- Tsinan                  1
Atlantic City - Cap May           1
Magdan - Keperveem                1
Homer, AK - Local                 1
Leningrad - Moscow                1
Seward, AK - Aialak Bay, AK       1
Rockhampton - MacKay              1
Dalian - Shanghai                 1
Ephrata, WA - Portland, OR        1
Ft. Lauderdale - Bimini           1
Katmandou - Lukla                 1
Seattle - Newark                  1
Yerevan - Zvartnots               1
Punta Cana - Arroyo Barril        1
Rome - Genoa                      1
Lazaro - Cardenas - Michoacan     1
Rome - Monrovia                   1
Athens - Larisa                   1
Spokan, WA - Walla Walla, WA      1
Oberlin, KS - Phoenix, NM         1
Dallas - Tucon - San Diego        1
Tijuana - Los Angeles             1
Kabul - Tashkent                  1
Panama City - David               1
Constantinople - Budapest         1
Kansas City - Chicago             1
Ruby - Colorado Creek             1
Wichita, KS - Hays, KS            1
Name: route, Length: 3750, dtype: int64

In [888]:
data.loc[(data['route']=='Test'),'route']='Test flight'

In [889]:
data['route2']=data['route']
data.loc[(data['route']!='Test flight')&(data['route']!= 'Sightseeing')&(data['route']!='Air show')&(data['route']!='Training')&(data['route']!='Demonstration')
         ,'route']='Commercial'

In [ ]:
#def split_3(x):
 #   return pd.Series(re.split(':',x)[2:])



#data['route2'] = data['route2'].apply(split_2)

In [890]:
data.dropna(subset=['route','route2'],inplace=True)

In [891]:
data=data.rename(columns={'route':'Type'})
data=data.rename(columns={'route2':'Route'})

In [895]:
data.to_csv('plane_crash.csv', index=False)
data.head()

,date,time,location,operator,Type,Route,Total_Passengers,Total_Fatalities,Total_Passengers_Not_Crew,Total_Fatalities_Not_Crew,Total_Crew,Total_Fatalities_Crew,ac_type,ground,registration,summary
0,1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Demonstration,1,1,1,1,0,0,Wright Flyer III,0,NaN,"During a demonstration flight, a U.S. Army fly..."
1,1909-09-07,NaN,"Juvisy-sur-Orge, France",NaN,Air show,Air show,1,1,1,1,0,0,Wright Byplane,0,SC1,Eugene Lefebvre was the first pilot to ever be...
2,1912-07-12,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Test flight,5,5,0,0,5,5,Dirigible,0,NaN,First U.S. dirigible Akron exploded just offsh...
26,1919-08-02,NaN,"Verona, Italy",Caproni Company,Commercial,Venice Taliedo,14,14,12,12,2,2,Caproni Ca.48,0,NaN,As the plane was passing over Verona the wings...
31,1919-12-11,NaN,"Catherham, Surrey, UK",Aircraft Travel Transport,Commercial,Paris - Hounslow,1,1,0,0,1,1,de Havilland DH-4,0,G-EAHF,Crashed in a field while attemptting to land.

In [894]:

neworder = ['date','time','location','operator','Type','Route','Total_Passengers','Total_Fatalities','Total_Passengers_Not_Crew'
           ,'Total_Fatalities_Not_Crew','Total_Crew','Total_Fatalities_Crew','ac_type','ground','registration','summary']
data=data.reindex(columns=neworder)