In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
df1 = pd.read_csv('planecrashinfo_20181121001952.csv')
df1

,date,time,location,operator,flight_no,route,ac_type,registration,cn_ln,aboard,fatalities,ground,summary
0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",c 18:30,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...
5,"October 17, 1913",c 10:30,"Near Johannisthal, Germany",Military - German Navy,?,?,Zeppelin L-2 (airship),?,?,30 (passengers:? crew:?),30 (passengers:? crew:?),0,Hydrogen gas which was being vented was sucked...
6,"March 05, 1915",c 01:00,"Tienen, Belgium",Military - German Navy,?,?,Zeppelin L-8 (airship),?,?,41 (passengers:? crew:?),21 (passengers:? crew:?),0,Crashed into trees while attempting to land af...
7,"September 03, 1915",c 15:20,"Off Cuxhaven, Germany",Military - German Navy,?,?,Zeppelin L-10 (airship),?,?,19 (passengers:? crew:?),19 (passengers:? crew:?),0,"Exploded and burned near Neuwerk Island, when..."
8,"July 28, 1916",?,"Near Jambol, Bulgeria",Military - German Army,?,?,Schutte-Lanz S-L-10 (airship),?,?,20 (passengers:? crew:?),20 (passengers:? crew:?),0,"Crashed near the Black Sea, cause unknown."
9,"September 24, 1916",c 01:00,"Billericay, England",Military - German Navy,?,?,Zeppelin L-32 (airship),?,?,22 (passengers:? crew:?),22 (passengers:? crew:?),0,Shot down by British aircraft crashing in flames.
10,"October 01, 1916",c 23:45,"Potters Bar, England",Military - German Navy,?,?,Zeppelin L-31 (airship),?,?,19 (passengers:0 crew:19),19 (passengers:0 crew:19),0,Shot down in flames by the British 39th Home D...
11,"November 21, 1916",?,"Mainz, Germany",Military - German Army,?,?,Super Zeppelin (airship),?,?,28 (passengers:? crew:?),27 (passengers:? crew:?),0,Crashed in a storm.
12,"November 28, 1916",c 23:45,"Off West Hartlepool, England",Military - German Navy,?,?,Zeppelin L-34 (airship),?,?,20 (passengers:? crew:?),20 (passengers:? crew:?),0,Shot down by British anti-aircraft fire and ai...
13,"March 04, 1917",?,"Near Gent, Belgium",Military - German Army,?,?,Airship,?,?,20 (passengers:? crew:?),20 (passengers:? crew:?),0,Caught fire and crashed.
14,"March 30, 1917",?,Off Northern Germany,Military - German Navy,?,?,Schutte-Lanz S-L-9 (airship),?,?,23 (passengers:? crew:?),23 (passengers:? crew:?),0,Struck by lightning and crashed into the Balti...
15,"May 14, 1917",c 05:15,"Near Texel Island, North Sea",Military - German Navy,?,?,Zeppelin L-22 (airship),?,?,21 (passengers:? crew:?),21 (passengers:? crew:?),0,"Crashed into the sea from an altitude of 3,000..."
16,"June 14, 1917",c 08:45,"Off Vlieland Island, North Sea",Military - German Navy,?,?,Zeppelin L-43 (airship),?,?,24 (passengers:? crew:?),24 (passengers:? crew:?),0,Shot down by British aircraft.
17,"June 17, 1917",?,"Near Yarmouth, England",?,?,?,Zepplin LZ-95 (air ship),L-48,?,16 (passengers:? crew:?),14 (passengers:? crew:?),0,Shot down by aircraft.
18,"August 21, 1917",c 07:00,Off western Denmark,Military - German Navy,?,?,Zeppelin L-23 (airship),?,?,18 (passengers:? crew:?),18 (passengers:? crew:?),0,Shot down by British aircraft.
19,"October 20, 1917",c 07:45,"Near Luneville, France",Military - German Navy,?,?,Zeppelin L-44 (airship),?,?,18 (passengers:? crew:?),18 (passengers:? crew:?),0,Shot down by French anti-aircraft fire.
20,"April 07, 1918",c 21:30,Over the Mediterranean,Military - German Navy,?,?,Zeppelin L-59 (airship),?,?,23 (passengers:? crew:?),23 (passengers:? crew:?),0,Exploded and crashed into the sea off the sout...
21,"May 10, 1918",?,"Off Helgoland Island, Germany",Military - German Navy,?,?,Zeppelin L-70 (airship),?,?,22 (passengers:? crew:?),22 (passengers:? crew:?),0,Shot down by British aircraft crashing from a ...
22,"August 11, 1918",c 10:00,"Ameland Island, North Sea",Military - German Navy,?,?,Zeppelin L-53 (airship),?,?,19 (passengers:? crew:?),19 (passengers:? crew:?),0,Shot down by british aircraft.
23,"December 16, 1918",?,"Elizabeth, New Jersey",US Aerial Mail Service,?,?,De Havilland DH-4,97,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,Carl Smith was killed when his mail plane feet...
24,"May 25, 1919",?,"Cleveland, Ohio",US Aerial Mail Service,?,?,De Havilland DH-4,61,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,Caught fire in midair. The pilot leaped from t...
25,"July 19, 1919",?,"Dix Run, Pennsylvania",US Aerial Mail Service,?,?,De Havilland DH-4,82,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,?
26,"August 02, 1919",?,"Verona, Italy",Caproni Company,?,Venice Taliedo,Caproni Ca.48,?,?,14 (passengers:12 crew:2),14 (passengers:12 crew:2),0,As the plane was passing over Verona the wings...
27,"October 02, 1919",?,"Newcastle, England",Aircraft Transport and Travel,?,?,De Havilland DH-4,?,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,?
28,"October 14, 1919",?,"Cantonsville, Maryland",US Aerial Mail Service,?,?,Curtiss R-4LM,32,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The pilot was performing a mail flight to Balt...
29,"October 20, 1919",?,"English Channel off Forkstone, Kent",Aircraft Transport and Travel,?,?,De Havilland DH-4,G-EAHG,?,0 (passengers:? crew:?),0 (passengers:? crew:?),0,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5753,"March 10, 2017",1120,"Istanbul, Turkey",Swan Aviation,?,Istanbul - Bozuyuk,Sikorsky S-76C,TC-HEZ,760717,7 (passengers:5 crew:2),7 (passengers:5 crew:2),0,The helicopter crashed on a highway after hitt...
5754,"March 27, 2017",0815,"Mautaer, Zimbabwe",ETA Air Charter,?,"Beira, Mozambique - Harare, Zimbabwe",Britten-Norman BN2 Islander,C9-AOV,024,6 (passengers:4 crew:2),6 (passengers:4 crew:2),0,While en route the air transport plane collide...
5755,"May 05, 2017",0653,"Charleston, West Virginia",Air Cargo Carriers,?,Louisville - Charleston,Shorts 300-200,N334AC,SH-3029,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,The cargo plane was destroyed when it crashed ...
5756,"May 15, 2017",1530,"Carlstadt,, New Jersey",A&C Big Sky Aviation,?,"Philadelphia, PA - Teteboro, NJ",Learjet 35A-452,N452DA,35A-452,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,"While on approach to Teleboro Airport, the air..."
5757,"May 27, 2017",1402,"Tenzing, Nepal",Summit Air,409,?,Let L-410UVP-E20,9N-AKY,2917,3 (passengers:0 crew:3),2 (passengers:0 crew:2),0,The cargo plane crashed short of the runway th...
5758,"June 07, 2017",1335,"Off Dawei, Myanmar",Myanmar Air Force,?,Myeik - Yangon,Shaanxi Y-8F-200W,5820,?,122 (passengers:108 crew:14),122 (passengers:108 crew:14),0,The transport plane carrying military personne...
5759,"June 28, 2017",1015,"Mount Gambier, South Australia",Angel Flight,?,Suttontown - Adelaide,Socata TB1-10 Tobago,VH-YTM,1518,3 (passengers:2 crew:1),3 (passengers:2 crew:1),0,The medical flight crashed 3 km south of Mount...
5760,"July 10, 2017",1600,"Near Itta Bena, Mississipi",USMC,?,"Cherry Point, NC - El Centro, CA",Lockheed KC-130T Hercules,165000,382-5303,16 (passengers:14 crew:2),16 (passengers:14 crew:2),0,"While en route, the Marine Corps transport suf..."
5761,"October 14, 2017",0830,"Abidjan, Ivory Coast",Valan International Cargo Charter,?,Burkina Faso - Abidjan,Antonov AN-26-100,ER-AVB,3204,10 (passengers:4 crew:6),4 (passengers:4 crew:0),0,"The cargo plane, carrying French military carg..."
5762,"November 15, 2017",0800,"Empakaai, Tanzania",Costal Aviation,?,Arusha - Serengeti,Cessna 208B Grand Caravan,5H-EGG,208B-0476,11 (passengers:10 crew:1),11 (passengers:10 crew:1),0,The chartered Cessna was flying tourists from ...
5763,"December 13, 2017",1815,"Near Fond-du-Lac, Saskatchewan",West Wind Aviation,?,Fond-du-Lac - Stony Rapids,ATR42-320,C-GWEA,240,25 (passengers:22 crew:3),1 (passengers:1 crew:0),0,"Shortly after taking off, the aircraft lost al..."
5764,"December 31, 2017",1216,"Punta Islita, Costa Rica",Naure Air,?,Punta Islita - San Jose,Cessna 208B Grand Caravan,TI-BEI,208B-0900,12 (passengers:10 crew:2),12 (passengers:10 crew:2),0,The passenger plane crashed 10 minutes after t...
5765,"January 29, 2018",?,"Zhengchang, Suiyang County, Guizhou Province",People's Liberation Army Air Force,?,?,Shaanxi Y-8GX-3,30513,?,12 (passengers:7 crew:5),12 (passengers:7 crew:5),0,Unknown
5766,"February 10, 2018",1731,"Grand Canyon, Arizona",Papillon,?,Sightseeing,Eurocopter EC 130B4,N155GC,7091,7 (passengers:6 crew:1),3 (passengers:3 crew:0),0,The helicopter was observed making strange man...
5767,"February 11, 2018",1431,"Argunovo, Russia",Saratov Airlines,703,Moscow - Orsk,Antonov AN-148-100,RA-61704,27015040004,71 (passengers:65 crew:6),71 (passengers:65 crew:6),0,The regional airliner took off from Moscow at ...
5768,"February 18, 2018",0926,"Kohangan village, Iran",Iran Aseman Airlines,3704,Tehran - Yasuj,Iran Aseman Airlines,EP-ATS,?,66 (passengers:60 crew:6),66 (passengers:60 crew:6),0,The airliner was on approach to Yasuj Airport ...
5769,"March 06, 2018",1451,"Latakia, Syria",Military - Russian Air Force,?,Kuweires Air Base - Latakia-Khmeimim Air Base,Antonov An-26,RF-92955/52,10107,39 (passengers:33 crew:6),39 (passengers:33 crew:6),0,While on approach to Latakia-Khmeimim Air Base...
5770,"March 11, 2018",1908,"New York, New York",Liberty Helicopters,?,Sightseeing,Eurocopter AS 350B2,N350LH,7654,6 (passengers:5 crew:1),5 (passengers:5 crew:0),0,The sightseeing helicopter suddenly lost power...
5771,"March 12, 2018",14:15,"Kathmandu, Nepal",US-Bangla Airlines,221,Dhaka - Kathmandu,de Havilland Canada DHC-8-402Q Dash 8,S2-AGU,4041,71 (passengers:67 crew:4),51 (passengers:47 crew:4),0,"After getting clearance to land, the aircraft ..."
5772,"March 17, 2018",1120,"Plaridel, Philippines",Lite Air Express,?,Plaridel - Laoag,Piper PA-32RT-300T,RP-C299,32R-7985036,5 (passengers:3 crew:2),5 (passengers:3 crew:2),5,The small passenger plane crashed shortly afte...
5773,"April 11, 2018",0800,"Boufarik AB, Algeria",Military - Algerian Air Force,?,Boufarik AB - Bechar - Tindouf,Ilyushin 76-TD,7T-WIP,1043419636,257 (passengers:247 crew:10),257 (passengers:247 crew:10),0,The Algerian military plane crashed soon after...
5774,"April 17, 2018",1004,"NW of Philadelphia, Pennsylvania",Southwest Airlines,1380,New York - Dallas,Boeing 737-7H4,N722SW,27880/601,149 (passengers:144 crew:5),1 (passengers:1 crew:0),0,"While climbing to FL320, the No. 1 engine suff..."
5775,"May 02, 2018",1130,"Port Wentworth, Georgia",Military - US Air Force,?,Savannah - Tuscon,Lockheed HC-130H Hercules,65-0968,382-4110,9 (passengers:0 crew:9),9 (passengers:0 crew:9),0,A Porto Rico Air National Guard plane crashed ...
5776,"May 18, 2018",1208,"Havana, Cuba",Cubana (leased from Global Air),972,Havana- Holguin,Boeing 737-201,XA-UHZ,21816/592,113 (passengers:107 crew:6),112 (passengers:106 crew:6),0,After taking off from runway 06 at Havana-José...
5777,"June 05, 2018",1700,"Near Njabini, Kenya",Fly SAX,50102,Kitale - Nairobi,Cessna 208B Grand Caravan,5Y-CAC,208B0525,10 (passengers:8 crew:2),10 (passengers:8 crew:2),0,Ground lost contact with the aircraft when it ...
5778,"July 10, 2018",0744,"Pretoria, South Africa",Rovos Air,?,Test Flight,Convair CV-340,ZS-BRV,215,19 (passengers:16 crew:3),1 (passengers:0 crew:1),1,"Shortly after takeoff from runway 29, the left..."
5779,"August 04, 2018",1655,"Flims, Switzerland",Ju Air,?,Locorno - Dubendorf,Junkers JU-52,HB-HOT,6595,20 (passengers:17 crew:3),20 (passengers:17 crew:3),1,The vintage aircraft crashed onto Piz Segnas m...
5780,"September 28, 2018",1010,"Chuuk, Micronesia",Air Niugini,?,Pohnpei - Chuuk,Boeing 737-8BK,P2-PXE,33024/1688,47 (passengers:35 crew:12),1 (passengers:1 crew:0),0,The aircraft was approaching for a landing at ...
5781,"October 29, 2018",0631,"Off Jakarta, Indonesia",Lion Air,610,Jakarta - Pangkal Pinang,Boeing 737-MAX 8,PK-LQP,43000/7058,189 (passengers:181 crew:8),189 (passengers:181 crew:8),0,"The airliner crashed into the Jakarta Sea, 13 ..."
5782,"November 06, 2018",0253,"Georgetown, Guyana",Fly Jamaica Airways,?,Georgetown - Toronto,Boeing 757-N23,N524AT,30233/895,128 (passengers:120 crew:8),1 (passengers:1 crew:0),0,"After taking off and reaching FL200, the crew ..."

In [3]:
df2 = df1.rename(columns={'date': 'date accident', 'time':'local time', 'flight_no': 'flight number', 'cn_ln': 'construction or line number', 'ac_type': 'aircraft type'})
df2.head(3)

,date accident,local time,location,operator,flight number,route,aircraft type,registration,construction or line number,aboard,fatalities,ground,summary
0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5783 entries, 0 to 5782
Data columns (total 13 columns):
date accident                  5783 non-null object
local time                     5783 non-null object
location                       5783 non-null object
operator                       5783 non-null object
flight number                  5783 non-null object
route                          5783 non-null object
aircraft type                  5783 non-null object
registration                   5783 non-null object
construction or line number    5783 non-null object
aboard                         5783 non-null object
fatalities                     5783 non-null object
ground                         5783 non-null object
summary                        5783 non-null object
dtypes: object(13)
memory usage: 587.4+ KB

In [5]:
before = len(df2)
df2 = df2.drop_duplicates()
after = len(df2)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [6]:
df2['aboard'] = df2['aboard'].str[0]
#df2['fatalities'] = df2['fatalities'].str[-2]
df2.head(5)

#df2['aboard'] = pd.to_numeric(df2['aboard'].str[-1], errors='coerce')
#df2.head(3)

,date accident,local time,location,operator,flight number,route,aircraft type,registration,construction or line number,aboard,fatalities,ground,summary
0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",c 18:30,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,2,14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...

In [7]:
df2['fatalities'] = df2['fatalities'].str[0]
df2.head(5)

,date accident,local time,location,operator,flight number,route,aircraft type,registration,construction or line number,aboard,fatalities,ground,summary
0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,1,0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,5,0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,1,0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",c 18:30,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,2,1,0,The airship flew into a thunderstorm and encou...

In [8]:
df2.loc[df2['aboard'] == '?', 'aboard'] = 0
df2.loc[df2['fatalities'] == '?', 'fatalities'] = 0
df2.loc[df2['ground'] == '?', 'ground'] = 0

In [9]:
df2['aboard'] = df2['aboard'].astype(int)
df2['fatalities'] = df2['fatalities'].astype(int)
df2['ground'] = df2['ground'].astype(int)
df2.dtypes
#trabajar sobre el numero de fallecidos / pasajeros y tribulantes

date accident                  object
local time                     object
location                       object
operator                       object
flight number                  object
route                          object
aircraft type                  object
registration                   object
construction or line number    object
aboard                          int32
fatalities                      int32
ground                          int32
summary                        object
dtype: object

In [10]:
df2['flight number'] = df2['flight number'].str.replace('?', '-')
df2['location'] = df2['location'].str.replace('?', '-')
df2['operator'] = df2['operator'].str.replace('?', '-')
df2['route'] = df2['route'].str.replace('?', '-')
df2['aircraft type'] = df2['aircraft type'].str.replace('?', '-')
df2['registration'] = df2['registration'].str.replace('?', '-')
df2['construction or line number'] = df2['construction or line number'].str.replace('?', '-')
df2.head(10)
#df2['local time'] = df2['local time'].str.replace('?', '-')
#tambien retirarlo 'date accident'

,date accident,local time,location,operator,flight number,route,aircraft type,registration,construction or line number,aboard,fatalities,ground,summary
0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,-,Demonstration,Wright Flyer III,-,1,2,1,0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",-,-,Air show,Wright Byplane,SC1,-,1,1,0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,-,Test flight,Dirigible,-,-,5,5,0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,-,-,Curtiss seaplane,-,-,1,1,0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",c 18:30,Over the North Sea,Military - German Navy,-,-,Zeppelin L-1 (airship),-,-,2,1,0,The airship flew into a thunderstorm and encou...
5,"October 17, 1913",c 10:30,"Near Johannisthal, Germany",Military - German Navy,-,-,Zeppelin L-2 (airship),-,-,3,3,0,Hydrogen gas which was being vented was sucked...
6,"March 05, 1915",c 01:00,"Tienen, Belgium",Military - German Navy,-,-,Zeppelin L-8 (airship),-,-,4,2,0,Crashed into trees while attempting to land af...
7,"September 03, 1915",c 15:20,"Off Cuxhaven, Germany",Military - German Navy,-,-,Zeppelin L-10 (airship),-,-,1,1,0,"Exploded and burned near Neuwerk Island, when..."
8,"July 28, 1916",?,"Near Jambol, Bulgeria",Military - German Army,-,-,Schutte-Lanz S-L-10 (airship),-,-,2,2,0,"Crashed near the Black Sea, cause unknown."
9,"September 24, 1916",c 01:00,"Billericay, England",Military - German Navy,-,-,Zeppelin L-32 (airship),-,-,2,2,0,Shot down by British aircraft crashing in flames.

In [11]:
def time(string):
    res = ''
    if  len(string) == 4:
        res = string[0:2] + ':' + string[2:4]
    else:
        res = string
    return res.replace('c','').replace('?','-')
df2['local time'] = df2['local time'].apply(time)
df2

,date accident,local time,location,operator,flight number,route,aircraft type,registration,construction or line number,aboard,fatalities,ground,summary
0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,-,Demonstration,Wright Flyer III,-,1,2,1,0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",-,"Juvisy-sur-Orge, France",-,-,Air show,Wright Byplane,SC1,-,1,1,0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,-,Test flight,Dirigible,-,-,5,5,0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",-,"Victoria, British Columbia, Canada",Private,-,-,Curtiss seaplane,-,-,1,1,0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",18:30,Over the North Sea,Military - German Navy,-,-,Zeppelin L-1 (airship),-,-,2,1,0,The airship flew into a thunderstorm and encou...
5,"October 17, 1913",10:30,"Near Johannisthal, Germany",Military - German Navy,-,-,Zeppelin L-2 (airship),-,-,3,3,0,Hydrogen gas which was being vented was sucked...
6,"March 05, 1915",01:00,"Tienen, Belgium",Military - German Navy,-,-,Zeppelin L-8 (airship),-,-,4,2,0,Crashed into trees while attempting to land af...
7,"September 03, 1915",15:20,"Off Cuxhaven, Germany",Military - German Navy,-,-,Zeppelin L-10 (airship),-,-,1,1,0,"Exploded and burned near Neuwerk Island, when..."
8,"July 28, 1916",-,"Near Jambol, Bulgeria",Military - German Army,-,-,Schutte-Lanz S-L-10 (airship),-,-,2,2,0,"Crashed near the Black Sea, cause unknown."
9,"September 24, 1916",01:00,"Billericay, England",Military - German Navy,-,-,Zeppelin L-32 (airship),-,-,2,2,0,Shot down by British aircraft crashing in flames.
10,"October 01, 1916",23:45,"Potters Bar, England",Military - German Navy,-,-,Zeppelin L-31 (airship),-,-,1,1,0,Shot down in flames by the British 39th Home D...
11,"November 21, 1916",-,"Mainz, Germany",Military - German Army,-,-,Super Zeppelin (airship),-,-,2,2,0,Crashed in a storm.
12,"November 28, 1916",23:45,"Off West Hartlepool, England",Military - German Navy,-,-,Zeppelin L-34 (airship),-,-,2,2,0,Shot down by British anti-aircraft fire and ai...
13,"March 04, 1917",-,"Near Gent, Belgium",Military - German Army,-,-,Airship,-,-,2,2,0,Caught fire and crashed.
14,"March 30, 1917",-,Off Northern Germany,Military - German Navy,-,-,Schutte-Lanz S-L-9 (airship),-,-,2,2,0,Struck by lightning and crashed into the Balti...
15,"May 14, 1917",05:15,"Near Texel Island, North Sea",Military - German Navy,-,-,Zeppelin L-22 (airship),-,-,2,2,0,"Crashed into the sea from an altitude of 3,000..."
16,"June 14, 1917",08:45,"Off Vlieland Island, North Sea",Military - German Navy,-,-,Zeppelin L-43 (airship),-,-,2,2,0,Shot down by British aircraft.
17,"June 17, 1917",-,"Near Yarmouth, England",-,-,-,Zepplin LZ-95 (air ship),L-48,-,1,1,0,Shot down by aircraft.
18,"August 21, 1917",07:00,Off western Denmark,Military - German Navy,-,-,Zeppelin L-23 (airship),-,-,1,1,0,Shot down by British aircraft.
19,"October 20, 1917",07:45,"Near Luneville, France",Military - German Navy,-,-,Zeppelin L-44 (airship),-,-,1,1,0,Shot down by French anti-aircraft fire.
20,"April 07, 1918",21:30,Over the Mediterranean,Military - German Navy,-,-,Zeppelin L-59 (airship),-,-,2,2,0,Exploded and crashed into the sea off the sout...
21,"May 10, 1918",-,"Off Helgoland Island, Germany",Military - German Navy,-,-,Zeppelin L-70 (airship),-,-,2,2,0,Shot down by British aircraft crashing from a ...
22,"August 11, 1918",10:00,"Ameland Island, North Sea",Military - German Navy,-,-,Zeppelin L-53 (airship),-,-,1,1,0,Shot down by british aircraft.
23,"December 16, 1918",-,"Elizabeth, New Jersey",US Aerial Mail Service,-,-,De Havilland DH-4,97,-,1,1,0,Carl Smith was killed when his mail plane feet...
24,"May 25, 1919",-,"Cleveland, Ohio",US Aerial Mail Service,-,-,De Havilland DH-4,61,-,1,1,0,Caught fire in midair. The pilot leaped from t...
25,"July 19, 1919",-,"Dix Run, Pennsylvania",US Aerial Mail Service,-,-,De Havilland DH-4,82,-,1,1,0,?
26,"August 02, 1919",-,"Verona, Italy",Caproni Company,-,Venice Taliedo,Caproni Ca.48,-,-,1,1,0,As the plane was passing over Verona the wings...
27,"October 02, 1919",-,"Newcastle, England",Aircraft Transport and Travel,-,-,De Havilland DH-4,-,-,1,1,0,?
28,"October 14, 1919",-,"Cantonsville, Maryland",US Aerial Mail Service,-,-,Curtiss R-4LM,32,-,1,1,0,The pilot was performing a mail flight to Balt...
29,"October 20, 1919",-,"English Channel off Forkstone, Kent",Aircraft Transport and Travel,-,-,De Havilland DH-4,G-EAHG,-,0,0,0,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5753,"March 10, 2017",11:20,"Istanbul, Turkey",Swan Aviation,-,Istanbul - Bozuyuk,Sikorsky S-76C,TC-HEZ,760717,7,7,0,The helicopter crashed on a highway after hitt...
5754,"March 27, 2017",08:15,"Mautaer, Zimbabwe",ETA Air Charter,-,"Beira, Mozambique - Harare, Zimbabwe",Britten-Norman BN2 Islander,C9-AOV,024,6,6,0,While en route the air transport plane collide...
5755,"May 05, 2017",06:53,"Charleston, West Virginia",Air Cargo Carriers,-,Louisville - Charleston,Shorts 300-200,N334AC,SH-3029,2,2,0,The cargo plane was destroyed when it crashed ...
5756,"May 15, 2017",15:30,"Carlstadt,, New Jersey",A&C Big Sky Aviation,-,"Philadelphia, PA - Teteboro, NJ",Learjet 35A-452,N452DA,35A-452,2,2,0,"While on approach to Teleboro Airport, the air..."
5757,"May 27, 2017",14:02,"Tenzing, Nepal",Summit Air,409,-,Let L-410UVP-E20,9N-AKY,2917,3,2,0,The cargo plane crashed short of the runway th...
5758,"June 07, 2017",13:35,"Off Dawei, Myanmar",Myanmar Air Force,-,Myeik - Yangon,Shaanxi Y-8F-200W,5820,-,1,1,0,The transport plane carrying military personne...
5759,"June 28, 2017",10:15,"Mount Gambier, South Australia",Angel Flight,-,Suttontown - Adelaide,Socata TB1-10 Tobago,VH-YTM,1518,3,3,0,The medical flight crashed 3 km south of Mount...
5760,"July 10, 2017",16:00,"Near Itta Bena, Mississipi",USMC,-,"Cherry Point, NC - El Centro, CA",Lockheed KC-130T Hercules,165000,382-5303,1,1,0,"While en route, the Marine Corps transport suf..."
5761,"October 14, 2017",08:30,"Abidjan, Ivory Coast",Valan International Cargo Charter,-,Burkina Faso - Abidjan,Antonov AN-26-100,ER-AVB,3204,1,4,0,"The cargo plane, carrying French military carg..."
5762,"November 15, 2017",08:00,"Empakaai, Tanzania",Costal Aviation,-,Arusha - Serengeti,Cessna 208B Grand Caravan,5H-EGG,208B-0476,1,1,0,The chartered Cessna was flying tourists from ...
5763,"December 13, 2017",18:15,"Near Fond-du-Lac, Saskatchewan",West Wind Aviation,-,Fond-du-Lac - Stony Rapids,ATR42-320,C-GWEA,240,2,1,0,"Shortly after taking off, the aircraft lost al..."
5764,"December 31, 2017",12:16,"Punta Islita, Costa Rica",Naure Air,-,Punta Islita - San Jose,Cessna 208B Grand Caravan,TI-BEI,208B-0900,1,1,0,The passenger plane crashed 10 minutes after t...
5765,"January 29, 2018",-,"Zhengchang, Suiyang County, Guizhou Province",People's Liberation Army Air Force,-,-,Shaanxi Y-8GX-3,30513,-,1,1,0,Unknown
5766,"February 10, 2018",17:31,"Grand Canyon, Arizona",Papillon,-,Sightseeing,Eurocopter EC 130B4,N155GC,7091,7,3,0,The helicopter was observed making strange man...
5767,"February 11, 2018",14:31,"Argunovo, Russia",Saratov Airlines,703,Moscow - Orsk,Antonov AN-148-100,RA-61704,27015040004,7,7,0,The regional airliner took off from Moscow at ...
5768,"February 18, 2018",09:26,"Kohangan village, Iran",Iran Aseman Airlines,3704,Tehran - Yasuj,Iran Aseman Airlines,EP-ATS,-,6,6,0,The airliner was on approach to Yasuj Airport ...
5769,"March 06, 2018",14:51,"Latakia, Syria",Military - Russian Air Force,-,Kuweires Air Base - Latakia-Khmeimim Air Base,Antonov An-26,RF-92955/52,10107,3,3,0,While on approach to Latakia-Khmeimim Air Base...
5770,"March 11, 2018",19:08,"New York, New York",Liberty Helicopters,-,Sightseeing,Eurocopter AS 350B2,N350LH,7654,6,5,0,The sightseeing helicopter suddenly lost power...
5771,"March 12, 2018",14:15,"Kathmandu, Nepal",US-Bangla Airlines,221,Dhaka - Kathmandu,de Havilland Canada DHC-8-402Q Dash 8,S2-AGU,4041,7,5,0,"After getting clearance to land, the aircraft ..."
5772,"March 17, 2018",11:20,"Plaridel, Philippines",Lite Air Express,-,Plaridel - Laoag,Piper PA-32RT-300T,RP-C299,32R-7985036,5,5,5,The small passenger plane crashed shortly afte...
5773,"April 11, 2018",08:00,"Boufarik AB, Algeria",Military - Algerian Air Force,-,Boufarik AB - Bechar - Tindouf,Ilyushin 76-TD,7T-WIP,1043419636,2,2,0,The Algerian military plane crashed soon after...
5774,"April 17, 2018",10:04,"NW of Philadelphia, Pennsylvania",Southwest Airlines,1380,New York - Dallas,Boeing 737-7H4,N722SW,27880/601,1,1,0,"While climbing to FL320, the No. 1 engine suff..."
5775,"May 02, 2018",11:30,"Port Wentworth, Georgia",Military - US Air Force,-,Savannah - Tuscon,Lockheed HC-130H Hercules,65-0968,382-4110,9,9,0,A Porto Rico Air National Guard plane crashed ...
5776,"May 18, 2018",12:08,"Havana, Cuba",Cubana (leased from Global Air),972,Havana- Holguin,Boeing 737-201,XA-UHZ,21816/592,1,1,0,After taking off from runway 06 at Havana-José...
5777,"June 05, 2018",17:00,"Near Njabini, Kenya",Fly SAX,50102,Kitale - Nairobi,Cessna 208B Grand Caravan,5Y-CAC,208B0525,1,1,0,Ground lost contact with the aircraft when it ...
5778,"July 10, 2018",07:44,"Pretoria, South Africa",Rovos Air,-,Test Flight,Convair CV-340,ZS-BRV,215,1,1,1,"Shortly after takeoff from runway 29, the left..."
5779,"August 04, 2018",16:55,"Flims, Switzerland",Ju Air,-,Locorno - Dubendorf,Junkers JU-52,HB-HOT,6595,2,2,1,The vintage aircraft crashed onto Piz Segnas m...
5780,"September 28, 2018",10:10,"Chuuk, Micronesia",Air Niugini,-,Pohnpei - Chuuk,Boeing 737-8BK,P2-PXE,33024/1688,4,1,0,The aircraft was approaching for a landing at ...
5781,"October 29, 2018",06:31,"Off Jakarta, Indonesia",Lion Air,610,Jakarta - Pangkal Pinang,Boeing 737-MAX 8,PK-LQP,43000/7058,1,1,0,"The airliner crashed into the Jakarta Sea, 13 ..."
5782,"November 06, 2018",02:53,"Georgetown, Guyana",Fly Jamaica Airways,-,Georgetown - Toronto,Boeing 757-N23,N524AT,30233/895,1,1,0,"After taking off and reaching FL200, the crew ..."

In [12]:
df2['Date_Time'] = df2['date accident']+df2['local time']
df2.head(3)

,date accident,local time,location,operator,flight number,route,aircraft type,registration,construction or line number,aboard,fatalities,ground,summary,Date_Time
0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,-,Demonstration,Wright Flyer III,-,1,2,1,0,"During a demonstration flight, a U.S. Army fly...","September 17, 190817:18"
1,"September 07, 1909",-,"Juvisy-sur-Orge, France",-,-,Air show,Wright Byplane,SC1,-,1,1,0,Eugene Lefebvre was the first pilot to ever be...,"September 07, 1909-"
2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,-,Test flight,Dirigible,-,-,5,5,0,First U.S. dirigible Akron exploded just offsh...,"July 12, 191206:30"

In [13]:
df2['Date_Time'] = df2['Date_Time'][0]
df2.head(3)
#es la que me ha representado más problemas. No he podido editar la columna Date_Time

,date accident,local time,location,operator,flight number,route,aircraft type,registration,construction or line number,aboard,fatalities,ground,summary,Date_Time
0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,-,Demonstration,Wright Flyer III,-,1,2,1,0,"During a demonstration flight, a U.S. Army fly...","September 17, 190817:18"
1,"September 07, 1909",-,"Juvisy-sur-Orge, France",-,-,Air show,Wright Byplane,SC1,-,1,1,0,Eugene Lefebvre was the first pilot to ever be...,"September 17, 190817:18"
2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,-,Test flight,Dirigible,-,-,5,5,0,First U.S. dirigible Akron exploded just offsh...,"September 17, 190817:18"

In [14]:
df2['Total_death'] = df2['fatalities']+df2['ground']
df2.head(3)

,date accident,local time,location,operator,flight number,route,aircraft type,registration,construction or line number,aboard,fatalities,ground,summary,Date_Time,Total_death
0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,-,Demonstration,Wright Flyer III,-,1,2,1,0,"During a demonstration flight, a U.S. Army fly...","September 17, 190817:18",1
1,"September 07, 1909",-,"Juvisy-sur-Orge, France",-,-,Air show,Wright Byplane,SC1,-,1,1,0,Eugene Lefebvre was the first pilot to ever be...,"September 17, 190817:18",1
2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,-,Test flight,Dirigible,-,-,5,5,0,First U.S. dirigible Akron exploded just offsh...,"September 17, 190817:18",5

In [15]:
major_accident = df2['Total_death'].max()
print('The major accident had', major_accident, 'casualties. Here it comes the details:')

The major accident had 2759 casualties. Here it comes the details:

In [16]:
df2.loc[df2['Total_death'] == 2759]

,date accident,local time,location,operator,flight number,route,aircraft type,registration,construction or line number,aboard,fatalities,ground,summary,Date_Time,Total_death
5017,"September 11, 2001",08:47,"New York City, New York",American Airlines,11,Boston - Los Angeles,Boeing 767-223ER,N334AA,22332/169,9,9,2750,The aircraft was hijacked shortly after it lef...,"September 17, 190817:18",2759

In [17]:
df2.loc[df2['location'] == "-"]
#Accident records without location

,date accident,local time,location,operator,flight number,route,aircraft type,registration,construction or line number,aboard,fatalities,ground,summary,Date_Time,Total_death
428,"October 09, 1936",-,-,North Sea Aerial and General Transport,-,-,Blackburn B-2,G-ABWI,-,1,1,0,?,"September 17, 190817:18",1
605,"February 14, 1942",-,-,China National Aviation Corporation,-,-,Douglas DC-2,45,-,0,0,0,?,"September 17, 190817:18",0
620,"August 21, 1942",-,-,Deutsche Lufthansa,-,-,Siebel Si-204,-,-,4,4,0,"Lufthansa chairman, Von Gablenz killed.","September 17, 190817:18",4
966,"November 27, 1947",-,-,China National Aviation Corporation,-,-,Douglas DC-3,-,-,3,2,0,The cargo plane was shot down by communist ant...,"September 17, 190817:18",2
3155,"January 20, 1977",-,-,North Canada Air,-,-,Bristol 170 Freighter 31M,C-FWAD,13253,2,1,0,The cargo plane stalled nearly vertical and cr...,"September 17, 190817:18",1
4244,"August 15, 1991",-,-,Transports Aériens de la Guinee-Bissau,-,Kano - Bamako,Fokker F-27 Friendship 100,J5-GBB,10119,3,3,0,On a positioning flight the plane struck trees...,"September 17, 190817:18",3

In [18]:
test = df2[(df2['aboard'] ==0) & (df2['fatalities']!=0)]
test[['date accident', 'location', 'operator', 'route', 'aboard', 'fatalities']]
#Pensar que las personas en el avión (aboard = pasajeros + crew) es menor que las fatalities (muertes de pasajeros +crew)
#conduciria a pensar que se tratan de registros erroneos, pero no olvidar que el valor faltante ("?") fue convertido en cero

,date accident,location,operator,route,aboard,fatalities
361,"March 07, 1935","Schievelbein, Germany",Deruluft,-,0,3
619,"August 13, 1942","Algiers, Algeria",Air France,-,0,4
1156,"July 30, 1950","Algrete, Brazil","SAVG (S.A. Viacao Gaucha, )\nSAVG",-,0,1
1193,"January 20, 1951","Huilyo, Peru",Military - TAM,-,0,1
1324,"December 22, 1952","Damascus, Syria",Syrian Air,-,0,9
1346,"April 10, 1953","Near Anchieta Island, Brazil",REAL,-,0,2
1470,"February 26, 1955","Formosa, Argentina",de Havilland Dove,-,0,7
1472,"March 07, 1955","Near Cuidad de Valles, Mexic",Lockheed Loadstar,-,0,7
1539,"June 13, 1956",Over North Carolina,Piedmont,-,0,1
1589,"April 20, 1957","Jirkouk, Iraq",Air France,"Tehran, Iran - Istanbul, Turkey",0,1
1600,"June 24, 1957","Horn Island, Queensland, Australia",Adastra Airways,-,0,6
1602,"July 03, 1957","Near Fort Rupert, Quebec, Canada",Kenting Air,-,0,4
1622,"November 04, 1957","Moscow, Russia",TAROM,-,0,4
1954,"October 10, 1962","Brno, Czechoslovakia",Czechoslovak Airlinex,-,0,1
2020,"September 02, 1963",Northeast Laos,-,-,0,1
2025,"October 04, 1963","Cucuta, Colombia",SEA,-,0,4
2168,"November 04, 1965",Southeastern Colombia,Aeropesca,-,0,6
2251,"November 26, 1966","Near La Pedrera, Colombia",-,-,0,9
2321,"August 11, 1967","Near Marinilla, Colombia",-,-,0,6
2322,"August 21, 1967",Off South Vietnam,China Airlines,-,0,2
2329,"October 09, 1967",Caribbean Sea,LACSA,-,0,2
2842,"May 29, 1973","Near Lagoinha, Brazil",Amazonense,-,0,9
2954,"October 05, 1974",Guatemala,-,-,0,6
2982,"December 28, 1974","Tikal, Guatemala",-,-,0,1
3167,"March 30, 1977","Near Sanga Sanga, Philippines",Swift Air,Zamboanga - Sanga Sanga,0,6
3211,"November 03, 1977","Belgrade, Yugoslavia",El Al,-,0,1
3577,"August 11, 1982",Pacific Ocean,Pan American World Airways,Tokyo - Honolulu,0,1
4054,"May 09, 1989","Near Tainjin, China",Aero Asahi,-,0,1
4291,"February 20, 1992",En route from Argentina to California,Aerolineas Argentinas,-,0,1

In [19]:
df2['Total_death'].value_counts().head()

1    1692
2    1199
3     797
4     538
5     413
Name: Total_death, dtype: int64

In [20]:
df2.loc[df2['Total_death'] > 100]
#Accidentes que causaron más de 100 muertes

,date accident,local time,location,operator,flight number,route,aircraft type,registration,construction or line number,aboard,fatalities,ground,summary,Date_Time,Total_death
2256,"December 24, 1966",19:15,"Binh Tahi, Da Nang, Vietnam",Flying Tiger Line,-,-,Canadair CL-44D4-1,N228SW,31,4,4,125,The cargo plane undershot runway by 1 mile whi...,"September 17, 190817:18",129
3131,"October 13, 1976",-,"Santa Cruz, Bolivia",Lloyd Aéreo Boliviano,-,Santa Cruz - Viru,Boeing B-707-31,N730JP,17671/48,3,3,113,The aircraft failed to climb and crashed into ...,"September 17, 190817:18",116
4601,"January 08, 1996",12:43,"Kinshasa, Zaire",African Air,-,Kinshasa - Kahemba,Antonov AN-32B,RA-26222,2301,6,2,225,The aircraft failed to gain altitude after tak...,"September 17, 190817:18",227
5016,"September 11, 2001",09:03,"New York City, New York",United Air Lines,175,Boston - Los Angeles,Boeing B-767-222,N612UA,21873/41,6,6,2750,The aircraft was hijacked shortly after it lef...,"September 17, 190817:18",2756
5017,"September 11, 2001",08:47,"New York City, New York",American Airlines,11,Boston - Los Angeles,Boeing 767-223ER,N334AA,22332/169,9,9,2750,The aircraft was hijacked shortly after it lef...,"September 17, 190817:18",2759
5019,"September 11, 2001",09:45,"Arlington, Virginia.",American Airlines,77,Washington D.C. - Los Angeles,Boeing B-757-223,N644AA,24602/365,6,6,125,The aircraft was hijacked after taking off fro...,"September 17, 190817:18",131

In [21]:
low_variance = []

for col in df2._get_numeric_data():
    minimum = min(df2[col])
    ninety_perc = np.percentile(df2[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)

print(low_variance)

['ground']

In [22]:
df2 = df2.drop(low_variance, axis=1)

In [23]:
stats = df2.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

              count      mean        std  min  25%  50%  75%     max  IQR
aboard       5783.0  3.244164   2.346470  0.0  1.0  2.0  5.0     9.0  4.0
fatalities   5783.0  3.096836   2.291298  0.0  1.0  2.0  4.0     9.0  3.0
Total_death  5783.0  4.609718  51.564674  0.0  1.0  2.0  5.0  2759.0  4.0

In [24]:
outliers = pd.DataFrame(columns=df2.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = df2[(df2[col] < lower) | 
                   (df2[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
print(outliers)

                    Date_Time      Outlier Total_death aboard  \
146   September 17, 190817:18   fatalities           9      9
286   September 17, 190817:18   fatalities           9      9
314   September 17, 190817:18   fatalities           9      9
424   September 17, 190817:18   fatalities           9      1
433   September 17, 190817:18   fatalities           9      1
442   September 17, 190817:18   fatalities           9      9
453   September 17, 190817:18   fatalities           9      9
456   September 17, 190817:18   fatalities           9      9
482   September 17, 190817:18   fatalities           9      9
489   September 17, 190817:18   fatalities           9      9
506   September 17, 190817:18   fatalities           9      9
531   September 17, 190817:18   fatalities           9      9
540   September 17, 190817:18   fatalities           9      9
542   September 17, 190817:18   fatalities           9      9
564   September 17, 190817:18   fatalities           9      9
571   September 17, 190817:18   fatalities           9      1
585   September 17, 190817:18   fatalities           9      1
606   September 17, 190817:18   fatalities           9      9
607   September 17, 190817:18   fatalities           9      9
688   September 17, 190817:18   fatalities           9      2
715   September 17, 190817:18   fatalities           9      9
731   September 17, 190817:18   fatalities           9      1
844   September 17, 190817:18   fatalities           9      9
918   September 17, 190817:18   fatalities           9      9
973   September 17, 190817:18   fatalities           9      2
980   September 17, 190817:18   fatalities           9      9
1044  September 17, 190817:18   fatalities           9      4
1112  September 17, 190817:18   fatalities           9      9
1152  September 17, 190817:18   fatalities           9      9
1177  September 17, 190817:18   fatalities           9      9
...                       ...          ...         ...    ...
4451  September 17, 190817:18  Total_death          23      7
4601  September 17, 190817:18  Total_death         227      6
4606  September 17, 190817:18  Total_death          28      4
4660  September 17, 190817:18  Total_death          34      4
4662  September 17, 190817:18  Total_death          12      9
4739  September 17, 190817:18  Total_death          46      2
4755  September 17, 190817:18  Total_death          20      2
4792  September 17, 190817:18  Total_death          17      9
4826  September 17, 190817:18  Total_death          14      1
4833  September 17, 190817:18  Total_death          16      8
4865  September 17, 190817:18  Total_death          16      1
5016  September 17, 190817:18  Total_death        2756      6
5017  September 17, 190817:18  Total_death        2759      9
5019  September 17, 190817:18  Total_death         131      6
5072  September 17, 190817:18  Total_death          85      7
5090  September 17, 190817:18  Total_death          85      2
5148  September 17, 190817:18  Total_death          15      4
5177  September 17, 190817:18  Total_death          15      2
5281  September 17, 190817:18  Total_death          53      1
5290  September 17, 190817:18  Total_death          23      9
5378  September 17, 190817:18  Total_death          13      1
5391  September 17, 190817:18  Total_death          32      2
5416  September 17, 190817:18  Total_death          47      8
5455  September 17, 190817:18  Total_death          16      9
5561  September 17, 190817:18  Total_death          12      8
5570  September 17, 190817:18  Total_death          23      9
5619  September 17, 190817:18  Total_death          12      4
5632  September 17, 190817:18  Total_death          32      7
5711  September 17, 190817:18  Total_death          20      1
5751  September 17, 190817:18  Total_death          39      4

                     aircraft type construction or line number  \
146                Rohrbach Roland                          36
286          Ford 5-AT-C Tri Motor                    5-AT-062
314   Sikorsky S-38B (flying boat)                           -
424       Cant Z-506 (float plane)                           -
433                   Antonov AN-9                           -
442           Lockheed 10E Electra                           -
453   Sirkorsky S-43 (flying boat)                           -
456          Savoia-Marchetti SM73                       30014
482               Douglas DC-2-112                        1299
489   Lockheed 14-H2 Super Electra                        1439
506               Junkers JU-52/3m                        4024
531               Junkers JU-52/3m                        4042
540           Caudron C.635 Simoun                        7372
542                Dewoitine D-338                          25
564             Junkers JU-52/3mge                        5494
571                   Douglas DC-2                        1369
585                   Douglas DC-3                        3204
606         Consolidated Liberator                           9
607              deHavilland DH-86                        2309
688                   Douglas DC-3                        2095
715              Focke-Wulf FW 200                          20
731                   Douglas DC-3                        1965
844         Fairchild Pilgrim 100A                           -
918                Douglas C-47-DL                        4792
973                 Ilyushin IL-12                           -
980                   Douglas DC-3                        0275
1044                  Curtiss C-46                           -
1112                  Douglas DC-3                        9201
1152                  Douglas DC-3                       13769
1177                  Douglas DC-3                 15992/32740
...                            ...                         ...
4451    GD F-16D / Lockheed C-130E                1D-25 / 4322
4601                Antonov AN-32B                        2301
4606    McDonnell Douglas DC-8-55F                   45882/282
4660             Boeing B-707-323C                   19582/639
4662                    Fokker 100                       11440
4739            Antonov AN-124-100                     4516003
4755                Grummand EA-6B                       P-130
4792               Tupolev TU-154M                         720
4826                 Antonov AN-12                     3340909
4833      Douglas DC-3C (C-47A-DK)                       11831
4865             Boeing B-737-204C                   20389/251
5016              Boeing B-767-222                    21873/41
5017              Boeing 767-223ER                   22332/169
5019              Boeing B-757-223                   24602/365
5072          BAC One-Eleven 525FT                         266
5090                  Sukhoi Su-27                           -
5148      Lockheed C-130H Hercules                        4926
5177                 Antonov AN-26                           -
5281                Boeing 737-230                   22136/738
5290      Lockheed C-130B Hercules                        4386
5378              Airbus A-320-233                         789
5391                 Antonov AN-26                    47302001
5416     McDonnell Douglas DC-9-51                       47731
5455                    Learjet 45                      45-028
5561              Ilyushin Il-76TD                    43452546
5570                  Antonov 12BP                      402006
5619              Boeing B-727-200                  22540/1796
5632              Ilysushin Il-76T                   083410300
5711      Lockheed C130-B Hercules                        3616
5751               Boeing 747-412F                  32897/1322

           date accident fatalities flight number local time  \
146       April 19, 1928          9             -          -
286        July 16, 1932          9             -      08:00
314        June 11, 1933          9             -      17:00
424   September 28, 1936          9             -          -
433    December 06, 1936          9             -          -
442     January 11, 1937          9             -    C 10:30
453        June 02, 1937          9             -          -
456      August 02, 1937          9             -          -
482       March 01, 1938          9             8      21:30
489         May 16, 1938          9             -      02:07
506      August 15, 1938          9             -          -
531     January 13, 1939          9             -          -
540       April 03, 1939          9             -          -
542         May 02, 1939          9             -      15:30
564        June 14, 1940          9             -      14:00
571     October 29, 1940          9             -          -
585    February 26, 1941          9            21      11:50
606    February 15, 1942          9             -      08:50
607    February 20, 1942          9             -          -
688       April 21, 1944          9             -          -
715   September 27, 1944          9             -      20:30
731    December 01, 1944          9            13      00:54
844        July 26, 1946          9             -      08:30
918       March 08, 1947          9             -          -
973    December 18, 1947          9             6      08:45
980     January 08, 1948          9             -          -
1044   December 05, 1948          9             -          -
1112   December 07, 1949          9             -      17:15
1152       July 18, 1950          9             -          -
1177   November 23, 1950          9             -          -
...                  ...        ...           ...        ...
4451      March 23, 1994          0             -      14:30
4601    January 08, 1996          2             -      12:43
4606   February 04, 1996          4             -      14:12
4660    October 22, 1996          4             -      22:41
4662    October 31, 1996          9           402      08:27
4739   December 05, 1997          2             -      14:46
4755   February 03, 1998          0             -      15:15
4792     August 29, 1998          7           389      13:03
4826   February 02, 1999          1             -      05:08
4833      March 18, 1999          8             -      16:05
4865     August 31, 1999          6          3142      20:55
5016  September 11, 2001          6           175      09:03
5017  September 11, 2001          9            11      08:47
5019  September 11, 2001          6            77      09:45
5072        May 04, 2002          7          4226      13:30
5090       July 27, 2002          0             -      12:45
5148       June 30, 2003          4             -      10:50
5177   November 29, 2003          2             -      15:20
5281  September 05, 2005          9           091      09:40
5290   December 06, 2005          9             -      14:15
5378       July 17, 2007          1          3054      18:52
5391    October 04, 2007          2             -      10:40
5416      April 15, 2008          0             -      14:30
5455   November 04, 2008          9             -      18:40
5561   November 27, 2010          8          4412      01:53
5570      March 21, 2011          9             -          -
5619       June 02, 2012          0           111      15:30
5632   November 30, 2012          7             -      17:50
5711       June 30, 2015          1             -      11:48
5751    January 16, 2017          4          6491      07:19

                                          location  \
146                                 Minuesa, Spain
286           Mount El Plomo, near Vitacura, Chile
314                             Glenview, Illinois
424                                Benghazi, Libya
433                                    Near Moscow
442          Near Playa V icente, Veracruz, Mexico
453                                          Chile
456                              Wadi Halfa, Sudan
482                       Near Wawona, Cailifornia
489                        Near Saugus, California
506                              Guanabara, Brazil
531                         Rio de Janeiro, Brazil
540                        Near Marrakech, Morocco
542                        Near Marrakech, Morocco
564   Off Prangli Island, Gulf of Finland, Estonia
571                            Near Changyi, China
585                               Atlanta, Georgia
606        English Channel, near Plymouth, England
607               Off Belmont, Brisbane, Australia
688                           Frederikstad, Norway
715                             Near Dijon, France
731                           Van Nuys, California
844                Near Huatesco, Veracruz, Mexico
918                           Cordillera, Colombia
973                            Krasnoyarsk, Russia
980                         Near Palestro, Algeria
1044                               Kiangwan, China
1112                           Vallejo, California
1152                           Near Bocoio, Angola
1177                                   Cuzco, Peru
...                                            ...
4451             Near Fayetteville, North Carolina
4601                               Kinshasa, Zaire
4606                            Asuncion, Paraguay
4660                                Manta, Ecuador
4662                             Sao Paolo, Brazil
4739                             Irkutsk-2, Russia
4755                  Near Cavalese, Trento, Italy
4792                                Quito, Ecuador
4826                                Luanda, Angola
4833                           Near Tame, Colombia
4865                       Buenos Aires, Argentina
5016                       New York City, New York
5017                       New York City, New York
5019                          Arlington, Virginia.
5072                                 Kano, Nigeria
5090                                 Lviv, Ukraine
5148                                Blida, Algeria
5177                                 Boende, Congo
5281                              Medan, Indonesia
5290                                  Tehran, Iran
5378                             Sao Paulo, Brazil
5391                            Kinshasa, DR Congo
5416                                   Goma, Congo
5455                           Mexico City, Mexico
5561                             Karachi, Pakistan
5570                           Pointe-Noire, Congo
5619                                  Accra, Ghana
5632                       Near Brazzaville, Congo
5711                              Medan, Indonesia
5751                           Bishkek, Kyrgyzstan

                                               operator     registration  \
146                                     Iberia Airlines           M-CCCC
286                                             Panagra           NC403H
314                                           Palwaukee          NC-141M
424                                     Ala Littoria SA           I-RODI
433                                            Deruluft        CCCP-D311
442                                            Mexicana           X-ABEO
453                       Linea Aerea Nacional de Chile                -
456                                        Ala Littoria           I-SUSA
482                   Trans Continental and Western Air          NC13789
489                           Northwest Orient Airlines          NC17394
506                                    Syndicato Condor           PP-CAT
531                                    Syndicato Condor           PP-CAY
540                                          Air France           F-AOOT
542                                          Air France           F-ARIC
564                                            Aero O-Y           OH-ALL
571                 China National Aviation Corporation          NC14297
585                                   Eastern Air Lines          NC28394
606                            British Overseas Airways           G-AGDR
607                                              Qantas           VH-USE
688                                  Deutsche Lufthansa           D-AAIG
715                                  Deutsche Lufthansa           D-AMHL
731                   Trans Continental and Western Air          NC17322
844                  Communicaciones Aereos de veracruz           XA-DEJ
918                                              VIARCO            C-400
973                                            Aeroflot           L-1343
980                  Transport Comp. Algerienne de T.A.           F-BDLG
1044                              Central Air Transport           XT-538
1112                                     Arrow Airlines          NC60256
1152                                DTA Angola Airlines           CR-LBK
1177                                            Faucett       OB-PAU-201
...                                                 ...              ...
4451  Military - U.S. Air Force / Military U.S. Air ...  88-0171/6810942
4601                                        African Air         RA-26222
4606                           Lineas Aereas del Caribe         HK-3979X
4660                                        Million Air           N751MA
4662                                       TAM (Brazil)           PT-MRK
4739                       Military - Russian Air Force      RA-82005/08
4755                       Military - U.S. Marine Corps     163045/CY-02
4792                                 Cubana de Aviacion         CU-T1264
4826                                          Savannair           EL-ASS
4833                                   ALIANSA Colombia           HK-337
4865            LAPA, Lineas Aereas Privadas Argentinas           LV-WRZ
5016                                   United Air Lines           N612UA
5017                                  American Airlines           N334AA
5019                                  American Airlines           N644AA
5072          EAS Airlines (Executive Airline Services)           5N-ESF
5090                       Military - Ukraine Air Force               42
5148                      Military - Algerian Air Force           7T-WHQ
5177                     Military - Congolese Air Force           9T-TAD
5281                                   Mandala Airlines           PK-RIM
5290      Military - Islamic Republic of Iran Air Force           5-8512
5378                                       TAM (Brazil)           PR-MBK
5391                                   Africa One Congo           9Q-COS
5416                                  Hewa Bora Airways           9Q-CHN
5455                                 Mexican Government           XC-VMC
5561                                            Sun Way           4L-GNI
5570                                    Trans Air Cargo           TN-AGK
5619                                         Allied Air           5N-BJN
5632                                       Aero Service         EK-76300
5711                    Military - Indonesian Air Force           A-1310
5751                   My Cargo Airlines (ACT Airlines)           TC-MCL

                                                  route  \
146                                  Barcelona - Madrid
286                Santiago, Chile - Mendosa, Argentina
314                                         Sightseeing
424                 Addis Ababa, Ethiopia - Rome, Italy
433                                                   -
442                       Mexico City - Merida, Yucatan
453                           Puerto Montt - Magallanes
456                               Rome, Italy - Kartoum
482           San Francisco - Winslow, AZ,  Burbank, CA
489                                  Burbank,- St. Paul
506                                Guanabara - Victoria
531                                                   -

C:\Users\52557\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [25]:
df2 = df2.to_csv('data-wrangling-Miguel.csv', index=False)