In [395]:
import sys
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import sqlite3
import numpy as np
######################             Avocado prices                   #############################
#Sin nombre: 0
#Fecha
#Precio promedio
#Volumen total
#4046
#4225
#4770
#Total Bolsas
#Bolsas pequeñas
#Bolsas Grandes
#Bolsos XLarge
#tipo
#año
#región

#Date - La fecha de la observación.
#AveragePrice - El precio medio de un solo aguacate.
#type - convencional u orgánico
#year - el año
#Region - La ciudad o región de la observación.
#Total Volume - Número total de aguacates vendidos.
#4046 - Número total de aguacates con PLU 4046 vendidos
#4225 - Número total de aguacates con PLU 4225 vendidos
#4770 - Número total de aguacates con PLU 4770 vendidos

#Cuando compre el aguacate, puede verificar la madurez aplicándolo suavemente con la mano. Debe ser firme pero no duro. Cuando esté maduro, debe sentir una ligera cura cuando lo presiona con el pulgar. Lamentablemente verás en nuestro video que nunca podrás estar al 100% de lo que hay dentro. Esto no es diferente a cualquier otra fruta o verdura, pero sigue siendo decepcionante.

#Los aguacates normalmente se pegan con un número de PLU que te ayudará a identificar de qué tipo y de dónde son. Aquí hay una breve lista de los PLU de identificación.
#tipo de aguacate Hass
#4046 - Hass - pequeño
#4225 - Hass - grande
#4770 - Hass Extra Large
#4224 - Verde - Grande desde el oeste del río Mississippi
#4222 - Verde - Pequeño del oeste del río Mississippi
#4221 - Verde - Pequeño del este del río Mississippi
#4223 - Verde - Grande desde el este del río Mississippi
#4771 - Verde - Medio del este del río Mississippi
#3080 - variedad Pinkerton - todos los tamaños
#ORGÁNICO: cualquier PLU con un “9” que lo preceda es orgánico"""

In [396]:
data = pd.read_csv('avocado-prices/avocado.csv', sep=',')
#data['id'] = range(len(data))
data.columns

Index(['Unnamed: 0', 'Date', 'AveragePrice', 'Total Volume', '4046', '4225',
       '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type',
       'year', 'region'],
      dtype='object')

In [397]:
#Note que la tabla con nombre Unnamed: 0 me da la semana del año en la cual se tomaron los datos por lo que
#decidi renombrar la coumna como week_year

In [398]:
data = data.rename(columns={'Unnamed: 0':'week_year'})
data.head()

,week_year,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [399]:
#1 Correccion de tipo de datos
for i in data.columns:
        print(i ,data[i].dtype)

data['Date'] = data['Date'].astype('datetime64')#lo cambie ya que corresponde a una fecha
print('Date' ,data['Date'].dtype, data['Date'][0])

week_year int64
Date object
AveragePrice float64
Total Volume float64
4046 float64
4225 float64
4770 float64
Total Bags float64
Small Bags float64
Large Bags float64
XLarge Bags float64
type object
year int64
region object
Date datetime64[ns] 2015-12-27 00:00:00

In [400]:
#2 VALORES FALTANTES
null_cols = data.isnull().sum()
#null_cols[null_cols > 0]
null_cols
#Al no tener ningun valor nulo decidi analizar la tabla

week_year       0
Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

In [401]:
#3 VALORES INCORRECTOS

#Note que la coumna de XLarge Bags tenia muchos valores cero, y obtuve la siguiente relacion: 
#Total Bags = Small Bags + Large Bags + XLarge Bags

In [402]:
e=0
for i,v in data.iterrows():
    if data['XLarge Bags'][i] == 0:
        if 0 != round(data['Total Bags'][i]-data['Small Bags'][i] -data['Large Bags'][i],2):
            e=+1
print('El numero de errores es ', e)

El numero de errores es  1

In [403]:
#reasigne los valores correctos que estaban en cero

In [404]:
data.loc[(round(data['XLarge Bags'],2)==0), 'XLarge Bags'] = round(data['Total Bags']-data['Small Bags'] -data['Large Bags'],2)
data

,week_year,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,-0.00,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,-0.00,conventional,2015,Albany
5,5,2015-11-22,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,-0.00,conventional,2015,Albany
6,6,2015-11-15,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.00,conventional,2015,Albany
7,7,2015-11-08,0.98,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,-0.00,conventional,2015,Albany
8,8,2015-11-01,1.02,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,-0.00,conventional,2015,Albany
9,9,2015-10-25,1.07,74338.76,842.40,64757.44,113.00,8625.92,8061.47,564.45,-0.00,conventional,2015,Albany
10,10,2015-10-18,1.12,84843.44,924.86,75595.85,117.07,8205.66,7877.86,327.80,0.00,conventional,2015,Albany
11,11,2015-10-11,1.28,64489.17,1582.03,52677.92,105.32,10123.90,9866.27,257.63,-0.00,conventional,2015,Albany
12,12,2015-10-04,1.31,61007.10,2268.32,49880.67,101.36,8756.75,8379.98,376.77,0.00,conventional,2015,Albany
13,13,2015-09-27,0.99,106803.39,1204.88,99409.21,154.84,6034.46,5888.87,145.59,0.00,conventional,2015,Albany
14,14,2015-09-20,1.33,69759.01,1028.03,59313.12,150.50,9267.36,8489.10,778.26,0.00,conventional,2015,Albany
15,15,2015-09-13,1.28,76111.27,985.73,65696.86,142.00,9286.68,8665.19,621.49,-0.00,conventional,2015,Albany
16,16,2015-09-06,1.11,99172.96,879.45,90062.62,240.79,7990.10,7762.87,227.23,0.00,conventional,2015,Albany
17,17,2015-08-30,1.07,105693.84,689.01,94362.67,335.43,10306.73,10218.93,87.80,-0.00,conventional,2015,Albany
18,18,2015-08-23,1.34,79992.09,733.16,67933.79,444.78,10880.36,10745.79,134.57,-0.00,conventional,2015,Albany
19,19,2015-08-16,1.33,80043.78,539.65,68666.01,394.90,10443.22,10297.68,145.54,-0.00,conventional,2015,Albany
20,20,2015-08-09,1.12,111140.93,584.63,100961.46,368.95,9225.89,9116.34,109.55,-0.00,conventional,2015,Albany
21,21,2015-08-02,1.45,75133.10,509.94,62035.06,741.08,11847.02,11768.52,78.50,0.00,conventional,2015,Albany
22,22,2015-07-26,1.11,106757.10,648.75,91949.05,966.61,13192.69,13061.53,131.16,-0.00,conventional,2015,Albany
23,23,2015-07-19,1.26,96617.00,1042.10,82049.40,2238.02,11287.48,11103.49,183.99,-0.00,conventional,2015,Albany
24,24,2015-07-12,1.05,124055.31,672.25,94693.52,4257.64,24431.90,24290.08,108.49,33.33,conventional,2015,Albany
25,25,2015-07-05,1.35,109252.12,869.45,72600.55,5883.16,29898.96,29663.19,235.77,0.00,conventional,2015,Albany
26,26,2015-06-28,1.37,89534.81,664.23,57545.79,4662.71,26662.08,26311.76,350.32,0.00,conventional,2015,Albany
27,27,2015-06-21,1.27,104849.39,804.01,76688.55,5481.18,21875.65,21662.00,213.65,0.00,conventional,2015,Albany
28,28,2015-06-14,1.32,89631.30,850.58,55400.94,4377.19,29002.59,28343.14,659.45,0.00,conventional,2015,Albany
29,29,2015-06-07,1.07,122743.06,656.71,99220.82,90.32,22775.21,22314.99,460.22,-0.00,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18219,6,2018-02-11,1.56,1317000.47,98465.26,270798.27,1839.80,945638.02,768242.42,177144.00,251.60,organic,2018,TotalUS
18220,7,2018-02-04,1.53,1384683.41,117922.52,287724.61,1703.52,977084.84,774695.74,201878.69,510.41,organic,2018,TotalUS
18221,8,2018-01-28,1.61,1336979.09,118616.17,280080.34,1270.61,936859.49,796104.27,140652.84,102.38,organic,2018,TotalUS
18222,9,2018-01-21,1.63,1283987.65,108705.28,259172.13,1490.02,914409.26,710654.40,203526.59,228.27,organic,2018,TotalUS
18223,10,2018-01-14,1.59,1476651.08,145680.62,323669.83,1580.01,1005593.78,858772.69,146808.97,12.12,organic,2018,TotalUS
18224,11,2018-01-07,1.51,1517332.70,129541.43,296490.29,1289.07,1089861.24,915452.78,174381.57,26.89,organic,2018,TotalUS
18225,0,2018-03-25,1.60,271723.08,26996.28,77861.39,117.56,166747.85,87108.00,79495.39,144.46,organic,2018,West
18226,1,2018-03-18,1.73,210067.47,33437.98,47165.54,110.40,129353.55,73163.12,56020.24,170.19,organic,2018,West
18227,2,2018-03-11,1.63,264691.87,27566.25,60383.57,276.42,176465.63,107174.93,69290.70,0.00,organic,2018,West
18228,3,2018-03-04,1.46,347373.17,25990.60,71213.19,79.01,250090.37,85835.17,164087.33,167.87,organic,2018,West
18229,4,2018-02-25,1.49,301985.61,34200.18,49139.34,85.58,218560.51,99989.62,118314.77,256.12,organic,2018,West
18230,5,2018-02-18,1.64,224798.60,30149.00,38800.64,123.13,155725.83,120428.13,35257.73,39.97,organic,2018,West
18231,6,2018-02-11,1.47,275248.53,24732.55,61713.53,243.00,188559.45,88497.05,99810.80,251.60,organic,2018,West
18232,7,2018-02-04,1.41,283378.47,22474.66,55360.49,133.41,205409.91,70232.59,134666.91,510.41,organic,2018,West
18233,8,2018-01-28,1.80,185974.53,22918.40,33051.14,93.52,129911.47,77822.23,51986.86,102.38,organic,2018,West
18234,9,2018-01-21,1.83,189317.99,27049.44,33561.32,439.47,128267.76,76091.99,51947.50,228.27,organic,2018,West
18235,10,2018-01-14,1.82,207999.67,33869.12,47435.14,433.52,126261.89,89115.78,37133.99,12.12,organic,2018,West
18236,11,2018-01-07,1.48,297190.60,34734.97,62967.74,157.77,199330.12,103761.55,95544.39,24.18,organic,2018,West
18237,0,2018-03-25,1.62,15303.40,2325.30,2171.66,0.00,10806.44,10569.80,236.64,0.00,organic,2018,WestTexNewMexico
18238,1,2018-03-18,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.00,organic,2018,WestTexNewMexico
18239,2,2018-03-11,1.56,22128.42,2162.67,3194.25,8.93,16762.57,16510.32,252.25,0.00,organic,2018,WestTexNewMexico
18240,3,2018-03-04,1.54,17393.30,1832.24,1905.57,0.00,13655.49,13401.93,253.56,-0.00,organic,2018,WestTexNewMexico
18241,4,2018-02-25,1.57,18421.24,1974.26,2482.65,0.00,13964.33,13698.27,266.06,-0.00,organic,2018,WestTexNewMexico
18242,5,2018-02-18,1.56,17597.12,1892.05,1928.36,0.00,13776.71,13553.53,223.18,-0.00,organic,2018,WestTexNewMexico
18243,6,2018-02-11,1.57,15986.17,1924.28,1368.32,0.00,12693.57,12437.35,256.22,-0.00,organic,2018,WestTexNewMexico
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.00,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,-0.00,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.00,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.00,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.00,organic,2018,WestTexNewMexico

In [405]:
#4 Limpieza de texto y eliminación de caracteres especiales

In [406]:
print(set(data['week_year']))
print(set(data['Date']))
print(set(data['type']))
print(set(data['year']))
#todas las instancias estan bien definidas

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52}
{Timestamp('2017-10-15 00:00:00'), Timestamp('2015-02-22 00:00:00'), Timestamp('2017-04-16 00:00:00'), Timestamp('2015-09-27 00:00:00'), Timestamp('2017-01-01 00:00:00'), Timestamp('2017-11-26 00:00:00'), Timestamp('2016-09-25 00:00:00'), Timestamp('2015-08-30 00:00:00'), Timestamp('2017-11-12 00:00:00'), Timestamp('2016-04-03 00:00:00'), Timestamp('2017-12-10 00:00:00'), Timestamp('2015-05-24 00:00:00'), Timestamp('2016-10-23 00:00:00'), Timestamp('2016-08-21 00:00:00'), Timestamp('2016-11-06 00:00:00'), Timestamp('2016-09-18 00:00:00'), Timestamp('2017-06-11 00:00:00'), Timestamp('2016-04-17 00:00:00'), Timestamp('2017-09-24 00:00:00'), Timestamp('2015-12-13 00:00:00'), Timestamp('2015-01-04 00:00:00'), Timestamp('2015-02-15 00:00:00'), Timestamp('2017-02-26 00:00:00'), Timestamp('2017-05-14 00:00:00'), Timestamp('2015-10-11 00:00:00'), Timestamp('2018-03-25 00:00:00'), Timestamp('2016-10-30 00:00:00'), Timestamp('2015-04-19 00:00:00'), Timestamp('2016-08-07 00:00:00'), Timestamp('2015-09-13 00:00:00'), Timestamp('2016-11-27 00:00:00'), Timestamp('2017-10-22 00:00:00'), Timestamp('2017-04-23 00:00:00'), Timestamp('2015-01-18 00:00:00'), Timestamp('2015-07-19 00:00:00'), Timestamp('2016-10-02 00:00:00'), Timestamp('2015-02-08 00:00:00'), Timestamp('2017-03-05 00:00:00'), Timestamp('2016-05-15 00:00:00'), Timestamp('2017-09-17 00:00:00'), Timestamp('2015-07-26 00:00:00'), Timestamp('2016-07-10 00:00:00'), Timestamp('2017-07-23 00:00:00'), Timestamp('2015-05-31 00:00:00'), Timestamp('2017-11-19 00:00:00'), Timestamp('2017-06-18 00:00:00'), Timestamp('2016-04-10 00:00:00'), Timestamp('2017-02-19 00:00:00'), Timestamp('2016-12-18 00:00:00'), Timestamp('2015-06-28 00:00:00'), Timestamp('2015-03-01 00:00:00'), Timestamp('2016-08-28 00:00:00'), Timestamp('2017-08-06 00:00:00'), Timestamp('2015-06-07 00:00:00'), Timestamp('2016-01-10 00:00:00'), Timestamp('2017-02-12 00:00:00'), Timestamp('2017-01-08 00:00:00'), Timestamp('2017-04-09 00:00:00'), Timestamp('2015-12-06 00:00:00'), Timestamp('2017-07-30 00:00:00'), Timestamp('2017-12-17 00:00:00'), Timestamp('2016-07-24 00:00:00'), Timestamp('2017-07-16 00:00:00'), Timestamp('2016-03-06 00:00:00'), Timestamp('2015-08-23 00:00:00'), Timestamp('2017-10-29 00:00:00'), Timestamp('2016-10-16 00:00:00'), Timestamp('2017-10-01 00:00:00'), Timestamp('2015-04-12 00:00:00'), Timestamp('2017-07-09 00:00:00'), Timestamp('2015-05-17 00:00:00'), Timestamp('2016-06-26 00:00:00'), Timestamp('2015-12-27 00:00:00'), Timestamp('2016-08-14 00:00:00'), Timestamp('2017-03-19 00:00:00'), Timestamp('2017-08-13 00:00:00'), Timestamp('2017-04-30 00:00:00'), Timestamp('2018-02-18 00:00:00'), Timestamp('2016-01-31 00:00:00'), Timestamp('2016-11-13 00:00:00'), Timestamp('2017-02-05 00:00:00'), Timestamp('2016-01-17 00:00:00'), Timestamp('2016-05-29 00:00:00'), Timestamp('2017-05-21 00:00:00'), Timestamp('2015-09-20 00:00:00'), Timestamp('2018-01-14 00:00:00'), Timestamp('2017-12-24 00:00:00'), Timestamp('2017-11-05 00:00:00'), Timestamp('2017-05-07 00:00:00'), Timestamp('2015-03-08 00:00:00'), Timestamp('2016-06-05 00:00:00'), Timestamp('2015-04-05 00:00:00'), Timestamp('2015-08-09 00:00:00'), Timestamp('2017-01-15 00:00:00'), Timestamp('2015-10-25 00:00:00'), Timestamp('2018-01-07 00:00:00'), Timestamp('2015-10-04 00:00:00'), Timestamp('2016-04-24 00:00:00'), Timestamp('2017-03-12 00:00:00'), Timestamp('2015-09-06 00:00:00'), Timestamp('2015-03-22 00:00:00'), Timestamp('2017-06-04 00:00:00'), Timestamp('2015-01-25 00:00:00'), Timestamp('2016-12-25 00:00:00'), Timestamp('2015-04-26 00:00:00'), Timestamp('2016-02-28 00:00:00'), Timestamp('2015-07-05 00:00:00'), Timestamp('2017-05-28 00:00:00'), Timestamp('2016-03-13 00:00:00'), Timestamp('2017-09-10 00:00:00'), Timestamp('2018-01-28 00:00:00'), Timestamp('2015-11-15 00:00:00'), Timestamp('2016-05-01 00:00:00'), Timestamp('2016-07-17 00:00:00'), Timestamp('2018-02-04 00:00:00'), Timestamp('2015-01-11 00:00:00'), Timestamp('2015-03-29 00:00:00'), Timestamp('2016-02-07 00:00:00'), Timestamp('2018-03-04 00:00:00'), Timestamp('2015-11-08 00:00:00'), Timestamp('2015-11-01 00:00:00'), Timestamp('2015-03-15 00:00:00'), Timestamp('2016-03-20 00:00:00'), Timestamp('2017-10-08 00:00:00'), Timestamp('2017-01-29 00:00:00'), Timestamp('2017-09-03 00:00:00'), Timestamp('2017-07-02 00:00:00'), Timestamp('2017-12-03 00:00:00'), Timestamp('2016-02-14 00:00:00'), Timestamp('2016-12-11 00:00:00'), Timestamp('2018-02-11 00:00:00'), Timestamp('2015-08-02 00:00:00'), Timestamp('2016-02-21 00:00:00'), Timestamp('2018-03-18 00:00:00'), Timestamp('2017-01-22 00:00:00'), Timestamp('2016-12-04 00:00:00'), Timestamp('2017-08-20 00:00:00'), Timestamp('2016-05-08 00:00:00'), Timestamp('2015-08-16 00:00:00'), Timestamp('2016-09-11 00:00:00'), Timestamp('2016-01-03 00:00:00'), Timestamp('2017-06-25 00:00:00'), Timestamp('2017-03-26 00:00:00'), Timestamp('2016-03-27 00:00:00'), Timestamp('2016-01-24 00:00:00'), Timestamp('2016-07-03 00:00:00'), Timestamp('2017-08-27 00:00:00'), Timestamp('2017-12-31 00:00:00'), Timestamp('2018-01-21 00:00:00'), Timestamp('2015-07-12 00:00:00'), Timestamp('2018-03-11 00:00:00'), Timestamp('2015-12-20 00:00:00'), Timestamp('2016-09-04 00:00:00'), Timestamp('2017-04-02 00:00:00'), Timestamp('2018-02-25 00:00:00'), Timestamp('2016-07-31 00:00:00'), Timestamp('2016-11-20 00:00:00'), Timestamp('2015-10-18 00:00:00'), Timestamp('2015-06-14 00:00:00'), Timestamp('2016-05-22 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2016-06-19 00:00:00'), Timestamp('2015-11-29 00:00:00'), Timestamp('2015-06-21 00:00:00'), Timestamp('2015-05-10 00:00:00'), Timestamp('2016-10-09 00:00:00'), Timestamp('2015-11-22 00:00:00'), Timestamp('2016-06-12 00:00:00'), Timestamp('2015-05-03 00:00:00')}
{'organic', 'conventional'}
{2016, 2017, 2018, 2015}

In [407]:
#5 Columnas de baja varianza

In [408]:
low_variance = []

for col in data._get_numeric_data():
    minimum = min(data[col])
    ninety_perc = np.percentile(data[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)

print(low_variance)
#No se genera ninguna columna que pueda eliminar

[]

In [409]:
#6 Encontrar y eliminar duplicados
before = len(data)
data = data.drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [410]:
#7 Estadistica

In [411]:
stats = data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
week_year,18249.0,24.232232,1.548104e+01,0.00,10.00,24.00,38.00,52.00,28.00
AveragePrice,18249.0,1.405978,4.026766e-01,0.44,1.10,1.37,1.66,3.25,0.56
Total Volume,18249.0,850644.013009,3.453545e+06,84.56,10838.58,107376.76,432962.29,62505646.52,422123.71
4046,18249.0,293008.424531,1.264989e+06,0.00,854.07,8645.30,111020.20,22743616.17,110166.13
4225,18249.0,295154.568356,1.204120e+06,0.00,3008.78,29061.02,150206.86,20470572.61,147198.08
4770,18249.0,22839.735993,1.074641e+05,0.00,0.00,184.99,6243.42,2546439.11,6243.42
Total Bags,18249.0,239639.202060,9.862424e+05,0.00,5088.64,39743.83,110783.37,19373134.37,105694.73
Small Bags,18249.0,182194.686696,7.461785e+05,0.00,2849.42,26362.82,83337.67,13384586.80,80488.25
Large Bags,18249.0,54338.088145,2.439660e+05,0.00,127.47,2647.71,22029.25,5719096.61,21901.78
XLarge Bags,18249.0,3106.426781,1.769289e+04,-1.00,0.00,0.00,132.50,551693.65,132.50
year,18249.0,2016.147899,9.399385e-01,2015.00,2015.00,2016.00,2017.00,2018.00,2.00

In [414]:
#De los datos apreciamos que solo podemos tomar las siguientes columnas
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data[(data[col] >= lower) | #cambie la desigualdad ya que solo me interesan los datos limpios
                   (data[col] <= upper)].copy()#cambie la desigualdad ya que solo me interesan los datos limpios
    results['Outlier'] = col
    outliers = outliers.append(results)
outliers=outliers[['week_year', 'AveragePrice', 'Total Volume', '4046', '4225',
       '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type']]
outliers

,week_year,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type
0,0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional
1,1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,-0.00,conventional
2,2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional
3,3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional
4,4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,-0.00,conventional
5,5,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,-0.00,conventional
6,6,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.00,conventional
7,7,0.98,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,-0.00,conventional
8,8,1.02,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,-0.00,conventional
9,9,1.07,74338.76,842.40,64757.44,113.00,8625.92,8061.47,564.45,-0.00,conventional
10,10,1.12,84843.44,924.86,75595.85,117.07,8205.66,7877.86,327.80,0.00,conventional
11,11,1.28,64489.17,1582.03,52677.92,105.32,10123.90,9866.27,257.63,-0.00,conventional
12,12,1.31,61007.10,2268.32,49880.67,101.36,8756.75,8379.98,376.77,0.00,conventional
13,13,0.99,106803.39,1204.88,99409.21,154.84,6034.46,5888.87,145.59,0.00,conventional
14,14,1.33,69759.01,1028.03,59313.12,150.50,9267.36,8489.10,778.26,0.00,conventional
15,15,1.28,76111.27,985.73,65696.86,142.00,9286.68,8665.19,621.49,-0.00,conventional
16,16,1.11,99172.96,879.45,90062.62,240.79,7990.10,7762.87,227.23,0.00,conventional
17,17,1.07,105693.84,689.01,94362.67,335.43,10306.73,10218.93,87.80,-0.00,conventional
18,18,1.34,79992.09,733.16,67933.79,444.78,10880.36,10745.79,134.57,-0.00,conventional
19,19,1.33,80043.78,539.65,68666.01,394.90,10443.22,10297.68,145.54,-0.00,conventional
20,20,1.12,111140.93,584.63,100961.46,368.95,9225.89,9116.34,109.55,-0.00,conventional
21,21,1.45,75133.10,509.94,62035.06,741.08,11847.02,11768.52,78.50,0.00,conventional
22,22,1.11,106757.10,648.75,91949.05,966.61,13192.69,13061.53,131.16,-0.00,conventional
23,23,1.26,96617.00,1042.10,82049.40,2238.02,11287.48,11103.49,183.99,-0.00,conventional
24,24,1.05,124055.31,672.25,94693.52,4257.64,24431.90,24290.08,108.49,33.33,conventional
25,25,1.35,109252.12,869.45,72600.55,5883.16,29898.96,29663.19,235.77,0.00,conventional
26,26,1.37,89534.81,664.23,57545.79,4662.71,26662.08,26311.76,350.32,0.00,conventional
27,27,1.27,104849.39,804.01,76688.55,5481.18,21875.65,21662.00,213.65,0.00,conventional
28,28,1.32,89631.30,850.58,55400.94,4377.19,29002.59,28343.14,659.45,0.00,conventional
29,29,1.07,122743.06,656.71,99220.82,90.32,22775.21,22314.99,460.22,-0.00,conventional
...,...,...,...,...,...,...,...,...,...,...,...
18219,6,1.56,1317000.47,98465.26,270798.27,1839.80,945638.02,768242.42,177144.00,251.60,organic
18220,7,1.53,1384683.41,117922.52,287724.61,1703.52,977084.84,774695.74,201878.69,510.41,organic
18221,8,1.61,1336979.09,118616.17,280080.34,1270.61,936859.49,796104.27,140652.84,102.38,organic
18222,9,1.63,1283987.65,108705.28,259172.13,1490.02,914409.26,710654.40,203526.59,228.27,organic
18223,10,1.59,1476651.08,145680.62,323669.83,1580.01,1005593.78,858772.69,146808.97,12.12,organic
18224,11,1.51,1517332.70,129541.43,296490.29,1289.07,1089861.24,915452.78,174381.57,26.89,organic
18225,0,1.60,271723.08,26996.28,77861.39,117.56,166747.85,87108.00,79495.39,144.46,organic
18226,1,1.73,210067.47,33437.98,47165.54,110.40,129353.55,73163.12,56020.24,170.19,organic
18227,2,1.63,264691.87,27566.25,60383.57,276.42,176465.63,107174.93,69290.70,0.00,organic
18228,3,1.46,347373.17,25990.60,71213.19,79.01,250090.37,85835.17,164087.33,167.87,organic
18229,4,1.49,301985.61,34200.18,49139.34,85.58,218560.51,99989.62,118314.77,256.12,organic
18230,5,1.64,224798.60,30149.00,38800.64,123.13,155725.83,120428.13,35257.73,39.97,organic
18231,6,1.47,275248.53,24732.55,61713.53,243.00,188559.45,88497.05,99810.80,251.60,organic
18232,7,1.41,283378.47,22474.66,55360.49,133.41,205409.91,70232.59,134666.91,510.41,organic
18233,8,1.80,185974.53,22918.40,33051.14,93.52,129911.47,77822.23,51986.86,102.38,organic
18234,9,1.83,189317.99,27049.44,33561.32,439.47,128267.76,76091.99,51947.50,228.27,organic
18235,10,1.82,207999.67,33869.12,47435.14,433.52,126261.89,89115.78,37133.99,12.12,organic
18236,11,1.48,297190.60,34734.97,62967.74,157.77,199330.12,103761.55,95544.39,24.18,organic
18237,0,1.62,15303.40,2325.30,2171.66,0.00,10806.44,10569.80,236.64,0.00,organic
18238,1,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.00,organic
18239,2,1.56,22128.42,2162.67,3194.25,8.93,16762.57,16510.32,252.25,0.00,organic
18240,3,1.54,17393.30,1832.24,1905.57,0.00,13655.49,13401.93,253.56,-0.00,organic
18241,4,1.57,18421.24,1974.26,2482.65,0.00,13964.33,13698.27,266.06,-0.00,organic
18242,5,1.56,17597.12,1892.05,1928.36,0.00,13776.71,13553.53,223.18,-0.00,organic
18243,6,1.57,15986.17,1924.28,1368.32,0.00,12693.57,12437.35,256.22,-0.00,organic
18244,7,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.00,organic
18245,8,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,-0.00,organic
18246,9,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.00,organic
18247,10,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.00,organic
18248,11,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.00,organic

In [415]:
outliers.to_csv('cleaned.csv')